<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div>
  <div class="card pt-2">
    <div class="card-header pt-1">
      <div class="row">
        <div class="col-sm-8 template-header">
          <h4 class="m-0">Configure Templates</h4>
        </div>
        <div class="col-sm-4 text-right">
          <button type="button" class="btn btn-md btn-primary" (click)="selectTemplate()">
            <span class="fas fa-image pr-2"></span>Add Template
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div *ngIf="!templateConfigurations.length" class="row">
        <div class="col-sm-12 text-center">
          <span *ngIf="isLoadingContent" class="text-large">Loading Content...</span>
          <div *ngIf="!isLoadingContent" class="p-5 m-3 empty-template-banner">
            <span>No template configurations found.<br>Please click on <Strong>Add Template</Strong> button to setup
              templates and overlays.</span>
          </div>
        </div>
      </div>
      <div *ngIf="templateConfigurations.length" class="row">
        <div class="col-sm-3 template-heading-text text-center">
          Source Template
        </div>
        <div class="col-sm-9 template-heading-text">
          {{regions.length > 1 ? 'Region Overlays' : 'Default Overlay'}}
        </div>
      </div>
      <div *ngFor="let templateConfiguration of templateConfigurations; let configIndex = index" class="row">
        <div class="col-sm-3 text-center pt-3 img-container-parent">
          <div class="img-container template-img-container">
            <div class="text-right pr-2 pt-1 region-badge-container">
              <!-- <span class="badge badge-primary">{{templateConfiguration.isAnnotated ? 'Annotated' : 'Non-Annotated'}}</span> -->
            </div>
            <img [src]="'/v1/templates/'+templateConfiguration.sourceTemplateId+'/thumbnail'" class="img-source">
            <div class="overlay">
              <button type="button" class="btn icon-btn btn-sm btn-primary" title="Change Template"
                (click)="selectTemplate(configIndex)">
                <span class="fas fa-edit"></span>
              </button>
              <button type="button" class="btn icon-btn btn-sm btn-danger" title="Remove Template"
                (click)="removeTemplate(configIndex)">
                <span class="fas fa-trash"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-9 pt-3">
          <div class="d-flex flex-row flex-wrap">
            <div *ngFor="let regionOverlay of templateConfiguration?.regionOverlays; let regionOverlayIndex = index"
              class="img-container mr-3 mb-3">
              <div class="text-right pr-2 pt-1 region-badge-container">
                <ng-template ngFor let-region [ngForOf]="regions">
                  <span *ngIf="regionOverlay.regionId === region.id" class="badge badge-info">{{region.name}}</span>
                </ng-template>
              </div>
              <img *ngIf="regionOverlay.overlayTemplateId"
                [src]="'/v1/templates/'+regionOverlay.overlayTemplateId+'/thumbnail'" class="img-source">
              <div *ngIf="!regionOverlay.overlayTemplateId" class="text-muted select-text col-sm-12 text-center">
                Click to select image
              </div>
              <div class="overlay">
                <button type="button" class="btn icon-btn btn-sm btn-primary" title="Select Overlay"
                  (click)="selectOverlay(configIndex, regionOverlayIndex)">
                  <span class="fas fa-edit"></span>
                </button>
                <button *ngIf="regionOverlay.overlayTemplateId" type="button" class="btn icon-btn btn-sm btn-danger"
                  title="Remove Overlay" (click)="removeOverlay(configIndex, regionOverlayIndex)">
                  <span class="fas fa-trash"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 card-footer">
      <div class="text-right">
        <button class="btn btn-primary" [disabled]="!templateConfigurations.length" (click)="renderSourceVideo()">
          <span class="fas fa-film pr-2"></span>Render Video
        </button>
        <button class="btn btn-primary" [disabled]="!templateConfigurations.length" (click)="saveConfiguration()">
          <span class="fas fa-upload pr-2"></span>Save Configuration
        </button>
      </div>
    </div>
  </div>
</div>
