/*!*********************************************************************************************************************
 * Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                                *
 *                                                                                                                    *
 * CONFIDENTIAL                                                                                                       *
 *                                                                                                                    *
 * All information contained herein is, and remains the property of Pixglo Inc and its partners,                      *
 * if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its           *
 * partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or  *
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless     *
 * prior written permission is obtained from Pixglo Inc.                                                              *
 *                                                                                                                    *
 **********************************************************************************************************************/

@import "../../../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../../vendor/styles/_appwork/functions";
@import "../../../../vendor/styles/_appwork/variables";

.template-header {
  display: flex;
  align-items: center;
}

.img-container {
  position: relative;
  width: 180px;
  height:155px;
  border: 1px dashed rgba(155, 155, 155, 0.815);
  display: inline-block;
}

.template-img-container {
  border: 1px dashed #e89553;
}

.img-source {
  width: 100%;
  height: 100%;
}

.region-badge-container {
  position: absolute;
  width: 180px;
}

.template-heading-text {
  font-size: 16px;
}

.empty-template-banner {
  background-color: #e8e8e8;
  border-radius: 10px;
  font-size: 18px;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.select-text {
  top: 46%;
}

.img-container:hover {
  background: rgba(0,0,0,0.8);
}

.img-container:hover .img-source {
  opacity: 0.1;
}

.img-container:hover .overlay {
  opacity: 1;
}

.img-container:hover .select-text {
  display: none;
}
