<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div>
    <div class="d-flex pb-3">
        <div class="flex-fill pt-2">
            <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchQuery"
                    (keyup)='triggerSearch($event)'>
            </div>
        </div>
        <div class="pr-0 pt-2 pl-2">
            <button type="button" class="btn btn-md btn-primary" [routerLink]="['create']">
            <span class="ion ion-md-pricetags"></span>&nbsp;&nbsp;Create Tag
            </button>
            <!-- <button type="button" class="btn btn-md btn-primary" [routerLink]="['create']" title="Click to filter record" [disabled]="true">
                <span class="fas fa-filter"></span>
            </button> -->
            <app-filter-view [objHeader]="filterFields" (filterResponse)="receiveFilterResponse($event)"></app-filter-view>
        </div>
    </div>

    <div class="card">
        <div class="card-ngx-datatable table-responsive">

            <ngx-datatable #table style="min-width: 500px" [rows]="content" [loadingIndicator]="loading" [columnMode]="'force'" [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true" [externalPaging]="true" [count]="page.total" [offset]="page.page - 1" [limit]="page.size" (page)='search($event.offset + 1)' (sort)="onSort($event)">
            <!-- <ngx-datatable-column name="First Name" prop="client" [maxWidth]="300">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>{{ row.name }}</ng-template>
            </ngx-datatable-column> -->

                <ngx-datatable-column name="Name">
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>{{ row.name }}</ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Parent">
                    <ng-template let-value="value" let-row="row" prop="parent" ngx-datatable-cell-template>{{ row?.parent?.name || '-'}}</ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Created On" prop="createdAt" [sortable]='false'>
                        <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value | date: 'short'}}
                        </ng-template>
                    </ngx-datatable-column>

                <ngx-datatable-column [maxWidth]="180" [minWidth]="150" [frozenRight]="true" name="Action" [sortable]='false'>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="text-center">
                        <button type="button" class="btn icon-btn btn-sm btn-dark" (click)="edit(row)"
                                app-permission="TAGS_CREATE_OR_UPDATE"
                                title="Edit Tag">
                        <span class="fas fa-edit"></span>
                        </button>
                        
                        <button type="button" class="btn icon-btn btn-sm btn-danger" (click)="del(row)" title="Delete Tag" app-permission="TAGS_DELETE">
                        <span class="fas fa-trash-alt"></span>
                        </button>
                    </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-footer>
                    <!--<app-data-table-pager></app-data-table-pager>-->
                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                    <div class="mt-2">
                        <hr/>
                        <!-- Spacer -->
                    </div>
                    <div class="page-count">
                        <div *ngIf="rowCount > pageSize else noPaging" class="text-muted">
                        Displaying {{(offset * pageSize) + 1}} - {{ curPage * pageSize}} of {{ rowCount}} Tag<span
                        *ngIf="rowCount != 1">s</span>
                        </div>
                        <ng-template #noPaging>
                        <div class="text-muted">
                            Displaying {{ rowCount}} Tag<span *ngIf="rowCount != 1">s</span>
                        </div>
                        </ng-template>
                    </div>
                    <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
                    </datatable-pager>
                    </ng-template>
                </ngx-datatable-footer>
            </ngx-datatable>
        </div>
    </div>
    <div class="custom-loader" *ngIf="loading">
        <!-- <div class="text-center no-data-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div> -->
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
