
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="row justify-content-center">
  <div class="card mb-4 col-lg-6">
    <form [formGroup]="tagForm" (ngSubmit)="save()">
      <div class="card-body">
        <div class="form-group">
            <label class="form-label">Parent</label>
            <ngx-select autocomplete="off" [items]="uniqueArray(objSelections.parent, preAvailableParent)" (typed)="getSelections($event)" (selectionChanges)="selectedField($event)" formControlName="parent" placeholder="Parent"></ngx-select>
          </div>
        <div class="form-group">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" placeholder="Name" formControlName="name" >
          <div *ngIf="tagForm.invalid && tagForm.controls.name.errors" class="invalid-feedback">
            <div *ngIf="tagForm.controls.name.errors.required || tagForm.controls.name.errors.nonEmpty">Name is required</div>
          </div>
        </div>
        
      </div>
      <div class="card-footer">
        <div class="d-flex flex-row action-buttons">
          <button *ngIf="isEditMode" type="button"
                  class="btn btn-danger mr-auto"
                  app-permission="TAGS_DELETE"
                  (click)="del()">
            Delete
          </button>
          <button type="button" class="btn btn-default ml-auto"
                  (click)="cancel()">
              Cancel
          </button>
          <button type="submit" class="btn btn-primary" [disabled]="tagForm.pristine || tagForm.invalid">
            <ng-container *ngIf="isEditMode; else saveLabel">
              Update
            </ng-container>
            <ng-template #saveLabel>
              Save
            </ng-template>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

