<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div>
  <div class="card pt-2">
    <div class="card-header pt-1">
      <div class="row">
        <div class="col-sm-8 media-header">
          <h4 class="m-0">Media Source</h4>
        </div>
        <div class="col-sm-4 text-right">
          <button *ngIf="selectedMedia" type="button" class="btn btn-md btn-danger" (click)="clearSelectedMedia()">
            <span class="fas fa-eraser"></span>&nbsp;&nbsp;Clear
          </button>
          <button type="button" class="btn btn-md btn-primary" (click)="selectMedia()">
            <span class="fas fa-video"></span>&nbsp;&nbsp;Select Media
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div *ngIf="selectedMedia" class="row">
        <div class="col-sm-9 p-0">
          <vg-player *ngIf="isPreviewSupported">
            <video class="w-100 h-100" [vgMedia]="media" [src]="contentSource" #media id="singleVideo" preload="auto" controls></video>
          </vg-player>
          <div *ngIf="!isPreviewSupported">
            <div class="card unsupported-info text-center">
              <div class="card-header">Sorry, previews are not supported for {{selectedMedia?.mediaType}} files.</div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 p-0">
          <div class="card meta-container">
            <div class="card-header">Video Metadata</div>
            <div class="card-body pt-2 pb-3">
              <div class="row meta-info">
                <div class="col-sm-5 text-muted">File Name</div>
                <div class="col-sm-1 p-0 text-muted">:</div>
                <div class="col-sm-6 p-0 text-muted">{{selectedMedia?.fileName || "N/A"}}</div>
                <div class="col-sm-5 text-muted">Frame Count</div>
                <div class="col-sm-1 p-0 text-muted">:</div>
                <div class="col-sm-6 p-0 text-muted">{{selectedMedia?.videoMetadata?.nb_frames || "N/A"}}</div>
                <div class="col-sm-5 text-muted">Bitrate</div>
                <div class="col-sm-1 p-0 text-muted">:</div>
                <div class="col-sm-6 p-0 text-muted">{{selectedMedia?.videoMetadata?.bit_rate | bitrate}}</div>
                <div class="col-sm-5 text-muted">Width</div>
                <div class="col-sm-1 p-0 text-muted">:</div>
                <div class="col-sm-6 p-0 text-muted">{{selectedMedia?.videoMetadata?.width || "N/A"}}</div>
                <div class="col-sm-5 text-muted">Height</div>
                <div class="col-sm-1 p-0 text-muted">:</div>
                <div class="col-sm-6 p-0 text-muted">{{selectedMedia?.videoMetadata?.height || "N/A"}}</div>
                <div class="col-sm-5 text-muted">Codec Type</div>
                <div class="col-sm-1 p-0 text-muted">:</div>
                <div class="col-sm-6 p-0 text-muted">{{selectedMedia?.videoMetadata?.codec_type || "N/A"}}</div>
                <div class="col-sm-5 text-muted">Time Base</div>
                <div class="col-sm-1 p-0 text-muted">:</div>
                <div class="col-sm-6 p-0 text-muted">{{selectedMedia?.videoMetadata?.codec_time_base || "N/A"}}</div>
                <div class="col-sm-5 text-muted">Aspect Ratio</div>
                <div class="col-sm-1 p-0 text-muted">:</div>
                <div class="col-sm-6 p-0 text-muted">{{selectedMedia?.videoMetadata?.display_aspect_ratio || "N/A"}}</div>
                <div class="col-sm-5 text-muted">Avg. Frame Rate</div>
                <div class="col-sm-1 p-0 text-muted">:</div>
                <div class="col-sm-6 p-0 text-muted">{{selectedMedia?.videoMetadata?.avg_frame_rate || "N/A"}}</div>
                <div class="col-sm-5 text-muted">Codec</div>
                <div class="col-sm-1 p-0 text-muted">:</div>
                <div class="col-sm-6 p-0 text-muted">{{selectedMedia?.videoMetadata?.codec_long_name || "N/A"}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!selectedMedia" class="row">
        <div class="col-sm-12 text-center">
          <span *ngIf="isLoadingContent" class="text-large">Loading Content...</span>
          <div *ngIf="!isLoadingContent" class="p-5 m-3 text-large media-select-banner">
            <span *ngIf="!isLoadingContent">Please select a media file</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
