<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<sidenav [orientation]="orientation" [ngClass]="getClasses()">

  <!-- Brand demo (see src/demo.css) -->
  <div class="app-brand demo" *ngIf="orientation !== 'horizontal'">
    <a routerLink="/" class="app-brand-text demo sidenav-text font-weight-normal ml-auto">
      <div class="pixglo-logo-100">
        <img [src]="imgUrl" onError="this.src='assets/img/logos/pixglo_100.png'">
      </div>
    </a>
    <!-- Hiding Toggle For Now -->
    <span class="ml-auto">
      <!-- Toggle Replacement. Remove  this span -->
      &nbsp;
    </span>
    <!--<a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto" (click)="toggleSidenav()">-->
      <!--<i class="ion ion-md-menu align-middle"></i>-->
    <!--</a>-->
  </div>
  <div class="sidenav-divider mt-0" *ngIf="orientation !== 'horizontal'"></div>

  <!-- Links -->
  <div class="sidenav-inner" [ngClass]="{ 'py-1': orientation !== 'horizontal' }">
    <!-- Dashboards -->
    <sidenav-router-link title="Home" icon="ion ion-md-home" route="/home" [active]="isActive('/home')">Home</sidenav-router-link>

    <app-sidenav-group title="CONTENT MANAGEMENT">
        <div class="pl-2 sidenav-link-inner">VIDEO MANAGEMENT</div>
        <div class="sidenav-child">
            <sidenav-router-link title="Video Library" icon="ion ion-md-videocam" route="/media" [active]="isActive('/media')" app-permission="MEDIA_VIEW">Video Library</sidenav-router-link>
            <sidenav-router-link title="Templates Library" icon="ion ion-md-photos" route="/templates" [active]="isActive('/templates')" app-permission="TEMPLATE_VIEW">Templates Library</sidenav-router-link>
            <sidenav-router-link title="Rendering Projects" icon="fas fa-window-restore" route="/rendering-jobs" [active]="isActive('/rendering-jobs')" app-permission="MEDIA_VIEW">Rendering Projects</sidenav-router-link>
        </div>
        
    <!-- </app-sidenav-group>
    <app-sidenav-group title="IMAGE MANAGEMENT"> -->
        <div class="pl-2 sidenav-link-inner">IMAGE MANAGEMENT</div>
        
        <div class="sidenav-child">
            <sidenav-router-link title="Tag Management" icon="ion ion-md-pricetags" route="/tags" [active]="isActive('/tags')" app-permission="MEDIA_VIEW">Tag Management</sidenav-router-link>
            <sidenav-router-link title="Annotation Projects" icon="ion ion-md-images" route="/projects" [active]="isActive('/projects')" app-permission="MEDIA_VIEW">Annotation Projects</sidenav-router-link>
        </div>
    </app-sidenav-group>
    <app-sidenav-group title="USER MANAGEMENT" class="mt-3">
        <div class="sidenav-child">
            <sidenav-router-link title="Tenants" icon="ion ion-md-business" route="/tenants" [active]="isActive('/tenants')" app-permission="TENANT_VIEW">Tenants</sidenav-router-link>
            <sidenav-router-link title="Executions" icon="fas fa-tasks" route="/executions" [active]="isActive('/executions')" app-permission="EXECUTIONS_VIEW">Executions</sidenav-router-link>
            <sidenav-router-link title="Users" icon="ion ion-ios-people" route="/users" [active]="isActive('/users')" app-permission="USERS_VIEW">Users</sidenav-router-link>
            <sidenav-router-link title="Roles" icon="ion ion-md-key" route="/roles" [active]="isActive('/roles')" app-permission="ROLES_VIEW">Roles</sidenav-router-link>
        </div>
    </app-sidenav-group>
  </div>
</sidenav>
