.app-body {
    height: 100%;
 overflow: hidden;  
}




.scrollbarcustom::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scrollbarcustom::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.scrollbarcustom::-webkit-scrollbar-thumb
{
	background-color: #F39200;
}
.btn, body {
    font-size: 14px
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%
}
body.app {
    background: #f3f6f9
}
.pointer {cursor: pointer;}
a, a:hover {
    -webkit-transition: all .3s;
    transition: all .3s;
    outline: 0
}
.default-color a, .default-color a:hover, a, a.default-color, a.default-color:hover, a:hover {
    text-decoration: none
}
.default-color a:hover, .gray-color a:hover, .left-sidebar-light .sidebar-menu ul li ul.sub li a:hover, .left-sidebar-light .sidebar-menu ul li ul.sub li.active a, .notification-list .nt-info a:hover, a.default-color:hover, a.gray-color:hover {
    color: #F39200
}
.gray-color a, a.gray-color {
    color: #bab8c3
}
.btn {
    cursor: pointer
}
.app-header .navbar-nav .nav-link i, .btn-lg {
    font-size: 18px
}
.btn-sm {
    font-size: 12px
}
.action-btn{
    padding: .350rem .50rem; 
}
button, button:focus, button:hover {
    outline: 0
}
strong, .strong {
    font-weight: 600;
}
.default-color, .default-color a, h1, h2, h3, h4, h5, h6 {
    color: #333333
}
.breadcrumb {
    background: 0 0;
    font-size: 12px
}
.app, .app-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal
}
.app {
    min-height: 100vh;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column
}
.app-body {
    overflow-x: hidden;
    flex-direction: row;
    -webkit-box-flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1
}
.app-body .left-sidebar {
    flex: 0 0 250px;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 0;
    -webkit-flex: 0 0 250px;
    -ms-flex: 0 0 250px;
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1
}
.app-body .main-content {
    flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1
}
.app-body .right-sidebar {
    flex: 0 0 250px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 250px;
    -ms-flex: 0 0 250px
}
.app-footer, .app-header, .left-sidebar, .main-content, .right-sidebar {
    -webkit-transition-duration: .25s, .25s;
    transition-duration: .25s, .25s;
    -webkit-transition-property: margin-left, margin-right;
    transition-property: margin-left, margin-right
}
.main-content .container-fluid {
    padding: 0 20px
}
.header-fixed .app-header {
    position: fixed;
    z-index: 1001;
    width: 100%
}
.header-fixed .app-body {
    margin-top: 60px
}
header.navbar, header.navbar .navbar-nav {
    flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row
}
header.navbar {
    position: relative;
    height: 60px;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0 1px 10px 1px rgba(115,108,203,.1)
}
header.navbar .navbar-nav {
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center
}
header.navbar .navbar-brand {
    display: inline-block;
    width: 250px;
    height: 60px;
    margin-right: 0;
    padding: .8rem 1.5rem;
    background-color: #ffffff
}
header.navbar .nav-item {
    position: relative;
    min-width: 60px;
    margin: 0;
    text-align: center
}
.left-sidebar {
    padding: 0
}
.left-sidebar .sidebar-menu {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    width: 250px;
    -ms-overflow-style: -ms-autohiding-scrollbar
}
.left-sidebar-fixed .left-sidebar {
    position: fixed;
    height: 100%
}
.left-sidebar-hidden .left-sidebar {
    margin-left: -250px
}
.left-sidebar-fixed.left-sidebar-hidden .app-footer, .left-sidebar-fixed.left-sidebar-hidden .main-content {
    margin-left: 0
}
.left-sidebar-fixed .left-sidebar .sidebar-menu {
    height: calc(100vh - 60px)
}
.left-sidebar-fixed .app-footer, .left-sidebar-fixed .main-content {
    margin-left: 250px
}
.right-sidebar {
    z-index: 1003;
    width: 500px;
    padding: 20px;
    color: #384042;
    border-left: 1px solid #e5e9ec;
    background: #fff
}
.right-sidebar .widget {
    margin-bottom: 30px
}
.right-sidebar .widget-title {
    font-size: 14px;
    font-weight: 700
}
.right-sidebar-fixed .app-footer, .right-sidebar-fixed .main-content {
    margin-right: 250px
}
.right-sidebar-fixed.right-sidebar-hidden .app-footer, .right-sidebar-fixed.right-sidebar-hidden .main-content, .right-sidebar-overlay .app-footer, .right-sidebar-overlay .main-content {
    margin-right: 0
}
.right-sidebar-fixed .right-sidebar {
    position: fixed;
    right: 0;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 100px
}
.right-sidebar-hidden .right-sidebar {
    margin-right: -500px
}
.app-footer {
    min-height: 50px;
    padding: 0 1rem;
    background: #fff;
    box-shadow: 0 1px 10px 1px rgba(115,108,203,.1);
    font-size: 12px;
    line-height: 50px
}
.right-sidebar-overlay.show .overlay-opacity {
    display: block;
}
.overlay-opacity {
    width: 100%;
    height: 100%;
    background: #00000047;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1003;
    overflow: hidden;
    outline: 0;
    display: none;
}
.app-footer .back-top {
    text-decoration: none;
    color: #a6b2cd;
    font-size: 24px
}
.app-footer, .app-footer .back-top:hover {
    color: #45567c
}

@media (min-width:1200px) {
.container {
    max-width: 1024px
}
}

@media (max-width:991px) {
.main-content {
    display: inline-block;
    width: 100%
}
.left-sidebar {
    width: 250px;
    margin-left: -250px
}
.app-footer, .main-content {
    margin-left: 0!important
}
.mobile-leftside-show .left-sidebar {
    width: 250px;
    margin-left: 0
}
.mobile-leftside-show .main-content {
    margin-right: -250px!important;
    margin-left: 250px!important
}
.mobile-rightside-show .right-sidebar {
    margin-right: 0
}
}
.sidebar-menu ul li {
    position: relative;
    font-weight: 400
}
.sidebar-menu .sub-menu>.sub li {
    padding-left: 50px
}
.sidebar-menu .sub-menu>.sub li li {
    padding-left: 20px
}
.sidebar-menu .sub-menu>.sub li:last-child {
    padding-bottom: 10px
}
#nav-accordion {
    margin-top: 20px;
    margin-bottom: 50px
}
.dcjq-icon {
    position: relative;
    top: -13px;
    float: right
}
.dcjq-icon:before {
    position: absolute;
    top: 15px;
    right: 1.5rem;
    content: "\f105";
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-family: fontawesome;
    font-size: 12px
}
.active .dcjq-icon:before {
    -webkit-transform: rotateZ(90deg);
    -ms-transform: rotate(90deg);
    transform: rotateZ(90deg)
}
.nav-collapse.collapse {
    display: inline
}
.left-sidebar {
    color: #fff;
    background: #1e1e1e
}
.left-sidebar .nav-title {
    margin-top: 15px
}
.left-sidebar .nav-title h5 {
    margin-bottom: 10px;
    padding-left: 1.5rem;
    letter-spacing: 1px;
    opacity: .3;
    color: #fff;
    font-size: 11px
}
.sidebar-menu ul li a.active, .sidebar-menu ul li a:focus, .sidebar-menu ul li a:hover {
    display: block;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    color: #F39200;
    background: #171717;
}
.sidebar-menu ul li a i {
    padding-right: 6px;
    font-size: 15px
}
.sidebar-menu ul, .sidebar-menu ul li ul.sub {
    margin: 0;
    padding: 0;
    list-style: none
}
.sidebar-menu>ul>li>ul.sub {
    display: none
}
.sidebar-menu>ul>li.active>ul.sub, .sidebar-menu>ul>li>ul.sub>li>a {
    display: block
}
.sidebar-menu ul li a, .sidebar-menu ul li ul.sub li a {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    color: #9c9ea7;
    font-size: 13px
}
.sidebar-menu ul li a {
    display: block;
    padding: 15px 0 15px 1.5rem;
    text-decoration: none;
    outline: none;
    line-height: 15px
}
.sidebar-menu ul li.sub-menu {
    line-height: 15px
}
.sidebar-menu ul li a span {
    display: inline-block
}

.sidebar-menu ul li a.active span{
    display: inline-block;
    border-bottom: 2px solid;
}




.sidebar-menu ul li ul.sub li {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    background: #171717;
}
.sidebar-menu ul li ul.sub li a {
    height: 40px;
    padding: 6px 0;
    line-height: 30px
}
.sidebar-menu ul li ul.sub li a:hover, .sidebar-menu ul li ul.sub li.active a {
    display: block;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 1;
    color: #F39200;
    background: 0 0
}
.left-sidebar-light .left-sidebar {
    color: #333333;
    background: #fff;
    box-shadow: 0 1px 10px 1px rgba(115,108,203,.1)
}
.bootstrap-timepicker table td a, .left-sidebar-light .left-sidebar .nav-title h5, .left-sidebar-light .sidebar-menu ul li a, .nav-pill-custom a {
    color: #333333
}
.left-sidebar-light .sidebar-menu ul li a.active, .left-sidebar-light .sidebar-menu ul li a:focus, .left-sidebar-light .sidebar-menu ul li a:hover, .left-sidebar-light .sidebar-menu ul li.active a {
    color: #F39200;
    background: 0 0
}
.left-sidebar-light .sidebar-menu ul li ul.sub li a {
    color: #85828d
}
.left-sidebar-light .sidebar-menu ul li ul.sub li {
    background: #fff
}
.left-sidebar-light .app-header.text-light .navbar-nav .nav-link {
    opacity: .6;
    color: #fff
}
.left-sidebar-light .app-header.text-light .navbar-nav .nav-link:hover {
    opacity: 1
}
.left-sidebar-light-alt .left-sidebar .nav-title h5, .left-sidebar-light-alt .sidebar-menu ul li a {
    margin: 0 15px;
    color: #333333
}
.left-sidebar-light-alt .sidebar-menu>ul>li.active a, .left-sidebar-light-alt .sidebar-menu>ul>li>a.active, .left-sidebar-light-alt .sidebar-menu>ul>li>a:focus, .left-sidebar-light-alt .sidebar-menu>ul>li>a:hover {
    color: #fff;
    border-radius: 4px;
    background: #f5484f
}
.left-sidebar-light-alt .sidebar-menu ul li ul.sub li a:hover, .left-sidebar-light-alt .sidebar-menu ul li ul.sub li.active a {
    color: #f5484f
}
.left-sidebar-light-alt .left-sidebar .nav-title {
    margin-top: 15px;
    margin-bottom: 15px
}
.earning-chart-info h4, .left-sidebar-light-alt .sidebar-menu ul li.sub-menu {
    margin-bottom: 5px
}
.left-sidebar-light-alt .left-sidebar .sidebar-menu {
    width: 230px
}
.left-sidebar-light-alt.left-sidebar-fixed .app-footer {
    margin-left: 0
}
.left-sidebar-light-alt.left-sidebar-fixed .left-sidebar .sidebar-menu {
    height: calc(100vh - 160px)
}
.left-sidebar-light-alt.left-sidebar-fixed .left-sidebar {
    left: 20px;
    height: auto;
    margin-top: 25px;
    border: 1px solid #e5e9ec;
    border-radius: 5px;
    box-shadow: none
}

@media (max-width:991px) {
.left-sidebar-light-alt.left-sidebar-fixed .left-sidebar {
    left: 0
}
}
.grid-view [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(86,61,124,.2);
    background-color: rgba(86,61,124,.15)
}
.grid-view {
    margin-bottom: 10px;
    padding: 0 15px
}
.card-group {
    box-shadow: 0 1px 10px 1px rgba(115,108,203,.1)
}
.card {
    border: 1px solid #e5e9ec
}
.card .card-header {
    padding: 1rem;
    border-bottom: 1px solid #e5e9ec;
    background: #fff
}
.card .card-header .card-title {
    margin-bottom: 0;
    color: #333333;
    font-size: 18px;
    font-weight: 500
}
.card .card-footer {
    border-top: 1px solid #e5e9ec;
    background: 0 0
}
.card-shadow {
    border: none;
    box-shadow: 0 1px 10px 1px rgba(115,108,203,.1)
}
.lobicard .dropdown-menu, .no-shadow {
    box-shadow: none
}
.lobicard {
    margin-bottom: 0
}
.lobicard>.card-header {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}
.lobicard>.card-header>.card-title input {
    width: 100%;
    padding: 0 5px;
    color: inherit;
    border: 1px solid #e5e9ec;
    border-radius: 2px;
    outline: 0;
    background-color: #fff;
    line-height: 30px
}
.lobicard>.card-header>.card-title input:focus {
    background: #fff
}
.lobicard .card-header .dropdown .dropdown-menu>li>a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 0;
    color: #868e96;
    border-radius: 50%;
    line-height: 30px
}
.lobicard .card-header .dropdown .dropdown-menu>li>a:focus:hover, .lobicard .card-header .dropdown .dropdown-menu>li>a:hover {
    color: #fff;
    background-color: #F39200;
    text-shadow: none
}
.lobicard.lobi-light .card-header .dropdown .dropdown-menu>li>a {
    color: #fff
}
.lobicard.lobi-light .card-header .dropdown .dropdown-menu>li>a:focus:hover, .lobicard.lobi-light .card-header .dropdown .dropdown-menu>li>a:hover {
    color: #2c2c2c;
    background-color: #fff;
    text-shadow: none
}
.card-collapsed>.card-header {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}
.btn-outline-primary:hover, .btn-outline-primary:not([disabled]):not(.disabled).active, .btn-outline-primary:not([disabled]):not(.disabled):active, .btn-primary, .card-primary, .show>.btn-outline-primary.dropdown-toggle {
    border-color: #F39200;
    background-color: #F39200
}
.btn-info, .btn-outline-info:hover, .btn-outline-info:not([disabled]):not(.disabled).active, .btn-outline-info:not([disabled]):not(.disabled):active, .card-info, .show>.btn-outline-info.dropdown-toggle {
    border-color: #36a2f5;
    background-color: #36a2f5
}
.btn-outline-success:hover, .btn-outline-success:not([disabled]):not(.disabled).active, .btn-outline-success:not([disabled]):not(.disabled):active, .btn-success, .card-success, .show>.btn-outline-success.dropdown-toggle {
    border-color: #71b317;
    background-color: #71b317
}
.btn-danger, .btn-outline-danger:hover, .btn-outline-danger:not([disabled]):not(.disabled).active, .btn-outline-danger:not([disabled]):not(.disabled):active, .card-danger, .show>.btn-outline-danger.dropdown-toggle {
    border-color: #f5484f;
    background-color: #f5484f
}
.btn-outline-warning:hover, .btn-outline-warning:not([disabled]):not(.disabled).active, .btn-outline-warning:not([disabled]):not(.disabled):active, .btn-warning, .card-warning, .show>.btn-outline-warning.dropdown-toggle {
    border-color: #F39200;
    background-color: #F39200
}
.btn-primary:hover, .btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    border-color: #333333;
    background-color: #333333
}
.btn-info:hover, .btn-info:not([disabled]):not(.disabled).active, .btn-info:not([disabled]):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    border-color: #0c8bec;
    background-color: #0c8bec
}
.btn-success:hover, .btn-success:not([disabled]):not(.disabled).active, .btn-success:not([disabled]):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    border-color: #598e10;
    background-color: #598e10
}
.btn-danger:hover, .btn-danger:not([disabled]):not(.disabled).active, .btn-danger:not([disabled]):not(.disabled):active, .show>.btn-danger.dropdown-toggle {
    border-color: #d6353c;
    background-color: #d6353c
}
.btn-warning:hover, .btn-warning:not([disabled]):not(.disabled).active, .btn-warning:not([disabled]):not(.disabled):active, .show>.btn-warning.dropdown-toggle {
    border-color: #e4b42c;
    background-color: #e4b42c
}
.btn-danger:not([disabled]):not(.disabled).active, .btn-danger:not([disabled]):not(.disabled):active, .btn-dark:not([disabled]):not(.disabled).active, .btn-dark:not([disabled]):not(.disabled):active, .btn-info:not([disabled]):not(.disabled).active, .btn-info:not([disabled]):not(.disabled):active, .btn-outline-danger:not([disabled]):not(.disabled).active, .btn-outline-danger:not([disabled]):not(.disabled):active, .btn-outline-dark:not([disabled]):not(.disabled).active, .btn-outline-dark:not([disabled]):not(.disabled):active, .btn-outline-info:not([disabled]):not(.disabled).active, .btn-outline-info:not([disabled]):not(.disabled):active, .btn-outline-primary:not([disabled]):not(.disabled).active, .btn-outline-primary:not([disabled]):not(.disabled):active, .btn-outline-secondary:not([disabled]):not(.disabled).active, .btn-outline-secondary:not([disabled]):not(.disabled):active, .btn-outline-success:not([disabled]):not(.disabled).active, .btn-outline-success:not([disabled]):not(.disabled):active, .btn-outline-warning:not([disabled]):not(.disabled).active, .btn-outline-warning:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .btn-secondary:not([disabled]):not(.disabled).active, .btn-secondary:not([disabled]):not(.disabled):active, .btn-success:not([disabled]):not(.disabled).active, .btn-success:not([disabled]):not(.disabled):active, .btn-warning:not([disabled]):not(.disabled).active, .btn-warning:not([disabled]):not(.disabled):active, .show>.btn-danger.dropdown-toggle, .show>.btn-dark.dropdown-toggle, .show>.btn-info.dropdown-toggle, .show>.btn-outline-danger.dropdown-toggle, .show>.btn-outline-dark.dropdown-toggle, .show>.btn-outline-info.dropdown-toggle, .show>.btn-outline-primary.dropdown-toggle, .show>.btn-outline-secondary.dropdown-toggle, .show>.btn-outline-success.dropdown-toggle, .show>.btn-outline-warning.dropdown-toggle, .show>.btn-primary.dropdown-toggle, .show>.btn-secondary.dropdown-toggle, .show>.btn-success.dropdown-toggle, .show>.btn-warning.dropdown-toggle {
    box-shadow: none
}
.btn-outline-primary {
    color: #F39200;
    border-color: #F39200
}
.btn-outline-success {
    color: #71b317;
    border-color: #71b317
}
.btn-outline-danger {
    color: #f5484f;
    border-color: #f5484f
}
.btn-outline-warning {
    color: #F39200;
    border-color: #F39200
}
.btn-outline-info {
    color: #36a2f5;
    border-color: #36a2f5
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #F39200;
    background-color: transparent
}
.btn-outline-success.disabled, .btn-outline-success:disabled {
    color: #55d1b8;
    background-color: transparent
}
.btn-outline-danger.disabled, .btn-outline-danger:disabled {
    color: #ff84ac;
    background-color: transparent
}
.btn-outline-warning.disabled, .btn-outline-warning:disabled {
    color: #f0d486;
    background-color: transparent
}
.btn-outline-info.disabled, .btn-outline-info:disabled {
    color: #67b8f7;
    background-color: transparent
}
.badge-primary, .bg-primary, .nav.nav-pills.nav-pills-primary .nav-link.active {
    background-color: #F39200!important
}
.badge-success, .bg-success, .nav.nav-pills.nav-pills-success .nav-link.active {
    background-color: #28a745!important
}
.badge-info, .bg-info, .nav.nav-pills.nav-pills-info .nav-link.active {
    background-color: #36a2f5!important
}
.badge-danger, .bg-danger, .nav.nav-pills.nav-pills-danger .nav-link.active {
    background-color: #f5484f!important
}
.badge-inverse, .bg-inverse, .nav.nav-pills.nav-pills-inverse .nav-link.active {
    background-color: #292b2c!important
}
.badge-warning, .bg-warning, .nav.nav-pills.nav-pills-warning .nav-link.active {
    background-color: #ffc107!important
}
.bg-white {
    background-color: #fff!important
}
.btn-primary.disabled, .btn-primary:disabled {
    border-color: #F39200;
    background-color: #F39200
}
.text-primary {
    color: #F39200!important
}
.text-success {
    color: #71b317!important
}
.text-warning {
    color: #F39200!important
}
.text-info {
    color: #36a2f5!important
}
.text-danger {
    color: #f5484f!important
}
.border-primary {
    border-color: #F39200!important
}
.border-success {
    border-color: #71b317!important
}
.border-warning {
    border-color: #F39200!important
}
.border-info {
    border-color: #36a2f5!important
}
.border-danger {
    border-color: #f5484f!important
}
.border-opacity {
    border-color: rgba(0,0,0,.125)!important
}

@media (max-width:991px) {
.d-md-down-none {
    display: none!important
}
}
a.text-light:focus, a.text-light:hover {
    color: #fff!important
}
.btn:focus {
    outline: none;
    box-shadow: none
}
.dropdown-menu {
    margin: .5rem 0 0;
    border: none;
    box-shadow: 0 10px 70px 0 rgba(108,158,195,.25);
    font-size: 14px
}
.dropdown-divider {
    background-color: #e5ebf8
}
.dropdown-item.active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
    background-color: #f2f6f9
}
.opacity-3 {
    opacity: .3
}
.app-header .d-user span, .f12 {
    font-size: 12px
}
.app-header .d-user h5, .f18 {
    font-size: 16px
}
.f24 {
    font-size: 24px
}
.f30 {
    font-size: 30px
}
.f50 {
    font-size: 50px
}
.f60 {
    font-size: 60px
}
.fw-300 {
    font-weight: 300
}
.fw-400 {
    font-weight: 400
}
.fw-500 {
    font-weight: 500
}
.fw-600 {
    font-weight: 600
}
.fw-700 {
    font-weight: 700
}
.nav-pill-custom .nav-link, .nav-pills-sm .nav-link {
    border-radius: 30px!important
}
.nav-pills-sm .nav-link {
    padding: .4em 1em;
    font-size: 12px
}
.custom-control-input:checked~.custom-control-indicator {
    background-color: #36a2f5
}
.table-vertical-middle tr td {
    vertical-align: middle
}
.border, .table td, .table th {
    border-color: #e5e9ec!important
}
.table td, .table th {
    padding: .75rem 1rem
}
.table-dark td, .table-dark th, .table-dark thead th {
    border-color: #32383e!important
}
.table-active, .table-active>td, .table-active>th, .table-hover tbody tr:hover, .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8fafb
}
.table .thead-light th {
    color: #495057;
    border-color: #e5e9ec;
    background-color: #f8fafb
}
.table thead th {
    border-top: none
}
.table tfoot th, .table thead th {
    vertical-align: bottom;
    border-bottom: none
}
.page-item.disabled .page-link, .page-link {
    border-color: #e5e9ec
}
.page-item.active .page-link, .page-link:focus, .page-link:hover {
    z-index: 2;
    color: #fff;
    border-color: #F39200;
    background-color: #F39200;
    box-shadow: none;
}
.notification-list .nt-info a, .page-link {
    color: #2c2c2c
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #F39200
}
.bd-example-row .row>.col, .bd-example-row .row>[class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    border: 1px solid rgba(86,61,124,.2);
    background-color: rgba(86,61,124,.15)
}
.close {
    font-weight: 300
}
.alert-outline.alert-danger, .alert-outline.alert-dark, .alert-outline.alert-info, .alert-outline.alert-primary, .alert-outline.alert-secondary, .alert-outline.alert-success, .alert-outline.alert-warning {
    background: 0 0
}
.alert-outline.alert-primary .close {
    color: #004085
}
.alert-outline.alert-secondary .close {
    color: #464a4e
}
.alert-outline.alert-success .close {
    color: #155724
}
.alert-outline.alert-danger .close {
    color: #721c24
}
.alert-outline.alert-warning .close {
    color: #856404
}
.alert-outline.alert-info .close {
    color: #0c5460
}
.alert-outline.alert-dark .close {
    color: #1b1e21
}
.nav.nav-pills .nav-link, .nav.nav-tabs .nav-link {
    color: #292b2c
}
.nav-tabs {
    border-bottom: 1px solid #e5e9ec
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: #e5e9ec #e5e9ec #fff
}
.nav.nav-tabs .nav-link.disabled {
    color: #bab8c3
}
.nav.nav-pills .nav-link.active, .nav.nav-pills.nav-pills-danger .nav-link.active, .nav.nav-pills.nav-pills-info .nav-link.active, .nav.nav-pills.nav-pills-inverse .nav-link.active, .nav.nav-pills.nav-pills-primary .nav-link.active, .nav.nav-pills.nav-pills-success .nav-link.active, .nav.nav-pills.nav-pills-warning .nav-link.active {
    color: #fff
}
.jstree-default .jstree-clicked {
    border-radius: 2px;
    background: #f2f6f9;
    box-shadow: inset 0 0 1px #e6ebf8
}
.form-control {
    font-size: .9rem
}
.form-control-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    padding: .9rem 1rem
}
.form-control-sm, .input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
    padding: .15rem .5rem
}

@media (min-width:992px) {
.picker-form .form-group label, .right-text-label-form .form-group label {
    text-align: right
}
}
.bootstrap-timepicker.dropdown-menu:after, .bootstrap-timepicker.dropdown-menu:before, .datepicker-dropdown.datepicker-orient-top:after, .datepicker-dropdown.datepicker-orient-top:before, .datepicker-dropdown:after, .datepicker-dropdown:before, [class*=" datetimepicker-dropdown"]:after, [class*=" datetimepicker-dropdown"]:before {
    border: none
}
.datepicker-dropdown:before {
    border-bottom-color: #fff
}
.datepicker-inline, .note-editor.note-frame {
    border: 1px solid #e5e9ec
}
.datepicker, .datetimepicker {
    z-index: 12000;
    width: 260px;
    padding: 10px;
    display: inline-block;
}
.datepicker table, .datetimepicker table, .dt-cont {
    width: 100%
}
.datepicker table tbody tr>td.day.today, .datetimepicker table tbody tr>td.day.today, .form-wizard .steps ul li.active span, .form-wizard .steps ul li:hover span {
    color: #fff;
    background: #F39200
}
.dt-cont {
    position: relative;
    height: 400px;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc
}
.datepicker table tr td.active.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active:active, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active[disabled], .datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover.active, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td.active.active, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover.active, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active:hover:active {
    background-color: #F39200
}
.datepicker table tr td.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover, .datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover.active, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td.active, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled:hover, .datetimepicker table tr td.active:hover {
    background-image: none;
    text-shadow: none
}
.datepicker .datepicker-switch:hover, .datepicker .next:hover, .datepicker .prev:hover, .datepicker table tr td.day.focused, .datepicker table tr td.day:hover, .datepicker tfoot tr th:hover, .datetimepicker table tr td span:hover, .datetimepicker table tr td.day:hover, .datetimepicker tfoot tr:first-child th:hover, .datetimepicker thead tr:first-child th:hover {
    background: #f2f6f9
}
.bootstrap-timepicker table td a:hover {
    border-color: #e5e9ec;
    border-radius: 4px;
    background-color: #f2f6f9
}
.bootstrap-timepicker table td input {
    width: 35px;
    border: 1px solid #e5e9ec
}
.note-editor.note-frame.card {
    border-radius: 0
}
.note-editor.note-frame.card .btn-light {
    color: #111;
    border-color: #e5e9ec;
    background-color: #fff
}
.note-editor.note-frame.card .card-header {
    background: #f8fafb
}
.editor-toolbar.fullscreen {
    z-index: 1300
}
.editor-toolbar {
    opacity: 1;
    border-top: 1px solid #e5e9ec;
    border-right: 1px solid #e5e9ec;
    border-left: 1px solid #e5e9ec
}
.CodeMirror {
    border-color: #e5e9ec
}
.navbar .nav-item .nav-link.nav-pill.user-avatar {
    /* margin: 0 20px; */
    margin-left: 15px;
}
.navbar .nav-item .nav-link.nav-pill.user-avatar img, .navbar .nav-item .nav-pill.user-avatar.dropdown-toggle img {
    width: 35px;
    height: 35px;
    margin: 0;
    border: 0;
    border-radius: 50%
}
.navbar-nav .navbar-toggler {
    color: #45567c
}
.app-header .navbar-nav .dropdown-menu {
    min-width: 300px;
    margin: 1.5rem 0 0;
    border: none;
    box-shadow: 0 10px 70px 0 rgba(108,158,195,.25)
}
.app-header .navbar-nav .dropdown-menu:after {
    position: absolute;
    top: -12px;
    right: 30px;
    clear: both;
    width: 0;
    height: 0;
    content: "";
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    border-left: 12px solid transparent
}
.app-header .navbar-nav .dropdown-menu .dropdown-item {
    padding: 10px 1.5rem;
    color: #3c4b6c;
    font-size: 14px
}
.app-header .navbar-nav .dropdown-menu .dropdown-item i {
    padding-right: 15px
}
.app-header .navbar-nav .dropdown-menu .dropdown-header {
    margin-bottom: 8px;
    color: #45567c;
    border-bottom: 1px solid #e5e9ec;
    font-size: 15px
}
.app-header .navbar-nav .dropdown-menu-right {
    right: -12px;
    left: auto
}
.app-header .navbar-nav .dropdown-menu-accout {
    right: -25px
}
.app-header .navbar-nav .dropdown-menu-ql-gird {
    min-width: 320px
}
.app-header .navbar-nav .nav-link {
    color: #45567c
}
.app-header .navbar-nav .nav-link .notification-alarm {
    position: absolute;
    top: 5px;
    right: 30%;
    width: 5px;
    min-width: 5px;
    height: 5px;
    min-height: 5px;
    padding: 0;
    border-radius: 100%;
    line-height: 5px
}
.app-header .d-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%
}
.dropdown-slide .dropdown-menu {
    position: absolute;
    display: block;
    visibility: hidden;
    -webkit-transition: visibility .2s, opacity .2s, -webkit-transform 500ms cubic-bezier(.43, .26, .11, .99);
    transition: visibility .2s, opacity .2s, transform 500ms cubic-bezier(.43, .26, .11, .99);
    transition: visibility .2s, opacity .2s, transform 500ms cubic-bezier(.43, .26, .11, .99), -webkit-transform 500ms cubic-bezier(.43, .26, .11, .99);
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0
}
.dropdown-slide.show .dropdown-menu.show {
    display: block;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
}

@media (max-width:991px) {
.app-header .navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -120px;
    text-align: center
}
.text-light .navbar-nav .navbar-toggler {
    color: #fff
}
}
.quick-links-grid {
    display: inline-block;
    width: 100%
}
.quick-links-grid .ql-grid-item {
    display: inherit;
    width: 49.3%;
    padding: 20px 5px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #45567c
}
.quick-links-grid .ql-grid-item i {
    -webkit-transition: all .3s;
    transition: all .3s;
    text-align: center;
    color: #d2d6eb;
    font-size: 32px
}
.quick-links-grid .ql-grid-item .ql-grid-title {
    display: block;
    margin: 10px 0 0;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1
}
.quick-links-grid .ql-grid-item:hover i {
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #F39200
}
.search-wrap {
    margin-top: 12%
}
.search-container {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    opacity: 0;
    background: -webkit-linear-gradient(250deg, #7b2eff, #b368ff);
    background: linear-gradient(200deg, #7b2eff, #b368ff)
}
.search-container .close {
    position: fixed;
    z-index: 3;
    top: 40px;
    right: 60px;
    cursor: pointer;
    color: #fff;
    font-family: sans-serif
}
.search-container .close span, .search-container .close span:after, .search-container .close span:before {
    position: absolute;
    display: block;
    width: 35px;
    height: 1px;
    content: "";
    border-radius: 4px;
    background: #fff
}
.search-container .close span {
    background: 0 0
}
.search-container .close span:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}
.search-container .close span:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.search-container .outer-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 85px;
    height: 85px;
    cursor: pointer
}
.search-container.open {
    visibility: visible;
    opacity: 1
}
.custom-search.form-control, .custom-search.form-control:focus {
    width: 100%;
    height: 80px;
    padding-left: 0;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,.3)!important;
    border-radius: 0;
    background: 0 0;
    box-shadow: none;
    font-size: 60px;
    font-weight: 300
}
.custom-search::-webkit-input-placeholder {
color:rgba(255,255,255,.8)
}
.custom-search::-moz-placeholder {
color:rgba(255,255,255,.8)
}
.custom-search:-ms-input-placeholder {
color:rgba(255,255,255,.8)
}
.custom-search:-moz-placeholder {
color:rgba(255,255,255,.8)
}
.search-list {
    margin-top: 10%
}
.search-list li {
    margin-bottom: 20px
}
.search-list span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 40px
}
.search-list a {
    text-decoration: none
}
.navbar-brand-dark {
    background: #1e1e1e!important
}
.nav-link.search-toggle {
    position: relative;
    top: 2px;
    line-height: normal
}
.page-title {
    padding: 1.5rem
}
.page-title small {
    color: #92959e;
    font-size: 14px
}
.title-block {
    margin-bottom: 20px;
    padding: 15px;
    background: #fff
}
.title-block .breadcrumb, .title-block .t-block-heading {
    margin-bottom: 0;
    padding: 0
}
.task-d-list {
    margin-bottom: 0
}
.task-d-list li {
    margin-bottom: 1rem
}
.task-d-list li .task-list-action {
    opacity: 0
}
.task-d-list li:hover .task-list-action {
    opacity: 1
}
.task-d-list li:last-child {
    margin-bottom: 0
}
.task-d-list li.list-mark {
    position: relative;
    padding-left: 15px
}
.task-d-list li.list-mark:before {
    position: absolute;
    left: 0;
    display: block;
    width: 2px;
    height: 100%;
    content: "";
    border-radius: 4px
}
.task-d-list li.list-mark.list-primary:before {
    background: #F39200
}
.task-d-list li.list-mark.list-info:before {
    background: #36a2f5
}
.task-d-list li.list-mark.list-success:before {
    background: #71b317
}
.task-d-list li.list-mark.list-danger:before {
    background: #f5484f
}
.task-d-list li.list-mark.list-warning:before {
    background: #F39200
}
.task-d-list li.list-mark.list-inverse:before {
    background: #292b2c
}
.baseline, .baseline .baseline-list {
    position: relative;
    border-color: #e5ebf8
}
.baseline .baseline-list {
    padding-bottom: 1px
}
.baseline .baseline-list:before {
    display: table;
    content: " "
}
.baseline .baseline-list:after {
    display: table;
    position: absolute;
    top: 18px;
    left: 0;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    content: "";
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 0 3px #e5ebf8 inset
}
.baseline .baseline-list .baseline-info {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px
}
.baseline-border {
    border-left: 1px solid #e5ebf8
}
.baseline-list.baseline-border {
    margin-left: -1px
}
.baseline-primary {
    border-color: #F39200!important
}
.baseline-primary:after {
    box-shadow: 0 0 0 3px #F39200 inset!important
}
.baseline-success {
    border-color: #71b317!important
}
.baseline-success:after {
    box-shadow: 0 0 0 3px #71b317 inset!important
}
.baseline-warning {
    border-color: #F39200!important
}
.baseline-warning:after {
    box-shadow: 0 0 0 3px #F39200 inset!important
}
.baseline-info {
    border-color: #36a2f5!important
}
.baseline-info:after {
    box-shadow: 0 0 0 3px #36a2f5 inset!important
}
.baseline-danger {
    border-color: #f5484f!important
}
.baseline-danger:after {
    box-shadow: 0 0 0 3px #f5484f inset!important
}
.wb-icon-box {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 60px
}
.btn-demo .btn {
    margin: 0 10px 10px 0
}
.btn-square {
    border-radius: 0
}
.btn-pill {
    border-radius: 50px
}
.portlets-scroll-wrap {
    overflow-y: scroll
}
.portlets-scroll {
    min-height: 101%
}
.fontawesome-icon-list, .simple-icon-list, .themify-icon-list, .weather-icon-box {
    margin-bottom: 30px
}
.fontawesome-icon-list .preview, .simple-icon-list .preview, .themify-icon-list .preview, .weather-icon-box .preview {
    padding: 15px
}
.fontawesome-icon-list .preview:hover, .simple-icon-list .preview:hover, .themify-icon-list .preview:hover, .weather-icon-box .preview:hover {
    background: #f2f6f9
}
.fontawesome-icon-list .preview i, .simple-icon-list .preview i, .themify-icon-list .preview i, .weather-icon-box .preview i {
    padding-right: 15px;
    font-size: 18px
}
.notification-list li {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e5e9ec
}
.notification-list .nt-thumb {
    float: left;
    margin-top: 0px
}
.notification-list .nt-thumb img {
    width: 24px;
    height: auto
}
.notification-list .nt-info {
    display: inherit;
    overflow: hidden;
}
.notification-list .nt-info p {
    margin-bottom: 0;
    color: #62686e;
    font-size: 12px;
    line-height: normal
}
.notification-list .nt-info .nt-title {
    margin-right: 10px;
    font-size: 13px;
    font-weight: 500
}
#flotTip {
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    background: rgba(0,0,0,.8)
}
.pieLabel div {
    font-size: 11px!important;
    font-weight: 400;
    line-height: normal
}
.legend table {
    left: 35px
}
.legend>div {
    left: 33px!important;
    opacity: .85
}
.earning-chart-space {
    width: 100%;
    height: 268px;
    margin: 0 auto;
    text-align: center
}
.earning-chart-info {
    padding: 15px 0 0
}
.series-list input {
    margin-right: 10px
}
.f-c-space {
    width: 100%;
    height: 280px;
    margin: 0 auto;
    text-align: center
}
.search-result-Stats {
    padding: 15px 0
}
.search-results {
    margin-top: 20px
}
.search-results li {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #e5e9ec
}
.search-results li .title {
    margin-bottom: 10px
}
.search-results a:hover {
    color: #F39200
}
.pagination-custom a, .pagination-custom a:hover, .search-results a {
    color: #2c2c2c
}
.pagination-custom .page-link {
    border: 1px solid #e5e9ec
}
.pagination-custom .page-link:focus, .pagination-custom .page-link:hover {
    color: #2c2c2c;
    background-color: #e5e9ec
}
.table-show-hide {
    position: absolute;
    z-index: 100;
    left: 40px
}
.table-show-hide a:not([href]):not([tabindex]) {
    margin: 0 5px;
    cursor: pointer;
    color: #2c2c2c
}
.table-show-hide a:not([href]):not([tabindex]):focus, .table-show-hide a:not([href]):not([tabindex]):hover {
    color: #F39200
}

@media (max-width:991px) {
.table-show-hide {
    position: static
}
}
td.details-control {
    cursor: pointer;
    background: url(../img/details_open.png) no-repeat center center
}
tr.details td.details-control {
    background: url(../img/details_close.png) no-repeat center center
}
.vmap-wrap {
    position: relative;
    width: 100%;
    height: 250px;
    margin-top: 20px
}
.jqvmap-zoomin, .jvectormap-zoomin {
    position: absolute;
    z-index: 70;
    top: 0;
    -webkit-transition: all .3s;
    transition: all .3s
}
.jqvmap-zoomin:hover, .jqvmap-zoomout:hover, .jvectormap-zoomin:hover, .jvectormap-zoomout:hover {
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #fff;
    border-color: #F39200;
    background: #F39200
}
.jqvmap-zoomout, .jvectormap-zoomout {
    position: absolute;
    z-index: 70;
    top: 0;
    left: 27px
}
.jqvmap-zoomin, .jqvmap-zoomout, .jvectormap-zoomin, .jvectormap-zoomout {
    width: 28px;
    height: 28px;
    cursor: pointer;
    text-align: center;
    color: #545454;
    border: 1px solid #eaeaea;
    border-radius: 0;
    background: #fff;
    line-height: 28px
}
.jvectormap-label {
    position: absolute;
    z-index: 11;
    display: none;
    padding: 3px 5px;
    color: #fff;
    border: none;
    border-radius: 3px;
    background: rgba(0,0,0,.8);
    font-size: 12px
}
.fc-unthemed th.fc-day-header {
    padding: .7rem .5rem;
    font-size: 1rem;
    font-weight: 500
}
.fc-unthemed .fc-day-grid td:not(.fc-axis) {
    padding: .5rem
}
a:not([href]):not([tabindex]) {
    text-decoration: none;
    color: inherit
}
.fc-unthemed .fc-toolbar .fc-button {
    border: 1px solid #e5e9ec;
    background: #f8fafb;
    text-shadow: none!important;
    height: 2.75rem;
    padding: 0 1.25rem;
    outline: none!important;
    font-size: .9rem
}
.fc-unthemed .fc-toolbar .fc-button.fc-state-disabled {
    color: #aaacbb;
    background: #f4f5f7
}
.fc-unthemed .fc-toolbar .fc-button.fc-state-active, .fc-unthemed .fc-toolbar .fc-button:active, .fc-unthemed .fc-toolbar .fc-button:focus {
    color: #fff;
    border: 0;
    background: #F39200;
    box-shadow: none;
    text-shadow: none
}
.fc-unthemed .fc-toolbar h2 {
    margin-top: .7rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500
}
.fc-event, .fc-event-dot {
    background-color: #eef2f5
}
.fc-event {
    border: 1px solid #eef2f5
}
.d-fc-event-primary {
    border: none;
    background: #F39200
}
.d-fc-event-danger .fc-title, .d-fc-event-info .fc-title, .d-fc-event-primary .fc-title, .d-fc-event-success .fc-title {
    color: #fff
}
.d-fc-event-success {
    border: none;
    background: #71b317
}
.d-fc-event-danger {
    border: none;
    background: #f5484f
}
.d-fc-event-warning {
    border: none;
    background: #F39200
}
.d-fc-event-info {
    border: none;
    background: #36a2f5
}
.fc-ltr .fc-h-event.fc-not-start {
    padding-left: 10px
}
.fc-day-grid-event {
    padding: 10px
}
.fc-popover .fc-header {
    padding: 6px
}
.fc-unthemed .fc-popover .fc-header .fc-close {
    margin-top: 6px;
    font-size: .9em
}
.fc-event-container a {
    margin-bottom: 3px
}
.fc-popover {
    box-shadow: none
}
.fc-title {
    font-weight: 500
}

@media (max-width:992px) {
.fc-unthemed .fc-toolbar .fc-button {
    height: 2rem
}
.fc-unthemed th.fc-day-header {
    padding: .3rem .5rem
}
.fc-unthemed .fc-toolbar {
    margin-bottom: 1.5rem
}
.fc-unthemed .fc-toolbar .fc-center, .fc-unthemed .fc-toolbar .fc-left, .fc-unthemed .fc-toolbar .fc-right {
    display: block;
    float: none;
    margin-bottom: 1rem;
    text-align: center
}
.fc-unthemed .fc-toolbar .fc-center h2, .fc-unthemed .fc-toolbar .fc-left h2, .fc-unthemed .fc-toolbar .fc-right h2 {
    float: none;
    text-align: center
}
.fc-unthemed .fc-toolbar .fc-center>.fc-button-group, .fc-unthemed .fc-toolbar .fc-left>.fc-button-group, .fc-unthemed .fc-toolbar .fc-right>.fc-button-group {
    display: inline-block;
    float: none
}
.fc-unthemed .fc-toolbar .fc-center>.fc-button, .fc-unthemed .fc-toolbar .fc-center>.fc-button-group>.fc-button, .fc-unthemed .fc-toolbar .fc-left>.fc-button, .fc-unthemed .fc-toolbar .fc-left>.fc-button-group>.fc-button, .fc-unthemed .fc-toolbar .fc-right>.fc-button, .fc-unthemed .fc-toolbar .fc-right>.fc-button-group>.fc-button {
    float: none
}
}
.d-fc-event-accent-bg, .fc-unthemed .fc-list-item.d-fc-event-accent .fc-event-dot {
    border-color: #71b317;
    background: #71b317
}
.fc-unthemed .fc-list-item.d-fc-event-red .fc-event-dot {
    border-color: #f5484f;
    background: #f5484f
}
.fc-unthemed .fc-list-item.d-fc-event-yellow .fc-event-dot {
    border-color: #F39200;
    background: #F39200
}
.fc-unthemed .fc-list-item.d-fc-event-blue .fc-event-dot {
    border-color: #36a2f5;
    background: #36a2f5
}
.fc-unthemed .fc-list-item .fc-event-dot {
    border-color: #333333;
    background: #333333
}
.fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-item:hover td, .fc-unthemed .fc-popover .fc-header {
    background: #f8fafb
}
.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: #e5e9ec
}
.fc-list-table td {
    padding: 15px
}
.calendar-event-list .fc-event {
    margin-bottom: 10px;
    padding: 10px;
    cursor: move;
    color: #2c2c2c
}
#calendar-external-events .fc-day-grid-event {
    padding: 5px
}
.brand {
    display: block;
    margin-bottom: 50px
}
.form-signin {
    max-width: 450px;
    margin: 15% auto;
    padding: 30px;
    background: #fff;
    box-shadow: 0 10px 70px 0 rgba(108,158,195,.25)
}
.form-signin .form-signin-heading {
    font-size: 16px;
    margin-bottom: 10px
}
.form-signin .checkbox {
    margin-bottom: 10px;
    font-weight: 400
}
.fc-icon-left-single-arrow:after, .fc-icon-right-single-arrow:after, .form-group>label {
    font-weight: 400
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 8px 20px;
    font-size: 13px
}
.form-signin .form-control:focus {
    z-index: 2
}
.signin-gray-bg {
    background: #f2f6f9
}
.signin-body-background {
    background-image: url(../img/signin-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover
}
.form-lock {
    position: relative;
    max-width: 400px;
    margin: 15% auto;
    background: #fff
}
.form-control {
    border-color: #e5e9ec;
    font-size: 13px;
    line-height: 2
}
.form-text {
    font-size: .85rem
}
.col-form-label {
    padding-top: calc(.375rem + 5px)
}
.bd-example>.form-control+.form-control {
    margin-top: 1rem
}
.form-control:focus {
    border-color: #F39200;
    box-shadow: none
}
.select-wrapper:focus {
    box-shadow: none
}
.form-control-square {
    border-radius: 0
}
.form-control-pill, select.form-control-pill {
    border-radius: 40px
}
.select-wrapper.form-control-pill select.form-control, .step legend, select.form-control-square {
    border: none
}
.select-wrapper {
    display: inherit;
    padding: 0 10px;
    border: 1px solid #e5e9ec;
    border-radius: 0
}
.select-wrapper.form-control-pill:focus, .select-wrapper:focus {
    border: 1px solid #F39200;
    outline: none
}
.select-wrapper.form-control-pill {
    display: inherit;
    padding: 0 15px;
    border: 1px solid #e5e9ec;
    border-radius: 40px
}
.input-group-addon-bg-none {
    background: 0 0
}
.input-group-addon {
    border: 1px solid #e5e9ec
}
.form-check-input {
    margin-top: .4rem
}
.custom-control-input:disabled~.custom-control-indicator {
    background-color: #e9ecef!important
}
.control {
    position: relative;
    display: block;
    /* margin-bottom: 15px; */
    padding-left: 30px;
    cursor: pointer;
    font-weight: 400;
    line-height: normal
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0
}
.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #e5e9ec;
    border-radius: 0px;
    background: #fff
}
.control--radio .control__indicator {
    border-radius: 50%
}
.control input:checked~.control__indicator {
    border: none;
    background: #F39200
}
.control input:checked:focus~.control__indicator, .control:hover input:not([disabled]):checked~.control__indicator {
    background: #F39200
}
.control input:disabled~.control__indicator {
    pointer-events: none;
    opacity: .6;
    background: #e6e6e6
}
.control__indicator:after {
    position: absolute;
    display: none;
    content: ""
}
.control input:checked~.control__indicator:after {
    display: block
}
.control--checkbox .control__indicator:after {
    top: 3px;
    left: 7px;
    width: 5px;
    height: 9px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0
}
.rol-checkbox{
    display: inherit;
    font-weight: bold;
}
.control--checkbox input:disabled~.control__indicator:after {
    border-color: #7b7b7b
}
.control--radio .control__indicator:after {
    top: 6px;
    left: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff
}
.control--radio input:disabled~.control__indicator:after {
    background: #7b7b7b
}
.control-outline input:checked~.control__indicator {
    border: none;
    background: #F39200
}
.control.control-outline input:checked~.control__indicator {
    border: 1px solid #F39200;
    background: 0 0
}
.control.control-outline input:checked:focus~.control__indicator, .control.control-outline:hover input:not([disabled]):checked~.control__indicator {
    border: 1px solid #F39200;
    background: 0 0
}
.control-outline.control--checkbox .control__indicator:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid #F39200;
    border-width: 0 2px 2px 0
}
.control.control-outline.control-outline-success input:checked~.control__indicator {
    border: 1px solid #71b317;
    background: 0 0
}
.control.control-outline.control-outline-success input:checked:focus~.control__indicator, .control.control-outline.control-outline-success:hover input:not([disabled]):checked~.control__indicator {
    border: 1px solid #71b317;
    background: 0 0
}
.control-outline.control-outline-success.control--checkbox .control__indicator:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid #71b317;
    border-width: 0 2px 2px 0
}
.control.control-outline.control-outline-warning input:checked~.control__indicator {
    border: 1px solid #F39200;
    background: 0 0
}
.control.control-outline.control-outline-warning input:checked:focus~.control__indicator, .control.control-outline.control-outline-warning:hover input:not([disabled]):checked~.control__indicator {
    border: 1px solid #F39200;
    background: 0 0
}
.control-outline.control-outline-warning.control--checkbox .control__indicator:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid #F39200;
    border-width: 0 2px 2px 0
}
.control.control-outline.control-outline-danger input:checked~.control__indicator {
    border: 1px solid #f5484f;
    background: 0 0
}
.control.control-outline.control-outline-danger input:checked:focus~.control__indicator, .control.control-outline.control-outline-danger:hover input:not([disabled]):checked~.control__indicator {
    border: 1px solid #f5484f;
    background: 0 0
}
.control-outline.control-outline-danger.control--checkbox .control__indicator:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid #f5484f;
    border-width: 0 2px 2px 0
}
.control.control-outline.control-outline-info input:checked~.control__indicator {
    border: 1px solid #36a2f5;
    background: 0 0
}
.control.control-outline.control-outline-info input:checked:focus~.control__indicator, .control.control-outline.control-outline-info:hover input:not([disabled]):checked~.control__indicator {
    border: 1px solid #36a2f5;
    background: 0 0
}
.control-outline.control-outline-info.control--checkbox .control__indicator:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid #36a2f5;
    border-width: 0 2px 2px 0
}
.control-outline.control--radio .control__indicator:after {
    border-radius: 50%;
    background: #F39200
}
.control-outline.control-outline-info.control--radio .control__indicator:after {
    border-radius: 50%;
    background: #36a2f5
}
.control-outline.control-outline-success.control--radio .control__indicator:after {
    border-radius: 50%;
    background: #71b317
}
.control-outline.control-outline-warning.control--radio .control__indicator:after {
    border-radius: 50%;
    background: #F39200
}
.control-outline.control-outline-danger.control--radio .control__indicator:after {
    border-radius: 50%;
    background: #f5484f
}
.control--checkbox.control-solid .control__indicator:after {
    top: 4px;
    left: 8px
}
.control.control-solid.control-solid-primary input:checked~.control__indicator {
    background: #F39200
}
.control.control-solid.control-solid-info input:checked~.control__indicator {
    background: #36a2f5
}
.control.control-solid.control-solid-success input:checked~.control__indicator {
    background: #71b317
}
.control.control-solid.control-solid-warning input:checked~.control__indicator {
    background: #F39200
}
.control.control-solid.control-solid-danger input:checked~.control__indicator {
    background: #f5484f
}
.control-solid.control--radio .control__indicator:after {
    background: #F39200
}
.control-solid.control-solid-info.control--radio .control__indicator:after {
    background: #36a2f5
}
.control-solid.control-solid-success.control--radio .control__indicator:after {
    background: #71b317
}
.control-solid.control-solid-warning.control--radio .control__indicator:after {
    background: #F39200
}
.control-solid.control-solid-danger.control--radio .control__indicator:after {
    background: #f5484f
}
.dropzone {
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    border: 2px dashed #e5e9ec !important;
    border-radius: 4px;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    background: #fff
}
.dropzone-primary {
    border: 2px dashed #F39200
}
.dropzone-info {
    border: 2px dashed #36a2f5
}
.dropzone-success {
    border: 2px dashed #71b317
}
.dropzone-warning {
    border: 2px dashed #F39200
}
.dropzone-danger {
    border: 2px dashed #f5484f
}
.btn-border {
    border-color: #e5e9ec
}
.btn-border:hover {
    background: #f1f3f4
}
.bootstrap-touchspin .input-group-btn-vertical>.btn {
    padding: 10px 15px
}
.bootstrap-touchspin .input-group-btn-vertical {
    display: inline-block;
    width: auto
}
.bootstrap-touchspin .input-group-btn-vertical i {
    font-size: .8rem;
    top: 5px;
    left: 10px
}
.bootstrap-touchspin .form-control.bootstrap-touchspin-vertical-btn {
    border-top-left-radius: .25rem!important;
    border-bottom-left-radius: .25rem!important
}
.ms-container .ms-list {
    border: 1px solid #e5e9ec;
    box-shadow: none
}
.ms-selectable .search-input, .ms-selection .search-input {
    margin-bottom: 20px
}
.ms-container .ms-list.ms-focus {
    border-color: #F39200;
    outline: 0;
    outline: thin dotted \9;
    box-shadow: none
}
.ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover {
    background-color: #F39200
}
.irs-bar, .irs-bar-edge, .irs-line-left, .irs-line-mid, .irs-line-right, .irs-slider {
    background: #e5e9ec
}
.irs {
    height: 40px
}
.irs-with-grid {
    height: 60px
}
.irs-line {
    top: 25px
}
.irs-line, .irs-line-left, .irs-line-mid, .irs-line-right {
    height: 8px
}
.irs-bar, .irs-bar-edge {
    top: 25px;
    height: 8px;
    background: #ed5565
}
.irs-bar-edge {
    width: 9px
}
.irs-shadow {
    top: 34px;
    height: 3px;
    opacity: .25;
    background: #000
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=25)
}
.irs-slider {
    top: 22px;
    width: 2px;
    height: 14px;
    background: #ed5565
}
.irs-from, .irs-max, .irs-min, .irs-single, .irs-to {
    text-shadow: none;
    font-size: 10px;
    line-height: 1.333
}
.irs-max, .irs-min {
    top: 0;
    background: #e5e9ec;
    padding: 1px 3px;
    color: #8d8d8d;
    border-radius: 2px
}
.irs-from, .irs-single, .irs-to {
    padding: 1px 5px;
    color: #fff;
    border-radius: 10px;
    background: #ed5565
}
.irs-from:after, .irs-single:after, .irs-to:after {
    position: absolute;
    bottom: -6px;
    left: 50%;
    display: block;
    overflow: hidden;
    width: 0;
    height: 0;
    margin-left: -3px;
    content: "";
    border: 3px solid transparent;
    border-top-color: #ed5565
}
.irs-grid-pol {
    background: #e1e4e9
}
.irs-grid-text {
    color: #999
}
.ion-primary .irs-bar, .ion-primary .irs-bar-edge, .ion-primary .irs-from, .ion-primary .irs-single, .ion-primary .irs-slider, .ion-primary .irs-to {
    background: #F39200
}
.ion-primary .irs-from:after, .ion-primary .irs-single:after, .ion-primary .irs-to:after {
    border-top-color: #F39200
}
.ion-success .irs-bar, .ion-success .irs-bar-edge, .ion-success .irs-from, .ion-success .irs-single, .ion-success .irs-slider, .ion-success .irs-to {
    background: #71b317
}
.ion-success .irs-from:after, .ion-success .irs-single:after, .ion-success .irs-to:after {
    border-top-color: #71b317
}
.ion-info .irs-bar, .ion-info .irs-bar-edge, .ion-info .irs-from, .ion-info .irs-single, .ion-info .irs-slider, .ion-info .irs-to {
    background: #36a2f5
}
.ion-info .irs-from:after, .ion-info .irs-single:after, .ion-info .irs-to:after {
    border-top-color: #36a2f5
}
.ion-warning .irs-bar, .ion-warning .irs-bar-edge, .ion-warning .irs-from, .ion-warning .irs-single, .ion-warning .irs-slider, .ion-warning .irs-to {
    background: #F39200
}
.ion-warning .irs-from:after, .ion-warning .irs-single:after, .ion-warning .irs-to:after {
    border-top-color: #F39200
}
.ion-danger .irs-bar, .ion-danger .irs-bar-edge, .ion-danger .irs-from, .ion-danger .irs-single, .ion-danger .irs-slider, .ion-danger .irs-to {
    background: #f5484f
}
.ion-danger .irs-from:after, .ion-danger .irs-single:after, .ion-danger .irs-to:after {
    border-top-color: #f5484f
}
.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single, .wizard>.content>.body input {
    border: 1px solid #e5e9ec
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #292b2c;
    position: relative;
    padding: .65rem 1rem;
    line-height: 1.25
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0 .8rem
}
.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
    min-height: 40px
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
    right: 7px
}
.select2-container--default .select2-selection--single .select2-selection__clear {
    top: 1px;
    right: 15px
}
.select2-container--default .select2-selection--multiple .select2-selection__choice, .select2-container--default.select2-container--disabled .select2-selection--single {
    border: 1px solid #e5e9ec;
    background-color: #f2f6f9
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #e5e9ec;
    outline: none
}
.select2-container, .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
    outline: none
}
.select2-dropdown {
    border: none;
    box-shadow: 0 10px 70px 0 rgba(108,158,195,.25)
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #fff;
    background-color: #F39200
}
.select2-container--default .select2-results__option[aria-selected=true] {
    color: #292b2c;
    background-color: #f2f6f9
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px #F39200 solid;
    outline: 0;
    border-color: #F39200
}
.select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--multiple, .select2-container--default.select2-container--open .select2-selection--single {
    border-color: #F39200
}
.has-info, .has-info .form-text {
    color: #36a2f5
}
.has-info .has-input {
    border-color: #36a2f5
}
.has-success, .has-success .form-text {
    color: #71b317
}
.has-success .has-input {
    border-color: #71b317
}
.has-warning, .has-warning .form-text {
    color: #F39200
}
.has-warning .has-input {
    border-color: #F39200
}
.has-danger, .has-danger .form-text {
    color: #f5484f
}
.has-danger .has-input {
    border-color: #f5484f
}
.feedback-icon-form .form-control-feedback {
    position: absolute;
    z-index: 2;
    top: 3px;
    right: 0;
    display: block;
    width: 34px;
    height: 34px;
    text-align: center;
    pointer-events: none;
    line-height: 34px
}
.feedback-icon-form .has-feedback .form-control-feedback {
    right: 15px
}
.error.help-block, .has-error .help-block {
    color: #f5484f;
    min-height: 1px;
}

.ui.form .field.error .checkbox:not(.toggle):not(.slider) .box, .ui.form .field.error .checkbox:not(.toggle):not(.slider) label, .ui.form .field.error .input, .ui.form .field.error label, .ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) .box, .ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) label, .ui.form .fields.error .field .input, .ui.form .fields.error .field label {
    color: #f5484f
}
.ui.grid>.row>.column {
    text-align: right;
    font-size: 14px;
    font-weight: 400
}
.ui.form .field.error input:not([type]), .ui.form .field.error input[type=date], .ui.form .field.error input[type=datetime-local], .ui.form .field.error input[type=email], .ui.form .field.error input[type=number], .ui.form .field.error input[type=password], .ui.form .field.error input[type=search], .ui.form .field.error input[type=tel], .ui.form .field.error input[type=text], .ui.form .field.error input[type=time], .ui.form .field.error input[type=url], .ui.form .field.error select, .ui.form .field.error textarea, .ui.form .fields.error .field input:not([type]), .ui.form .fields.error .field input[type=date], .ui.form .fields.error .field input[type=datetime-local], .ui.form .fields.error .field input[type=email], .ui.form .fields.error .field input[type=number], .ui.form .fields.error .field input[type=password], .ui.form .fields.error .field input[type=search], .ui.form .fields.error .field input[type=tel], .ui.form .fields.error .field input[type=text], .ui.form .fields.error .field input[type=time], .ui.form .fields.error .field input[type=url], .ui.form .fields.error .field select, .ui.form .fields.error .field textarea {
    border-color: #f5484f
}
.ui.red.label, .ui.red.labels .label {
    color: #fff!important;
    border-color: #f5484f!important;
    background-color: #f5484f!important
}
.ui.form .field {
    margin-bottom: 0
}
.form-wizard {
    position: relative;
    display: table;
    max-width: 540px;
    margin: 0 auto 30px
}
.form-wizard .steps {
    overflow: hidden;
    margin: 40px 0
}
.form-wizard .steps ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.form-wizard .steps ul li {
    position: relative;
    float: left;
    padding: 0 15px;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}
.form-wizard .steps ul li.active, .form-wizard .steps ul li:hover {
    color: #292b2c
}
.form-wizard .steps ul li.active::after, .form-wizard .steps ul li:hover::after {
    width: 100%;
    background: #F39200
}
.form-wizard .steps ul li::before {
    position: absolute;
    top: 20px;
    left: -50%;
    width: 100%;
    height: 2px;
    content: "";
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}
.form-wizard .steps ul li span, .form-wizard .steps ul li::after, .form-wizard .steps ul li::before {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background: #e5e9ec
}
.form-wizard .steps ul li::after {
    top: 20px;
    left: -50%;
    content: "";
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    height: 2px;
    width: 0
}
.form-wizard .steps ul li span {
    position: relative;
    z-index: 1;
    display: block;
    width: 35px;
    height: 35px;
    margin: 0 auto 15px;
    text-align: center;
    color: #000;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 300;
    line-height: 35px
}
.form-wizard .steps ul li:first-child::after, .form-wizard .steps ul li:first-child::before {
    display: none
}
.form-container {
    left: 100%;
    display: none;
    clear: both;
    padding: 30px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 10px 70px 0 rgba(108,158,195,.25)
}
.aws-container .aws-tooltip span, .form-container.active, .step label, .stepy-titles li span {
    display: block
}
.form-title {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 15px;
    font-size: 18px
}
.stepy-tab {
    margin: 40px 0;
    text-align: center
}
.stepy-tab ul {
    display: inline-block;
    list-style: none
}
.button-back, .stepy-tab ul li {
    float: left
}
.button-next, .finish {
    float: right
}
.button-back, .button-next, .finish {
    cursor: pointer;
    text-decoration: none
}
.step {
    clear: left
}
.stepy-titles li {
    float: left;
    margin: 10px 15px;
    cursor: pointer;
    color: #757575
}
.stepy-titles li div, .stepy-titles li.current-step div {
    width: auto;
    height: 50px;
    border-radius: 50px;
    line-height: 50px
}
.stepy-titles li.current-step div {
    cursor: auto;
    color: #fff;
    background: #f5484f
}
.stepy-titles li div {
    padding: 0 40px;
    font-size: 16px;
    font-weight: 300
}
.wizard>.content {
    min-height: 25em;
    margin: .5em;
    border: 1px solid #e5e9ec;
    background: #fff
}
.stepy-titles li div, .wizard>.steps .disabled a, .wizard>.steps .disabled a:active, .wizard>.steps .disabled a:hover {
    color: #fff;
    background: #7a88a7
}
.wizard>.steps .current a, .wizard>.steps .current a:active, .wizard>.steps .current a:hover {
    color: #fff;
    background: #F39200
}
.wizard>.content>.body input:focus {
    border: 1px solid #F39200
}
.wizard>.content>.body label.error {
    margin-left: 0;
    color: #f5484f
}
.wizard>.content>.body input.error {
    margin-right: 10px;
    color: #f5484f;
    border: 1px solid #f5484f;
    background: #ffd9e6
}
.wizard>.steps .done a, .wizard>.steps .done a:active, .wizard>.steps .done a:hover {
    color: #fff;
    background: #dec6fb
}
.wizard>.steps .number {
    display: inline-block;
    width: 80px;
    height: 50px;
    margin-right: 10px;
    text-align: center;
    border-radius: 5px 0 0 5px;
    background: rgba(0,0,0,.08);
    font-size: 13px;
    line-height: 50px
}
.wizard>.steps a, .wizard>.steps a:active, .wizard>.steps a:hover {
    padding: 0
}
.wizard>.actions a, .wizard>.actions a:active, .wizard>.actions a:hover {
    background: #F39200
}
.wizard>.actions .disabled a, .wizard>.actions .disabled a:active, .wizard>.actions .disabled a:hover {
    color: #1e1e1e;
    border: 1px solid #e5e9ec;
    background: #fff
}
.wizard>.content>.body ul {
    list-style: none!important
}

@media (max-width:767px) {
.wizard>.steps .number {
    width: 40px
}
.wizard>.steps>ul>li {
    width: 50%
}
.right-sidebar {    
    width: 100%;}
}
.tgl {
    display: none
}
.tgl, .tgl *, .tgl :after, .tgl :before, .tgl+.tgl-btn, .tgl:after, .tgl:before {
    box-sizing: border-box
}
.tgl ::-moz-selection, .tgl :after::-moz-selection, .tgl :before::-moz-selection, .tgl+.tgl-btn::-moz-selection, .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection {
background:0 0
}
.tgl ::selection, .tgl :after::selection, .tgl :before::selection, .tgl+.tgl-btn::selection, .tgl::selection, .tgl:after::selection, .tgl:before::selection {
background:0 0
}
.tgl+.tgl-btn {
    position: relative;
    display: block;
    width: 4em;
    height: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0
}
.tgl+.tgl-btn:after {
    display: block
}
.tgl+.tgl-btn:after, .tgl+.tgl-btn:before {
    position: relative;
    width: 50%;
    height: 100%;
    content: ""
}
.tgl+.tgl-btn:after {
    left: 0
}
.tgl+.tgl-btn:before {
    display: none
}
.tgl:checked+.tgl-btn:after {
    left: 50%
}
.tgl-light+.tgl-btn {
    padding: 2px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border-radius: 2em;
    background: #f0f0f0
}
.tgl-light+.tgl-btn:after {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border-radius: 50%;
    background: #fff
}
.tgl-light:checked+.tgl-btn {
    background: #9fd6ae
}
.tgl-ios+.tgl-btn {
    padding: 2px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border: 1px solid #e8eae9;
    border-radius: 2em;
    background: #fbfbfb
}
.tgl-ios+.tgl-btn:after {
    -webkit-transition: left .3s cubic-bezier(.175, .885, .32, 1.275), padding .3s ease, margin .3s ease;
    transition: left .3s cubic-bezier(.175, .885, .32, 1.275), padding .3s ease, margin .3s ease;
    border-radius: 2em;
    background: #fbfbfb;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 4px 0 rgba(0,0,0,.08)
}
.tgl-ios+.tgl-btn:hover:after {
    will-change: padding
}
.tgl-ios+.tgl-btn:active {
    box-shadow: inset 0 0 0 2em #e8eae9
}
.tgl-ios+.tgl-btn:active:after {
    padding-right: .8em
}
.tgl-ios:checked+.tgl-btn {
    background: #86d993
}
.tgl-ios:checked+.tgl-btn:active {
    box-shadow: none
}
.tgl-ios:checked+.tgl-btn:active:after {
    margin-left: -.8em
}
.tgl-skewed+.tgl-btn {
    overflow: hidden;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    transform: skew(-10deg);
    background: #45567c;
    font-family: sans-serif;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
.tgl-skewed+.tgl-btn:after, .tgl-skewed+.tgl-btn:before {
    position: absolute;
    display: inline-block;
    width: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: skew(10deg);
    -ms-transform: skew(10deg);
    transform: skew(10deg);
    text-align: center;
    color: #fff;
    font-weight: 700;
    line-height: 2em
}
.tgl-skewed+.tgl-btn:after {
    left: 100%;
    content: attr(data-tg-on)
}
.tgl-skewed+.tgl-btn:before {
    left: 0;
    content: attr(data-tg-off)
}
.tgl-skewed+.tgl-btn:active {
    background: #45567c
}
.tgl-skewed+.tgl-btn:active:before {
    left: -10%
}
.tgl-skewed:checked+.tgl-btn {
    background: #86d993
}
.tgl-skewed:checked+.tgl-btn:before {
    left: -100%
}
.tgl-skewed:checked+.tgl-btn:after {
    left: 0
}
.tgl-skewed:checked+.tgl-btn:active:after {
    left: 10%
}
.tgl-flat+.tgl-btn, .tgl-flat+.tgl-btn:after {
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}
.tgl-flat+.tgl-btn {
    padding: 2px;
    border: 4px solid #f2f2f2;
    background: #fff;
    border-radius: 2em
}
.tgl-flat+.tgl-btn:after {
    content: "";
    border-radius: 1em;
    background: #f2f2f2
}
.tgl-flat:checked+.tgl-btn {
    border: 4px solid #7fc6a6
}
.tgl-flat:checked+.tgl-btn:after {
    left: 50%;
    background: #7fc6a6
}
.tgl-flip+.tgl-btn {
    padding: 2px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    font-family: sans-serif;
    -webkit-perspective: 100px;
    perspective: 100px
}
.tgl-flip+.tgl-btn:after, .tgl-flip+.tgl-btn:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    font-weight: 700;
    line-height: 2em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
.tgl-flip+.tgl-btn:after {
    content: attr(data-tg-on);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background: #02c66f
}
.tgl-flip+.tgl-btn:before {
    background: #ff3a19;
    content: attr(data-tg-off);
    background: #45567c
}
.tgl-flip+.tgl-btn:active:before {
    -webkit-transform: rotateY(-20deg);
    transform: rotateY(-20deg)
}
.tgl-flip:checked+.tgl-btn:before {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}
.tgl-flip:checked+.tgl-btn:after {
    left: 0;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    background: #7fc6a6
}
.tgl-flip:checked+.tgl-btn:active:after {
    -webkit-transform: rotateY(20deg);
    transform: rotateY(20deg)
}
.tgl-flat.tgl-flat-primary:checked+.tgl-btn:after, .tgl-primary:checked+.tgl-btn {
    background: #F39200
}
.tgl-flat.tgl-flat-info:checked+.tgl-btn:after, .tgl-info:checked+.tgl-btn {
    background: #36a2f5
}
.tgl-flat.tgl-flat-success:checked+.tgl-btn:after, .tgl-success:checked+.tgl-btn {
    background: #71b317
}
.tgl-flat.tgl-flat-warning:checked+.tgl-btn:after, .tgl-warning:checked+.tgl-btn {
    background: #F39200
}
.tgl-danger:checked+.tgl-btn, .tgl-flat.tgl-flat-danger:checked+.tgl-btn:after {
    background: #f5484f
}
.tgl-flat.tgl-flat-primary:checked+.tgl-btn {
    border: 4px solid #F39200
}
.tgl-flat.tgl-flat-info:checked+.tgl-btn {
    border: 4px solid #36a2f5
}
.tgl-flat.tgl-flat-success:checked+.tgl-btn {
    border: 4px solid #71b317
}
.tgl-flat.tgl-flat-warning:checked+.tgl-btn {
    border: 4px solid #F39200
}
.tgl-flat.tgl-flat-danger:checked+.tgl-btn {
    border: 4px solid #f5484f
}
.tgl-flip.tgl-flip-primary:checked+.tgl-btn:after {
    background: #F39200
}
.tgl-flip.tgl-flip-info:checked+.tgl-btn:after {
    background: #36a2f5
}
.tgl-flip.tgl-flip-success:checked+.tgl-btn:after {
    background: #71b317
}
.tgl-flip.tgl-flip-warning:checked+.tgl-btn:after {
    background: #F39200
}
.tgl-flip.tgl-flip-danger:checked+.tgl-btn:after {
    background: #f5484f
}
.error-wrap {
    position: relative;
    z-index: 10;
    display: inline-block;
    margin-top: 30%;
    padding: 20px;
    background: rgba(255,255,255,.9)
}
.error-wrap h1 {
    margin: 0;
    font-size: 100px;
    font-weight: 700
}
.error-wrap .btn {
    padding: 12px 40px;
    font-size: 14px
}
.error-img {
    position: absolute;
    right: 5%;
    bottom: 3%;
    left: auto
}
.border-bottom-1 {
    border-bottom: 1px solid #e5e9ec
}
.profile-img {
    position: relative;
    width: 100%;
    height: 300px;
    background: url(../img/profile.jpg) no-repeat;
    background-size: cover
}
.profile-text-shadow {
    text-shadow: 0 0 3px rgba(0,0,0,.8)
}
.profile-status .form-control {
    border: none
}
.profile-status .nav.nav-pills .nav-link, .profile-status .nav.nav-tabs .nav-link {
    color: #333333
}
.profile-status .nav.nav-pills .nav-link.active {
    color: #fff
}
.profile-timeline {
    padding: 0;
    list-style: none
}
.profile-timeline li {
    display: inline-block;
    width: 100%;
    padding: 15px 0 0;
    border-top: 1px solid #e5e9ec
}
.profile-timeline li .profile-timeline-thumb {
    float: left;
    width: 50px;
    margin-right: 10px
}
.profile-timeline li .profile-timeline-thumb img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%
}
.profile-timeline li .profile-timeline-thumb-desk {
    float: left;
    width: 90%;
    padding-bottom: 15px;
    color: #292b2c
}
.profile-timeline li .profile-timeline-thumb-desk span {
    display: block;
    color: #333333
}
.profile-timeline li .profile-timeline-thumb-desk .profile-gallery a {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px
}
.profile-timeline li .profile-timeline-thumb-desk .profile-gallery a img {
    max-width: 200px;
    height: auto
}
.profile-timeline ul {
    padding-left: 50px
}
.profile-timeline ul .profile-timeline-thumb {
    float: left;
    width: 35px;
    margin-right: 10px
}
.profile-timeline ul .profile-timeline-thumb img {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%
}
.aws-container {
    overflow: hidden;
    border-radius: 5px;
    background-color: #F39200
}
.aws-container .aws-content {
    padding: 32px
}
.aws-container .aws-content nav {
    margin-bottom: 60px;
    font-size: 16px
}
.aws-container .aws-content nav span {
    margin: 0 10px;
    cursor: pointer;
    color: #fff
}
.aws-container .aws-content nav span.aws-active {
    padding: 3px 8px;
    color: #fff;
    border-radius: 4px;
    background: rgba(0,0,0,.2)
}
.aws-container .aws-details {
    position: relative;
    overflow: hidden;
    height: 100px;
    background-color: #fefefe
}
.aws-container .aws-details:after {
    position: absolute;
    z-index: 1;
    top: 26px;
    right: 50%;
    bottom: 28px;
    width: 1px;
    content: " ";
    background-color: #e8e8e8
}

@media (max-width:575px) {
.aws-container .aws-details:after {
    background: 0 0
}
}
.aws-container .aws-details .aws-block-info {
    padding: 26px 15px 28px
}
.aws-container .aws-details .aws-block-info h3 {
    margin: 0 0 5px;
    color: #4a4a4a;
    font-size: 24px
}

@media (max-width:1024px) {
.aws-container .aws-details .aws-block-info h3 {
    font-size: 16px
}
}
.aws-container, .aws-container .aws-details .aws-block-info h3[data-status] {
    position: relative
}
.aws-container .aws-details .aws-block-info h3[data-status]:before {
    position: absolute;
    top: 8px;
    width: 0;
    height: 0;
    content: " ";
    border-right: 6px solid transparent;
    border-left: 6px solid transparent
}
.aws-container .aws-details .aws-block-info h3[data-status] span {
    padding-left: 22px
}
.aws-container .aws-details .aws-block-info h3[data-status=up]:before {
    border-bottom: 8px solid #F39200
}
.aws-container .aws-details .aws-block-info h3[data-status=down]:before {
    border-top: 8px solid #F39200
}
.aws-container .aws-details .aws-block-info h5 {
    margin: 0;
    color: #9d9c9c;
    font-size: 12px
}
.aws-container .aws-tooltip {
    position: absolute;
    z-index: 99;
    width: 120px;
    padding: 9px;
    text-align: center;
    border-radius: 3px;
    background-color: rgba(255,255,255,.8);
    box-shadow: 1px 1px .5px .5px rgba(0,0,0,.3)
}
.aws-container .aws-tooltip.aws-for-file {
    width: 160px
}
.aws-container .aws-tooltip:after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -6px;
    content: " ";
    border-top: 8px solid rgba(255,255,255,.8);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent
}
.aws-container .aws-tooltip span:nth-child(1) {
    font-size: 11px!important
}
.aws-container .aws-tooltip span:nth-child(2) {
    font-size: 13px!important
}
.jqstooltip {
    width: 35px;
    height: 22px!important
}
.svgicon1{
    width: 60px;
    display: inline-block;
    vertical-align: top;
}
.totalcount{  
    line-height: 30px;
    padding-top: 40px;   
    text-align: right;
}
.totalcount1{  
    line-height: 30px;
    padding-top: 15px;
   
}
.t_plantsvg{
    width: 140px;
}
.table-responsive>.table-bordered {
    border: 1px solid #dee2e6;
}
.btn{
      border-radius: 0;  
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.date{
    display: inline-flex;  
    width: 40%;  
}
.form-control, .input-group-addon {    
    border-radius: 0;  
}
.recent-comment .media {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px;
    padding-top: 10px;
}
.recent-comment .media-left {
    padding-right: 25px;
}
.recent-comment .media-left img {
    border-radius: 100px;
    width: 40px;
}
.recent-comment .media-body {
    position: relative;
}
.recent-comment .media-body h4 {
    font-size: 16px;
    margin-bottom: 5px;
}
.recent-comment .media-body p {
    margin-bottom: 5px;
    line-height: 16px;
    color: #868e96;
}
.comment-action {
    float: left;
}
.comment-action .badge {
    text-transform: uppercase;   
}
.badge-success {
    background: #28a745;
    color: #ffffff;
}
.badge {
    padding: 5px 10px;
    font-weight: 400;
    border-radius: 0px;
}
.media-body span {
    font-size: 10px;
    color: #ffc107;
}
.recent-comment .media-body p {
    margin-bottom: 5px;
    line-height: 16px;
    color: #868e96;
}
.recent-comment .comment-date {
    position: absolute;
    right: 0;
    top: 0;
    color: #373757;    
    font-size: 12px;
}
.comment-action i {
    padding: 0 5px;
}
.color-success, .text-success {
    color: #28a745;
}
.color-danger, .text-danger {
    color: #dc3545;
}
.color-primary, .text-primary {
    color: #5873fe;
}
.recent-comment .media-left img {
    border-radius: 100px;
    width: 50px;
}
.companylogo{
    width: 120px;;
}
.manufacture-logo{
    width: 100px;
    display: inline-block;
}
.page-item:last-child .page-link, .page-item:first-child .page-link {
    border-radius: 0; 
}
.form-group.required .control-label:after, .required1:after {
    content: " *";
    color: #f5484f;
}

.steamline {
    position: relative;
    border-left: 2px solid rgb(247, 199, 10);
    margin-left: 35px;
}
.steamline .sl-item {
    margin-top: 8px;
    margin-bottom: 60px;
}
.steamline .sl-left {
    float: left;
    margin-left: -27px;
    z-index: 1;
    margin-right: 15px;
}
.steamline .sl-left img {
    max-width: 50px;
}
.action{
    white-space: nowrap;
    vertical-align: middle!important;
}
.price-table.plan {
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(51, 51, 51, 0.1);
}
.price-table:hover, .price-table:hover  {
    background-color: rgb(30, 30, 30) !important;
    border: none;
}
.price-table:hover .plan-name {
    background-color: #333333 !important;
    border: none;
}

.price-table.plan .plan-name {
	background-color: #F39200;
	padding: 30px 0;
}

.price-table.plan .plan-name h3 {
	color: #ffffff;
}

.price-table.plan .plan-price {
	padding-bottom: 0;
	color: #F39200;
	line-height: 40px;
}
.price-table, .price-table ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    color: #a4a4a4;
    font-weight: 400;
}
.price-table {
    margin: 0;
}
.plan-price span:first-child {
    font-size: 22px;
    font-weight: 500;
}
.plan-price span + span {
    font-size: 40px;
    font-weight: 700;
}
.plan-price p {
    display: inline;
    font-size: 22px;
    font-weight: 500;
}
.plan-price {
    padding: 35px 0 25px;
    position: relative;
}
.features-list {
    margin-top: 20px;
}
.features-list li {
    margin: 10px 35px;
    padding-top: 10px;
}
.call-to-action {
    padding: 20px 40px 38px;
}
.planicon:before{
    padding-right: 13px;
    color: #F39200;
}
.visacard img{ 
    width: 310px;
}
.cardtab:hover, .cardtab:focus {
    border: 1px solid #ffc107;
    background-color: #f7f7f7;
}
.list-group-item.cardtab.active {
    border: 1px solid #ffc107;
    background-color: #f7f7f7;
}
.little-profile .pro-img {
    margin-top: -80px;
    margin-bottom: 20px;
}
.little-profile .pro-img img {
    width: 128px;
    height: 128px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
}

   .image-preview-input {
      position: relative;
      overflow: hidden;
      margin: 0px;    
      color: #333;
      background-color: #fff;
      border-color: #ccc;    
  }
  .image-preview-input input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
  }
  .image-preview-input-title {
      margin-left:2px;
  }


.uploadimg{  
    text-align: center;
    display: flex;
    margin: 5px;
    width: 150px;
    height: 150px;
}
.closeimg{
    position: relative;
    top: 6px;
    right: 36px;
    width: 30px;
    height: 30px;
    font-size: 12px;
    padding: 7px;
    display: none;
}
img.upimg:hover {
    opacity: 0.3;
    filter: alpha(opacity=50);
}
.uploadimg:hover .closeimg { 
    display: block;
}
.z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.navbar-toggler {
    padding: .375rem .75rem; 
    line-height: 1.5;
}
.todate{
    width: 10%;
    float: left;
    line-height: 40px;
    text-align: center;
    display: table;
}
.filterdate {
    display: inline-flex;
    width: 45%;
}
.actions_btn1 {
    white-space: nowrap;
}

.help_btn{
    position: absolute;
    right: -35px;
    top: -2px;
    cursor: pointer;
    z-index: 10;
}








.full-img-annotation{
    position:relative;
}
.img-annotation-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.right-shide-region-shape {
    position: absolute;
    width: 300px;
    /* background: white; */
    height: auto;
    z-index: 99999;
    top: 20px;
    right: 0;
    -webkit-box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.13);
    box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.13);
    z-index: 3;
    -webkit-transition-duration: .25s, .25s;
    transition-duration: .25s, .25s;
    -webkit-transition-property: margin-left, margin-right;
     transition-property: margin-left, margin-right;
     margin-right: -300px;
}
.right-shide-region-shape.hidden {
    margin-right: 0px;
}
.card-header.region-header {
    background-color: #F3F6F9;
    padding: 8px 15px;
}

.card-body.region-body {
    padding: 0 15px;
}

.region-shape-btn {
    width: 35px;
    height: 100%;
    background: #F39200;
    position: absolute;
    top: 0;
    left: -35px;
    border-radius: 10px 0 0 10px;
    color: white;
    cursor: pointer;
    box-shadow: 0 1px 10px 1px rgba(115,108,203,.1);
}
.region-shape-btn .region-text {
    transform: rotateZ(90deg);
    white-space: nowrap;
    position: relative;
    top: 18px;
    font-weight: 400;
}


    /* Region shape selection panel inside leftsidebar */
      ul.region_shape {
        font-size: xx-large;
        list-style-type: none;
        overflow: hidden;
        padding: 0.4em 0;
        margin: 0;
        }
        ul.region_shape li{
        float: left;
        padding: 0 0.2em;
        fill: #ffffff;
        stroke: #000000;
        }
        ul.region_shape li:hover {
        cursor: pointer;
        fill: #ffffff;
        stroke: #ff0000;
        }
        ul.region_shape .selected {
        fill: #ffffff;
        stroke: #ff0000;
        }



        .bottom-shide-region-shape {
            position: absolute;
            width: 82%;
            /* background: white; */
            height: auto;
            z-index: 99999;
            bottom: 0;
            left: 130px;
            -webkit-box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.13);
            -moz-box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.13);
            box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.13);
            z-index: 3;
            -webkit-transition-duration: .25s, .25s;
            transition-duration: .25s, .25s;
            -webkit-transition-property: margin-top, margin-bottom;
            transition-property: margin-top, margin-bottom;
            margin-bottom: -240px;
        }
        .bottom-shide-region-shape.hidden {
            margin-bottom: 0px;
        }
        .bottom-shide-region-shape .card-header.region-header {
            background-color: #F3F6F9;
            padding: 8px 15px;
        }
        
        .bottom-shide-region-shape .card-body.region-body {
            padding: 0 15px;
        }
        
        .bottom-shide-region-shape .bottom-shide-region-shape-btn {
            width: auto;
            height: 30px;
            background: #1e1e1e;
            position: absolute;
            top: -30px;
            left: 0;
            border-radius: 10px 10px 0 0;
            color: white;
            cursor: pointer;
            box-shadow: 0 1px 10px 1px rgba(115,108,203,.1);
        }
        .bottom-shide-region-shape .bottom-shide-region-shape-btn .region-text {
            transform: none;
            white-space: inherit;
            position: relative;
            top: 0;
            padding: 3px 10px;
            font-weight: 400;
        }

.region-attributes-table th{
padding: 5px;
}

.region-attributes-table th {
    padding: 5px;
    vertical-align: middle;   
}
.region-attributes-table thead th {
    vertical-align: middle;
    border-bottom: none;
}

.img-annotation-img-table img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border: 2px solid #3357ac;
}


.annotated-images-table td.images-td {
    width: 20%;
}












.slider-annotation {
    width: 95%;
    margin: 0 auto;
}
.carousel-multi-item .arrow-icon {
    text-align: center;
    margin-bottom: 1.88rem;
    position: absolute;
    top: 36%;
    /* -webkit-transform: translate(-50%, -50%); */
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    /* transform: translate(-50%, -50%); */
    width: 100%;
}
.left-arrow-slider {
    position: absolute;
    left: -22px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
}
.right-arrow-slider {
    position: absolute;
    right: -25px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
}
.carousel-item  .item-2{
padding-left: 5px;
padding-right: 5px;
     flex: 0 0 10.666667%;
    max-width: 10.666667%;
}



.slider-angle-left, .slider-angle-right {
    color: white;
    padding: 0px;
    position: relative;
    bottom: 1px;
}
.carousel {
    position: relative;
}

.carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon {
    width: 20px;
    height: 20px
}

.carousel .carousel-control-prev-icon {
    background-image: url(../img/svg/arrow_left.svg)
}

.carousel .carousel-control-next-icon {
    background-image: url(../img/svg/arrow_right.svg)
}

.carousel .carousel-indicators li {
    width: .625rem;
    height: .625rem;
    border-radius: 50%;
    cursor: pointer
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item.active {
    opacity: 1
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-right.active {
    opacity: 0
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
    transform: translateX(0)
}

@supports (transform-style:preserve-3d) {
    .carousel-fade .carousel-item-left.active,
    .carousel-fade .carousel-item-next,
    .carousel-fade .carousel-item-prev,
    .carousel-fade .carousel-item-prev.active,
    .carousel-fade .carousel-item.active {
        transform: translate3d(0, 0, 0)
    }
}


.carousel-multi-item .carousel-inner .carousel-item.active,
.carousel-multi-item .carousel-item-next,
.carousel-multi-item .carousel-item-prev {
    display: block
}

.carousel-multi-item .carousel-inner.v-2 .carousel-item-next,
.carousel-multi-item .carousel-inner.v-2 .carousel-item-prev,
.carousel-multi-item .carousel-inner.v-2 .carousel-item.active {
    display: flex
}

.carousel-multi-item .carousel-inner.v-2 .carousel-item-next,
.carousel-multi-item .carousel-inner.v-2 .carousel-item-right.active {
    transform: translateX(33%)
}

.carousel-multi-item .carousel-inner.v-2 .carousel-item-left.active,
.carousel-multi-item .carousel-inner.v-2 .carousel-item-prev {
    transform: translateX(-33%)
}

.carousel-multi-item .carousel-inner.v-2 .carousel-item-left,
.carousel-multi-item .carousel-inner.v-2 .carousel-item-right {
    transform: translateX(0)
}

.carousel-multi-item .carousel-indicators li {
    height: 1.25rem;
    width: 1.25rem;
    max-width: 1.25rem;
    background-color: #F39200;
    margin-bottom: -3.75rem
}

.carousel-multi-item .carousel-indicators .active {
    height: 1.56rem;
    width: 1.56rem;
    max-width: 1.56rem;
    background-color: #F39200;
    border-radius: 50%
}

.carousel-multi-item .controls-top {
    text-align: center;
    margin-bottom: 1.88rem
}

.carousel-multi-item .controls-top .btn-floating {
    background: #F39200
}

.carousel-multi-item .carousel-indicators {
    margin-bottom: -2em
}

.carousel-multi-item .card-cascade.narrower {
    margin-top: 1.25rem;
    margin-bottom: .3rem
}

@media (min-width:768px) {
    .carousel-multi-item .col-md-4 {
        float: left;
        width: 33.333333%;
        max-width: 100%
    }
}

@media only screen and (max-width:992px) {
    .carousel-multi-item .carousel-indicators li {
        margin-bottom: -1.88rem
    }
}

.carousel-thumbnails .carousel-indicators {
    white-space: nowrap;
    overflow-x: auto;
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
    margin-right: initial
}

.carousel-thumbnails .carousel-indicators>li {
    width: initial;
    height: initial;
    text-indent: initial
}

.carousel-thumbnails .carousel-indicators>li .active img {
    opacity: 1
}

.wrapper-carousel-fix .carousel-fade .active.carousel-item-left,
.wrapper-carousel-fix .carousel-fade .active.carousel-item-right {
    transition: transform .6s ease;
    transition-property: opacity
}


.input-group-addon {
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.input-group-addon:not(:last-child) {
    border-right: 0;
}
.input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn, .input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:last-child)>.btn, .input-group-btn:not(:last-child)>.btn-group>.btn, .input-group-btn:not(:last-child)>.dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-addon {
    border: 1px solid #e5e9ec;
}
.input-group-addon, .input-group-btn {
    white-space: nowrap;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.input-group-addon {
    border: 1px solid #e5e9ec;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}



.dropzone {
    min-height: 150px;
    border: 2px solid rgba(0,0,0,0.3);
    background: white;
    padding: 20px 20px;
}

.dropzone, .dropzone * {
    box-sizing: border-box;
}
.dropzone.dz-clickable {
    cursor: pointer;
}
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
    cursor: pointer;
}
.dropzone .dz-message {
    text-align: center;
    margin: 2em 0;
}
.dropzone.dz-clickable * {
    cursor: default;
}

.dropzone, .dropzone * {
    box-sizing: border-box;
}
.dropzone {
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    border: 2px dashed #e5e9ec;
    border-radius: 4px;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    background: white;
}

.media-image {
    position: relative;
    height: 170px;
    width: 100%;
}
.media-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pre-process {
    position: absolute;
    top: 0;
    left: 0px;
    background-color: #f19200;
    color: white;
    padding: 5px;
    font-weight: 400;
}
.button-edit {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000b8;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    opacity: 0; 
}
.media-card:hover .button-edit{
 opacity: 1;
 -webkit-transform: scaleX(1);
 transform: scaleX(1);
 -webkit-transform-origin: 100% 50%;
 transform-origin: 100% 50%;
 -webkit-transition-property: transform;
 transition-property: transform;
 -webkit-transition-duration: 0.3s;
 transition-duration: 0.3s;
 -webkit-transition-timing-function: ease-in;
 transition-timing-function: ease-in;
}

.modal-lg, .modal-xl {
    max-width: 90%;
}
.media-image-modal {
    height: 100%;
    display: block;
    width: 100%;
}
.media-image-modal img {
    height: 520px;
    width: 100%;
    object-fit: cover;
}
ul.list-unstyled li {
    color: #999999;
    font-size: 11px;
}
.bg-dark-black {
    background-color: #111111!important;
}

.modal-content.modal-media {
    margin: auto;
    width: 100%;
    border: 0;
    background: 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.modal-dialog.modal-media-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding-top: 3.22127rem;
    padding-bottom: 3.22127rem;
    min-height: 100vh;
}
.card-region-shape {
    background-color: #f19200;   
}
.tag-add {
    position: absolute;
    width: 100px;
    height: auto;
    top: 100px;
    left: 330px;
    background-color: white;
    min-width: 300px;
    margin: 1.5rem 0 0;
    border: none;
    box-shadow: 0 10px 70px 0 rgba(108,158,195,.25);
    border-radius: 5px;
    /* display:none; */
}
.dot {
    width: 20px;
    height: 20px;
    background-color: #ed2301;
    position: absolute;
    top: 187px;
    border-radius: 50%;
    left: 302px;
    cursor: pointer;
}
