<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="mover-box">
  <div class="d-flex flex-column mover-options-search mt-2">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" placeholder="Filter {{title}}" class="form-control" (keyup)="filterTerm$.next($event.target.value)">
  </div>
  <div class="d-flex flex-row mt-2" [class.disabled]="disabled">
    <div class="flex-fill">
      <!-- Available -->
      <div class="mover-box-title">Available {{title}}</div>
      <div class="mover-options-pane">
        <div class="mover-option-group" *ngFor="let group of (available | moverFilter: filterTerm).groups">
          <div class="group-name">{{ group.name }}</div>
          <div class="mover-option" *ngFor="let option of group.options"
               (click)="selectOption(option)"
               [class.disabled]="disabled">
            {{ option.label }}
          </div>
        </div>
      </div>
    </div>
    <div class="ml-4 mr-4 d-flex flex-column justify-content-center">
      <!-- Controls -->
      <div class="mover-box-title">&nbsp;</div>
      <button type="button" class="btn btn-sm btn-default mb-2" (click)="selectAll()" [disabled]="disabled">&gt;&gt;</button>
      <button type="button" class="btn btn-sm btn-default" (click)="deselectAll()" [disabled]="disabled">&lt;&lt;</button>
    </div>
    <div class="flex-fill">
      <!-- Selected -->
      <div class="mover-box-title">Selected {{title}}</div>
      <div class="mover-options-pane selected-options-pane">
        <div class="mover-option-group" *ngFor="let group of (selected | moverFilter: filterTerm).groups">
          <div class="group-name">{{ group.name }}</div>
          <div class="mover-option" *ngFor="let option of group.options"
               (click)="deselectOption(option)"
               [class.disabled]="disabled">
            {{ option.label }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
