/*!*********************************************************************************************************************
 * Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                                *
 *                                                                                                                    *
 * CONFIDENTIAL                                                                                                       *
 *                                                                                                                    *
 * All information contained herein is, and remains the property of Pixglo Inc and its partners,                      *
 * if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its           *
 * partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or  *
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless     *
 * prior written permission is obtained from Pixglo Inc.                                                              *
 *                                                                                                                    *
 **********************************************************************************************************************/

@import "../../../../variable-imports";


.mover-box {
  .mover-box-title {
    //font-weight: bold;
    font-size: small;
    font-weight: bold;
    text-align: center;
    color: darkgrey;
    margin: 5px 0px;
  }

  .mover-options-search {

    .form-control {
      padding-left: 2.375rem;
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
    }

    .form-control-feedback {
      position: absolute;
      z-index: 2;
      display: block;
      width: 2.375rem;
      height: 2.375rem;
      line-height: 2.375rem;
      text-align: center;
      pointer-events: none;
      color: #aaa;
    }

    .icon {
      color: lightgray !important;
    }
  }

  .mover-options-pane {
    padding: 10px;
    border: 1px solid rgba(24, 28, 33, 0.1);
    border-radius: 0.25rem;
    height: 235px;
    overflow-y: scroll;
  }

  .group-name {
    color: darkgrey;
    font-size: small;
    font-weight: bold;
  }

  .mover-option {
    padding: 1px 10px;
    cursor: pointer;
    user-select: none;
    &:hover {
      background-color: $primary-color;
      color: white;
    }
    &.disabled {
      cursor: default;
      &:hover {
        background-color: transparent;
        color: inherit;
      }
    }
  }
}

