<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div>
  <div class="d-flex pb-3">
    <div class="flex-fill pt-2">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchQuery"
               (keyup)='triggerSearch($event)'>
      </div>
    </div>
    <div class="pr-0 pt-2 pl-2">

      <button class="btn btn-primary" (click)="toggleArchive()" placement="top" ngbTooltip="{{isArchived ? 'View Non Archived Templates' : 'View Archived Templates'}}">
        <span class="ion ion-ios-archive"></span>
      </button>

      <button type="button" class="btn btn-md btn-primary" [routerLink]="['create']">
        <span class="ion ion-ios-image"></span>&nbsp;&nbsp;Upload Template
      </button>
    </div>
  </div>

  <div class="container-fluid container-fluid-custom">
    <div *ngIf="content.length > 0" class="d-flex align-content-start flex-wrap">
      <div class="custom-asset" *ngFor="let template of content">
        <div class="position-relative">
          <img [src]="'/v1/templates/'+template['id']+'/thumbnail'" class="img-fluid img-custom-thumbnail">
          <div class="banners">
            <span *ngIf="template.extracted" class="badge badge-dark">EXTRACTED</span>
            <ng-container *ngFor="let type of template.types">
              <span *ngIf="type === 'OVERLAY'" class="badge badge-info">{{type}}</span>
              <span *ngIf="type === 'TEMPLATE'" class="badge badge-danger">{{type}}</span>
            </ng-container>
          </div>
          <div class="overlay">
            <div class="banners">
              <span *ngIf="template.extracted" class="badge badge-dark">EXTRACTED</span>
              <ng-container *ngFor="let type of template.types">
                <span *ngIf="type === 'OVERLAY'" class="badge badge-info">{{type}}</span>
                <span *ngIf="type === 'TEMPLATE'" class="badge badge-danger">{{type}}</span>
              </ng-container>
            </div>
            <div class="asset-controls text-center">
              <button class="btn btn-sm btn-primary btn-custom-width" placement="bottom" ngbTooltip="Edit Template"
                      type="button" (click)="edit(template)" [disabled]="template.archived"><span
                class="fas fa-edit"></span></button>
              <button class="btn btn-sm btn-dark btn-custom-width" placement="bottom" ngbTooltip="Archive Template"
                      type="button" (click)="archive(template)" [disabled]="template.archived"><span
                class="fas fa-archive"></span></button>
              <button *ngIf="isTemplateType(template)" class="btn btn-sm btn-info btn-custom-width" placement="bottom" ngbTooltip="Annotate Template"
                      type="button" (click)="annotate(template)"><span
                class="fas fa-at"></span></button>
              <button class="btn btn-sm btn-danger btn-custom-width" placement="bottom" ngbTooltip="Delete Template"
                      type="button" (click)="delete(template)" [disabled]="template.archived"><span
                class="fas fa-trash"></span></button>
            </div>
          </div>
        </div>
        <div>
          <div class="meta-name">
            {{ template['name'] }}
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="content.length == 0" class="text-center no-data-container">
      <div>
        No Data To Display
      </div>

    </div>
  </div>
  <div *ngIf="content.length > 0" class="col-12 pagination-container" >
    <div class="pagination-right">
      <ngb-pagination [collectionSize]="page.total" [(page)]="page.page" [pageSize]="page.size" [maxSize]="5" size="sm"
                      (pageChange)="paginate($event)"></ngb-pagination>
    </div>
  </div>
</div>
