<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div #previewModal>
  <div class="modal-body row">
    <div class="col-sm-9 p-0">
        <div class="media-preview-image">
      <ng-container *ngIf="isPreviewSupported">
        <img [src]="pageService.uploadMediaPath +mediaFile.img.large" #media id="singleImage" >
      </ng-container>
      <div *ngIf="!isPreviewSupported">
        <div class="card unsupported-info text-center">
          <div class="card-header">Sorry, previews are not supported for {{mediaFile?.mediaType}} files.</div>
        </div>
      </div>
    </div>
    </div>
    <div class="col-sm-3 p-0">
      <div class="card meta-container">
        <div class="card-header">Image Metadata</div>
        <div class="card-body pt-2 pb-3">
          <div class="row meta-info">
            <div class="col-sm-5 text-muted">File Name</div>
            <div class="col-sm-1 p-0 text-muted">:</div>
            <div class="col-sm-6 p-0 text-muted">{{mediaFile?.name || "N/A"}}</div>
            <div class="col-sm-5 text-muted">Dimentions</div>
            <div class="col-sm-1 p-0 text-muted">:</div>
            <div class="col-sm-6 p-0 text-muted">{{mediaFile?.dimentions || "N/A"}}</div>
            <div class="col-sm-5 text-muted">File Type</div>
            <div class="col-sm-1 p-0 text-muted">:</div>
            <div class="col-sm-6 p-0 text-muted">{{mediaFile?.mediaType}}</div>
            <div class="col-sm-5 text-muted">Width</div>
            <div class="col-sm-1 p-0 text-muted">:</div>
            <div class="col-sm-6 p-0 text-muted">{{mediaFile?.width || "N/A"}}</div>
            <div class="col-sm-5 text-muted">Height</div>
            <div class="col-sm-1 p-0 text-muted">:</div>
            <div class="col-sm-6 p-0 text-muted">{{mediaFile?.height || "N/A"}}</div>
            <div class="col-sm-5 text-muted">Data Created</div>
            <div class="col-sm-1 p-0 text-muted">:</div>
            <div class="col-sm-6 p-0 text-muted">{{mediaFile?.createdAt | date: 'short'}}</div>
            <div class="col-sm-5 text-muted">Size</div>
            <div class="col-sm-1 p-0 text-muted">:</div>
            <div class="col-sm-6 p-0 text-muted">{{mediaFile?.fileSizeBytes | fileSize}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
