

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<ng-container *ngTemplateOutlet="template"></ng-container>



<ngx-datatable #table style="min-width: 500px"
               [rows]="content"
               [loadingIndicator]="loading"
               [columnMode]="'force'"
               [headerHeight]="43"
               [footerHeight]="'auto'"
               [rowHeight]="'auto'"
               [reorderable]="true"
               [externalPaging]="true"
               [count]="page.total"
               [offset]="page.page - 1"
               [limit]="page.size"
               (page)='loadPage($event)'>

  <ngx-datatable-footer>
    <!--<app-data-table-pager></app-data-table-pager>-->
    <ng-template
      ngx-datatable-footer-template
      let-rowCount="rowCount"
      let-pageSize="pageSize"
      let-selectedCount="selectedCount"
      let-curPage="curPage"
      let-offset="offset"
      let-isVisible="isVisible">
      <div class="mt-2">
        <hr />
        <!-- Spacer -->
      </div>
      <div class="page-count">
        <div *ngIf="rowCount > pageSize else noPaging" class="text-muted">
          <!-- Paging Active -->
          Displaying {{(offset * pageSize) + 1}} - {{ curPage * pageSize}} of {{ rowCount}} Role<span *ngIf="rowCount != 1">s</span>.
        </div>
        <ng-template #noPaging>
          <div class="text-muted">
            Displaying {{ rowCount}} role<span *ngIf="rowCount != 1">s</span>.
          </div>
        </ng-template>
      </div>
      <datatable-pager
        [pagerLeftArrowIcon]="'datatable-icon-left'"
        [pagerRightArrowIcon]="'datatable-icon-right'"
        [pagerPreviousIcon]="'datatable-icon-prev'"
        [pagerNextIcon]="'datatable-icon-skip'"
        [page]="curPage"
        [size]="pageSize"
        [count]="rowCount"
        [hidden]="!((rowCount / pageSize) > 1)"
        (change)="table.onFooterPage($event)">
      </datatable-pager>
    </ng-template>

  </ngx-datatable-footer>

</ngx-datatable>
