<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div>
  <div class="d-flex pb-3">
    <div class="flex-fill pt-2">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchQuery"
               (keyup)='triggerSearch($event)'>
      </div>
    </div>
    <div class="pr-0 pt-2 pl-2">
      <button type="button" class="btn btn-md btn-primary" [routerLink]="['create']">
        <span class="ion ion-md-person-add"></span>&nbsp;&nbsp;Create User
      </button>
    </div>
  </div>

  <div class="card">
    <div class="card-ngx-datatable table-responsive">

      <ngx-datatable #table style="min-width: 500px"
                     [rows]="content"
                     [loadingIndicator]="loading"
                     [columnMode]="'force'"
                     [headerHeight]="43"
                     [footerHeight]="'auto'"
                     [rowHeight]="'auto'"
                     [reorderable]="true"
                     [externalPaging]="true"
                     [count]="page.total"
                     [offset]="page.page - 1"
                     [limit]="page.size"
                     (page)='search($event.offset + 1)'>
        <ngx-datatable-column name="First Name" prop="client" [maxWidth]="300">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>{{ row.firstName }}</ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Last Name" prop="client" [maxWidth]="300">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>{{ row.lastName }}</ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Email" prop="client" [maxWidth]="300">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>{{ row.email }}</ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Roles" prop="roleNames">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status" prop="client" [maxWidth]="300">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <ng-container *ngIf="row.status === 'ACTIVE'">
              <span class="badge badge-success badge-custom-width">ACTIVE</span>
            </ng-container>
            <ng-container *ngIf="row.status === 'NOT_ACTIVATED'">
              <span class="badge badge-warning badge-custom-width">NOT ACTIVATED</span>
            </ng-container>

            <ng-container *ngIf="row.status === 'INACTIVE'">
              <span class="badge badge-default badge-custom-width">INACTIVE</span>
            </ng-container>
            <ng-container *ngIf="row.status === 'LOCKED'">
              <span class="badge badge-danger badge-custom-width">LOCKED</span>
            </ng-container>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Tenant" prop="client" [maxWidth]="300" *ngIf="isSuperAdmin">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>{{ row.tenantName !== null ? row.tenantName : 'N/A' }}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [maxWidth]="180" [minWidth]="150" [frozenRight]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="text-center">
              <button type="button" class="btn icon-btn btn-sm btn-dark" (click)="edit(row)"
                      app-permission="USERS_CREATE_OR_UPDATE"
                      title="Edit User"
                      [disabled]="row.id === currentUserId">
                <span class="fas fa-edit"></span>
              </button>
              <button type="button" class="btn icon-btn btn-sm btn-dark" (click)="triggerPasswordResetMail(row)"
                      title="Reset User Password"
                      app-permission="USERS_CREATE_OR_UPDATE"
                      [disabled]="row.id === currentUserId">
                <span class="fas fa-unlock"></span>
              </button>
              <button *ngIf="row.status=='ACTIVE'" type="button" class="btn icon-btn btn-sm btn-dark"
                      (click)="deactivate(row)"
                      title="Deactivate User"
                      app-permission="USERS_CREATE_OR_UPDATE"
                      [disabled]="row.id === currentUserId">
                <span class="fas fa-eye-slash"></span>
              </button>
              <button *ngIf="row.status=='INACTIVE'" type="button" class="btn icon-btn btn-sm btn-dark"
                      (click)="reactivate(row)"
                      title="Re-activate User"
                      app-permission="USERS_CREATE_OR_UPDATE"
                      [disabled]="row.id === currentUserId">
                <span class="fas fa-eye"></span>
              </button>
              <button *ngIf="row.status=='NOT_ACTIVATED'" type="button" class="btn icon-btn btn-sm btn-dark"
                      title="Re-send Activation Email"
                      (click)="triggerActivationMail(row)"
                      app-permission="USERS_CREATE_OR_UPDATE"
                      [disabled]="row.id === currentUserId">
                <span class="ion ion-ios-mail"></span>
              </button>
              <button type="button" class="btn icon-btn btn-sm btn-danger"
                      (click)="del(row)"
                      title="Delete User"
                      app-permission="USERS_DELETE"
                      [disabled]="row.id === currentUserId">
                <span class="fas fa-trash-alt"></span>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer>
          <!--<app-data-table-pager></app-data-table-pager>-->
          <ng-template
            ngx-datatable-footer-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset"
            let-isVisible="isVisible">
            <div class="mt-2">
              <hr/>
              <!-- Spacer -->
            </div>
            <div class="page-count">
              <div *ngIf="rowCount > pageSize else noPaging" class="text-muted">
                <!-- Paging Active -->
                Displaying {{(offset * pageSize) + 1}} - {{ curPage * pageSize}} of {{ rowCount}} user<span
                *ngIf="rowCount != 1">s</span>
              </div>
              <ng-template #noPaging>
                <div class="text-muted">
                  Displaying {{ rowCount}} user<span *ngIf="rowCount != 1">s</span>
                </div>
              </ng-template>
            </div>
            <datatable-pager
              [pagerLeftArrowIcon]="'datatable-icon-left'"
              [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'"
              [page]="curPage"
              [size]="pageSize"
              [count]="rowCount"
              [hidden]="!((rowCount / pageSize) > 1)"
              (change)="table.onFooterPage($event)">
            </datatable-pager>
          </ng-template>

        </ngx-datatable-footer>

      </ngx-datatable>
    </div>
  </div>
</div>
