<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--<h4 class="font-weight-bold py-3 mb-4">-->
<!--<span class="text-muted font-weight-light">Access Control /</span> Roles-->
<!--</h4>-->

<!--<hr class="border-light container-m&#45;&#45;x mt-0 mb-4">-->

<div>
  <div class="d-flex pb-3">
    <div class="flex-fill pt-2">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchQuery"
               (keyup)='triggerSearch($event)'>
      </div>
      <!--<input class="form-control" type='text' placeholder='Search by name...' (keyup)='search($event)'>-->
    </div>
    <div class="pr-0 pt-2 pl-2">
      <button type="button" class="btn btn-md btn-primary" [routerLink]="['create']">
        <span class="ion ion-md-key"></span>&nbsp;&nbsp;Create Role
      </button>
    </div>
  </div>

  <div class="card">
    <!--<h6 class="card-header">-->
    <!--Within card-->
    <!--</h6>-->
    <div class="card-ngx-datatable table-responsive">

      <ngx-datatable #table style="min-width: 500px"
                     [rows]="content"
                     [loadingIndicator]="loading"
                     [columnMode]="'force'"
                     [headerHeight]="43"
                     [footerHeight]="'auto'"
                     [rowHeight]="'auto'"
                     [reorderable]="true"
                     [externalPaging]="true"
                     [count]="page.total"
                     [offset]="page.page - 1"
                     [limit]="page.size"
                     (page)='search($event.offset + 1)'>
        <ngx-datatable-column name="Name" [maxWidth]="300">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            {{ value }}
            <a *ngIf="row.system" href="javascript:void(0)" class="badge badge-warning ml-2">System</a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Permissions"></ngx-datatable-column>
        <ngx-datatable-column [maxWidth]="120" [minWidth]="120" [frozenRight]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="text-center">
              <button type="button" class="btn icon-btn btn-sm btn-dark"
                      (click)="edit(row)"
                      app-permission="ROLES_CREATE_OR_UPDATE">
                <span class="fas fa-edit"></span>
              </button>
              <button type="button" class="btn icon-btn btn-sm btn-danger"
                      (click)="del(row)"
                      app-permission="ROLES_DELETE"
                      [disabled]="row.system">
                <span class="fas fa-trash-alt"></span>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template
            ngx-datatable-footer-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset"
            let-isVisible="isVisible">
            <div class="mt-2">
              <hr />
              <!-- Spacer -->
            </div>
            <div class="page-count">
              <div *ngIf="rowCount > pageSize else noPaging" class="text-muted">
                <!-- Paging Active -->
                Displaying {{(offset * pageSize) + 1}} - {{ curPage * pageSize}} of {{ rowCount}} role<span *ngIf="rowCount != 1">s</span>
              </div>
              <ng-template #noPaging>
                <div class="text-muted">
                  Displaying {{ rowCount}} role<span *ngIf="rowCount != 1">s</span>
                </div>
              </ng-template>
            </div>
            <datatable-pager
              [pagerLeftArrowIcon]="'datatable-icon-left'"
              [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'"
              [page]="curPage"
              [size]="pageSize"
              [count]="rowCount"
              [hidden]="!((rowCount / pageSize) > 1)"
              (change)="table.onFooterPage($event)">
            </datatable-pager>
          </ng-template>

        </ngx-datatable-footer>

      </ngx-datatable>
    </div>
  </div>
</div>
