<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div #roiConfiguration>
  <div class="modal-body">
    <div class="card p-3">
      <div class="card-header p-2">
        <h4>Add ROI Configuration</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-2">
            <b>ROI Type:</b>
          </div>
          <div class="col-sm-4">
            <div class="custom-controls-stacked row">
              <label class="custom-control custom-radio col-sm-6">
                <input [(ngModel)]="selectedROIType" class="custom-control-input" value="RIGID" name="custom-radio-3" type="radio" (change)="onROITypeChange($event)">
                <span class="custom-control-label">Rigid</span>
              </label>
              <label class="custom-control custom-radio col-sm-6">
                <input [(ngModel)]="selectedROIType" class="custom-control-input" value="NON_RIGID" name="custom-radio-3" type="radio" (change)="onROITypeChange($event)">
                <span class="custom-control-label">Non-Rigid</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-sm-6">
            <label class="form-label">Template</label>
            <ng-select [items]="templates" [multiple]="false" [closeOnSelect]="true" bindLabel="name" bindValue="id"
              placeholder="Select Template" [hideSelected]="true" (change)="onTemplateChange($event)">
            </ng-select>
            <div class="col-sm-12 text-center img-preview-container" *ngIf="selectedTemplate">
              <img [src]="'/v1/templates/'+selectedTemplate?.id+'/thumbnail'" class="img-source">
            </div>
          </div>
          <div class="col-sm-6">
            <label class="form-label">Overlay</label>
            <ng-select [items]="overlays" [multiple]="false" [closeOnSelect]="true" bindLabel="name" bindValue="id"
              placeholder="Select Overlay" [hideSelected]="true" (change)="onOverlayChange($event)" [(ngModel)]="selectedOverlayId">
            </ng-select>
            <div class="col-sm-12 text-center img-preview-container" *ngIf="selectedOverlay">
              <img [src]="'/v1/templates/'+selectedOverlay?.id+'/thumbnail'" class="img-source">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 card-footer pb-0 pr-0">
        <div class="text-right">
          <button class="btn btn-danger" (click)="closeROIConfigurationModel()">Cancel</button>
          <button class="btn btn-primary" [disabled]="!(selectedROIType && selectedTemplate && selectedOverlay)" (click)="addROI()">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>
