<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div>
    <div class="d-flex pb-3">
        <div class="flex-fill pt-2">
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchQuery" (keyup)='triggerSearch($event)'>
            </div>
        </div>
        <div class="pr-0 pt-2 pl-2">
            <button type="button" class="btn btn-md btn-primary" [routerLink]="['create']" title="Click to create new project">
                <span class="ion ion-md-images"></span>&nbsp;&nbsp;Create Project
            </button>
            <button type="button" class="btn btn-md btn-success" (click)="bulkdownload()" title="Click to download selected projects annotated data" [disabled]="flagDownloadDisabled">
                <span class="fas fa-download"></span>
            </button>
            <!-- <button type="button" class="btn btn-md btn-primary" [routerLink]="['create']" title="Click to filter record" [disabled]="true">
                <span class="fas fa-filter"></span>
            </button> -->
            <app-filter-view [objHeader]="filterFields" (filterResponse)="receiveFilterResponse($event)"></app-filter-view>
        </div>
    </div>

    <div class="card">
        <div class="card-ngx-datatable table-responsive">
            <ngx-datatable #table style="min-width: 500px" [rows]="content" [loadingIndicator]="loading" [columnMode]="'force'" [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true" [externalPaging]="true" [count]="page.total" [offset]="page.page - 1" [limit]="page.size" (page)='search($event.offset + 1)' (sort)="onSort($event)">
                <ngx-datatable-column [maxWidth]="70" [minWidth]="70" > 
                    <ng-template ngx-datatable-header-template> 
                        <label class="control control-solid control-solid-warning control--checkbox rol-checkbox">&nbsp;
                            <input type="checkbox" [checked]="masterSelected" name="list_item" value="master" [(ngModel)]="masterSelected" (change)="onRecordSelected('all')" title="Click to Select/ Unselect All">
                            <div class="control__indicator"></div>
                        </label>
                    </ng-template> 
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <label class="control control-solid control-solid-warning control--checkbox rol-checkbox">&nbsp;
                            <input type="checkbox" [(ngModel)]="row.isSelected" [checked]="row.isSelected" name="list_item" [value]="row.id" (change)="onRecordSelected('single')" >
                            <div class="control__indicator"></div>
                        </label>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Name">
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>{{ row.name }}</ng-template>
                </ngx-datatable-column>
                <!-- HIDE AS OF NOW WITH INSTRUCTION 
                    <ngx-datatable-column name="Number Of Images">
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>{{ row.no_of_images || 0}}</ng-template>
                </ngx-datatable-column> -->
                <ngx-datatable-column name="Created On" prop="createdAt" [sortable]='false'>
                    <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value | date: 'short'}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Action" [maxWidth]="180" [minWidth]="150" [frozenRight]="true" [sortable]='false'>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div class="text-center">
                            <!-- <button type="button" class="btn icon-btn btn-sm btn-danger" (click)="uploadMedia(row)" title="View Media Library" app-permission="PROJECTS_MEDIA_LIBRARY_VIEW"> -->
                            <button type="button" class="btn icon-btn btn-sm btn-info" (click)="uploadMedia(row)" title="View Image Library" >
                                <span class="fas fa-eye"></span>
                            </button>
                            <!-- <button type="button" class="btn icon-btn btn-sm btn-dark" (click)="edit(row)" app-permission="PROJECTS_CREATE_OR_UPDATE" title="Edit Project"> -->
                            <button type="button" class="btn icon-btn btn-sm btn-dark" (click)="edit(row)" title="Edit Project">
                                <span class="fas fa-edit"></span>
                            </button>
                            <!-- <button type="button" class="btn icon-btn btn-sm btn-danger" (click)="del(row)" title="Delete Project" app-permission="PROJECTS_DELETE"> -->
                            <button type="button" class="btn icon-btn btn-sm btn-danger" (click)="del(row)" title="Delete Project">
                                <span class="fas fa-trash-alt"></span>
                            </button>
                            <!-- <button type="button" class="btn icon-btn btn-sm btn-danger" (click)="uploadMedia(row)" title="Upload Images" app-permission="PROJECTS_UPLOAD"> -->
                            <button type="button" class="btn icon-btn btn-sm btn-success" (click)="uploadDirectMedia(row)" title="Upload Images" >
                                <span class="fas fa-upload"></span>
                            </button>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-footer>
                    <!--<app-data-table-pager></app-data-table-pager>-->
                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                        <div class="mt-2">
                            <hr/>
                            <!-- Spacer -->
                        </div>
                        <div class="page-count">
                            <div *ngIf="rowCount > pageSize else noPaging" class="text-muted">
                                <!-- Paging Active -->
                                Displaying {{(offset * pageSize) + 1}} - {{ curPage * pageSize}} of {{ rowCount}} Project<span
                                *ngIf="rowCount != 1">s</span>
                            </div>
                            <ng-template #noPaging>
                                <div class="text-muted">
                                Displaying {{ rowCount}} Project<span *ngIf="rowCount != 1">s</span>
                                </div>
                            </ng-template>
                        </div>
                        <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
                        </datatable-pager>
                    </ng-template>
                </ngx-datatable-footer>
            </ngx-datatable>
        </div>
    </div>
    <div class="custom-loader" *ngIf="loading">
        <!-- <div class="text-center no-data-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div> -->
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
