/*!*********************************************************************************************************************
 * Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                                *
 *                                                                                                                    *
 * CONFIDENTIAL                                                                                                       *
 *                                                                                                                    *
 * All information contained herein is, and remains the property of Pixglo Inc and its partners,                      *
 * if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its           *
 * partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or  *
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless     *
 * prior written permission is obtained from Pixglo Inc.                                                              *
 *                                                                                                                    *
 **********************************************************************************************************************/

 .control {
    position: relative;
    cursor: pointer;
    line-height: normal;
}

label {
    /* display: inline-block; */
    margin-bottom: .5rem;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.control.control-solid.control-solid-warning input:checked~.control__indicator {
    background: #F39200;
}

.control input:checked~.control__indicator {
    border: none;
    background: #F39200;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #e5e9ec;
    border-radius: 0px;
    background: #fff;
}

.control input:checked~.control__indicator:after {
    display: block;
}

.control--checkbox.control-solid .control__indicator:after {
    top: 4px;
    left: 8px;
}

.control--checkbox .control__indicator:after {
    top: 3px;
    left: 7px;
    width: 5px;
    height: 9px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;
}

.control__indicator:after {
    position: absolute;
    display: none;
    content: "";
}

.custom-loader {
    position: absolute;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .custom-loader:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333 !important;
  }

  .ngx-datatable datatable-header-cell * {
    width: 99% !important;
  }
