/*!*********************************************************************************************************************
 * Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                                *
 *                                                                                                                    *
 * CONFIDENTIAL                                                                                                       *
 *                                                                                                                    *
 * All information contained herein is, and remains the property of Pixglo Inc and its partners,                      *
 * if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its           *
 * partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or  *
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless     *
 * prior written permission is obtained from Pixglo Inc.                                                              *
 *                                                                                                                    *
 **********************************************************************************************************************/

@import "../../../../vendor/libs/ngx-chips/ngx-chips.scss";
@import "../../../../vendor/libs/ngx-dropzone-wrapper/ngx-dropzone-wrapper.scss";

/deep/ .ng2-tag-input {
  border: 1px solid #efefef !important;
  border-radius: 4px !important;
  padding: 0px !important;
}

/deep/ .ng2-tag-input:focus {
  border: 1px solid #f39200 !important;
  border-radius: 4px !important;
  padding: 0px !important;
}

/deep/ .tag-wrapper {
  line-height: 31px !important;
}


:host /deep/ {
  .ng2-file-upload-drop-zone {
    border: 3px dashed rgba(24, 28, 33, 0.1);
  }
  .ng2-file-upload-file-over {
    border-color: rgba(24, 28, 33, 0.3);
  }
}
.needsclick{
  padding-top: 3.1em !important;
}

.dropzone-custom {
  min-height :315px;
  padding-right: 0px !important;
}

.outer-image-container{
  position:relative;
  margin-top:15px;
  padding-top: 15px;
  width:auto;
}

.inner-image-container {
  height: auto;
  width: auto;
  position: relative;
  display: inline-block;

}
.image-remove-icon{
  position: absolute;
  right: -10px;
  top: -10px;
  font-size: 20px;
}

.progress-bar-custom-container{
  position: absolute;
  bottom: 5px;
}

.file-input-custom {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}

.file-button{
  position: relative;
  overflow: hidden;
}

.logo-container {
  display: block;
  width: 300px;
  height: 150px;
  background-position: center;
}

.custom-muted-text {
  font-size: 13px;
}
