<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="row justify-content-center">

  <div class="card mb-4 col-lg-6">
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="card-body">
        <div class="form-group">
          <label class="form-label">Tenant Name</label>
          <input type="text" class="form-control" placeholder="Name" formControlName="name" >
          <div *ngIf="form.invalid && form.controls.name.errors" class="invalid-feedback">
            <div *ngIf="form.controls.name.errors.required">Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Website URL</label>
          <input type="text" class="form-control" placeholder="https://some.tenant.com" formControlName="websiteUrl" >
          <div *ngIf="form.invalid && form.controls.websiteUrl.errors" class="invalid-feedback">
            <!-- No validations yet -->
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Contact Email</label>
          <input type="text" class="form-control" placeholder="contact@tenant.com" formControlName="email" >
          <div *ngIf="form.invalid && form.controls.email.errors" class="invalid-feedback">
            <div *ngIf="form.controls.email.errors.email">Email address should be valid</div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Contact Person</label>
          <input type="text" class="form-control" placeholder="John Doe" formControlName="contactPerson" >
          <div *ngIf="form.invalid && form.controls.contactPerson.errors" class="invalid-feedback">
            <!-- No validations yet -->
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Contact Number</label>
          <input type="text" class="form-control" placeholder="John Doe" formControlName="contactNumber" >
          <div *ngIf="form.invalid && form.controls.contactPerson.errors" class="invalid-feedback">
            <!-- No validations yet -->
          </div>
        </div>

        <div class="form-group" *ngIf="!isEditMode || (isEditMode && isFileRemoved) || (isEditMode && !isLogoUploaded)">
          <label class="form-label">Logo</label>


          <div #drpzone class="dropzone text-center dropzone-custom" [dropzone]="config" (addedFile)="onFileAdded($event)" (removedFile)="removeFile($event)" (success)="uploadSuccess($event)" (uploadProgress)="uploadProgress($event)" (error)="onUploadError($event)">
            <div class="dz-message needsclick">
              Drop a logo here or click to upload <br> <span class="text-muted custom-muted-text"><small>Upload a logo with the dimension of 100 X 35</small></span>
            </div>
            <div class="fallback">
              <input name="file" type="file" multiple>
            </div>
            <div  *ngIf="isFileAdded" class="pb-0 pl-5 pr-5 pt-5 col-sm-12 progress-bar-custom-container">
              <ngb-progressbar type="primary" [value]="progress" [striped]="true" [animated]="true"></ngb-progressbar>
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="isEditMode && !isFileRemoved && isLogoUploaded">
          <div class="col-12" class="no-padding-right no-padding-left text-center">
            <div class="text-center outer-image-container">
              <div class="inner-image-container">
                <img [src]="'/v1/tenants/'+tenantId+'/logo'" class="img-fluid">
                <a data-dz-remove class="image-remove-icon" (click)="removeLogo()" ><span><i class="ion d-block ion-ios-close-circle"></i></span></a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="card-footer">
        <div class="d-flex flex-row action-buttons">
          <button *ngIf="isEditMode" type="button" class="btn btn-danger"
                  app-permission="TENANT_DELETE"
                  (click)="del()">
            Delete
          </button>
          <button *ngIf="isEditMode && currentTenant && currentTenant.active" type="button" class="btn btn-warning mr-auto"
                  app-permission="TENANT_CREATE_OR_UPDATE"
                  (click)="deactivate()">
            Deactivate
          </button>
          <button *ngIf="isEditMode && currentTenant && ! currentTenant.active" type="button" class="btn btn-default mr-auto"
                  app-permission="TENANT_CREATE_OR_UPDATE"
                  (click)="activate()">
            Activate
          </button>
          <button type="button" class="btn btn-default ml-auto" (click)="cancel()">
              Cancel
          </button>
          <button type="submit" class="btn btn-primary"
                  app-permission="TENANT_CREATE_OR_UPDATE"
                  [disabled]="form.pristine || form.invalid">
            <ng-container *ngIf="isEditMode; else saveLabel">
              Update
            </ng-container>
            <ng-template #saveLabel>
              Save
            </ng-template>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


<div id="asset-preview-template" hidden>
  <div class="text-center outer-image-container">
    <div class="inner-image-container">
      <img data-dz-thumbnail class=" img-fluid" />
      <a data-dz-remove class="image-remove-icon"><span><i class="ion d-block ion-ios-close-circle"></i></span></a>
    </div>
  </div>
</div>


<!--&lt;!&ndash; Debug &ndash;&gt;-->
<!--<div class="row justify-content-center mt-6">-->
  <!--<div class="card mb-4 col-lg-6 mt-6">-->
    <!--<h6 class="card-header">-->
      <!--Debug-->
    <!--</h6>-->
    <!--<div class="card-body">-->
      <!--<pre> {{ form.controls['permissions'].errors | json }} </pre>-->
      <!--<pre> {{ form.controls['name'].errors | json }} </pre>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
