
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="row justify-content-center">
  <div class="card mb-4 col-lg-6">
    <form [formGroup]="userForm" (ngSubmit)="save()">
      <div class="card-body">

        <div class="form-group">
          <label class="form-label">First Name</label>
          <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" >
          <div *ngIf="userForm.invalid && userForm.controls.firstName.errors" class="invalid-feedback">
            <div *ngIf="userForm.controls.firstName.errors.required">First Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Last Name</label>
          <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" >
          <div *ngIf="userForm.invalid && userForm.controls.lastName.errors" class="invalid-feedback">
            <div *ngIf="userForm.controls.lastName.errors.required">Last Name is required</div>
          </div>
        </div>

        <div class="form-group">
          <label class="form-label">Email</label>
          <input type="text" class="form-control" placeholder="Email" formControlName="email" >
          <div *ngIf="userForm.invalid && userForm.controls.email.errors" class="invalid-feedback">
            <div *ngIf="userForm.controls.email.errors.required">Email is required</div>
            <div *ngIf="userForm.controls.email.errors.email">Email is not valid</div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Roles</label>
          <ng-select [items]="roles"
                     [multiple]="true"
                     [closeOnSelect]="true"
                     bindLabel="label"
                     bindValue="value"
                     placeholder="Select Roles"
                     formControlName = "roleIds"
                     [hideSelected]="true"
                     [dropdownPosition]="'top'" (change)="roleChange($event)">
          </ng-select>
          <div *ngIf="userForm.invalid && userForm.controls.roleIds.errors" class="invalid-feedback">
            <div *ngIf="userForm.controls.roleIds.errors.required">Roles are required</div>
          </div>
          <div *ngIf="!userForm.controls.roleIds.errors && systemAdminRoleSelected">
            <small>When System Administrator role is selected, no other roles and tenant can be selected.</small>
          </div>
        </div>
        <div class="form-group" *ngIf="!systemAdminRoleSelected">
          <label class="form-label">Tenant</label>
          <ng-select [items]="tenants"
                     [multiple]="false"
                     [closeOnSelect]="true"
                     bindLabel="label"
                     bindValue="value"
                     placeholder="Select Tenant"
                     formControlName="tenantId"
                     [hideSelected]="true" [disabled]="disableTenantSelection">
          </ng-select>
          <div *ngIf="userForm.invalid && userForm.controls.tenantId.errors" class="invalid-feedback">
            <div *ngIf="userForm.controls.tenantId.errors.required">Tenant is required</div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex flex-row action-buttons">
          <button *ngIf="isEditMode" type="button"
                  class="btn btn-danger mr-auto"
                  app-permission="USERS_DELETE"
                  (click)="del()">
            Delete
          </button>
          <button type="button" class="btn btn-default ml-auto"
                  (click)="cancel()">
              Cancel
          </button>
          <button type="submit" class="btn btn-primary"
                  app-permission="USERS_CREATE_OR_UPDATE"
                  [disabled]="userForm.pristine || userForm.invalid">
            <ng-container *ngIf="isEditMode; else saveLabel">
              Update
            </ng-container>
            <ng-template #saveLabel>
              Save
            </ng-template>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--&lt;!&ndash; Debug &ndash;&gt;-->
<!--<div class="row justify-content-center mt-6">-->
<!--<div class="card mb-4 col-lg-6 mt-6">-->
<!--<h6 class="card-header">-->
<!--Debug-->
<!--</h6>-->
<!--<div class="card-body">-->
<!--<pre> {{ userForm.controls['tenantId'].errors | json }} </pre>-->
<!--<pre> {{ userForm.controls['roleIds'].errors | json }} </pre>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->

