<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div *ngIf="! error && processing" class="spinner-wrapper">
  <div class="sk-fading-circle">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
  </div>
</div>

<!-- TOS -->
<div *ngIf="!continue" class="row justify-content-center pt-5">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3 class="text-uppercase mb-1">PIXGLO - Terms and Conditions</h3>
        <span><small><b>Last updated: March 24, 2019</b></small></span>
      </div>
      <div class="card-body">
        <div class="lnr-text-align-justify" [style.height.px]="licenseContainerHeight" style="overflow-y: scroll;">
          <p>
            Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the Pixglo Studio
            application (the "Service") operated by Pixglo Inc. ("us", "we", or "our").
          </p>
          <p>
            Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These
            Terms apply to all visitors, users and others who wish to access or use the Service.
          </p>
          <p>
            By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then
            you do not have permission to access the Service.
          </p>
          <h4>Communications</h4>
          <p>
            By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and
            other information we may send. However, you may opt out of receiving any, or all, of these communications from us by
            following the unsubscribe link or instructions provided in any email we send.
          </p>
          <h4>Content</h4>
          <p>
            Our Service allows you to upload, store and otherwise make available certain information, text, graphics, videos, or
            other material ("Content"). You are responsible for the Content that you upload on or through the Service, including its
            legality, reliability, and appropriateness.
          </p>
          <p>
            By uploading Content on or through the Service, You represent and warrant that: (i) the Content is yours (you own it)
            and/or you have the right to use it and the right to grant us the rights and license as provided in these Terms, and
            (ii) that the uploading of your Content on or through the Service does not violate the privacy rights, publicity rights,
            copyrights, contract rights or any other rights of any person or entity. We reserve the right to terminate the account
            of anyone found to be infringing on a copyright.
          </p>
          <p>
            You retain any and all of your rights to any Content you submit, upload or display on or through the Service and you are
            responsible for protecting those rights. We take no responsibility and assume no liability for Content you or any third
            party uploads on or through the Service. However, by uploading Content using the Service you grant us the right and
            license to use, modify, perform, display, reproduce, and distribute such Content on and through the Service.
          </p>
          <p>
            Pixglo Inc. has the right but not the obligation to monitor and edit all Content provided by users.
          </p>
          <p>
            In addition, Content found on or through this Service are the property of Pixglo Inc. or used with permission. You may
            not distribute, modify, transmit, reuse, download, copy, or use said Content, whether in whole or in part, for
            commercial purposes or for personal gain, without express advance written permission from us.
          </p>
          <h4>Accounts</h4>
          <p>
            When you create an account with us, you guarantee that you are above the age of 18, and that the information you provide
            us is accurate, complete, and current at all times. Inaccurate, incomplete, or obsolete information may result in the
            immediate termination of your account on the Service.
          </p>
          <p>
            You are responsible for maintaining the confidentiality of your account and password, including but not limited to the
            restriction of access to your computer and/or account. You agree to accept responsibility for any and all activities or
            actions that occur under your account and/or password, whether your password is with our Service or a third-party
            service. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your
            account.
          </p>
          <p>
            You may not use as a username the name of another person or entity or that is not lawfully available for use, a name or
            trademark that is subject to any rights of another person or entity other than you, without appropriate authorization.
            You may not use as a username any name that is offensive, vulgar or obscene.
          </p>
          <h4>Intellectual Property</h4>
          <p>
            The Service and its original content (excluding Content provided by users), features and functionality are and will
            remain the exclusive property of Pixglo Inc. and its licensors. The Service is protected by copyright, trademark, and
            other laws of both the United States and foreign countries. Our trademarks and trade dress may not be used in connection
            with any product or service without the prior written consent of Pixglo Inc..
          </p>
          <h4>Links To Other Web Sites</h4>
          <p>
            Our Service may contain links to third party web sites or services that are not owned or controlled by Pixglo Inc.
            Pixglo Inc.
          </p>
          <p>
            has no control over, and assumes no responsibility for the content, privacy policies, or practices of any
            third party web sites or services. We do not warrant the offerings of any of these entities/individuals or their
            websites.
          </p>
          <p>
            You acknowledge and agree that Pixglo Inc. shall not be responsible or liable, directly or indirectly, for any damage or
            loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services
            available on or through any such third party web sites or services.
          </p>
          <p>
            We strongly advise you to read the terms and conditions and privacy policies of any third party web sites or services
            that you visit.
          </p>
          <h4>Termination</h4>
          <p>
            We may terminate or suspend your account and bar access to the Service immediately, without prior notice or liability,
            under our sole discretion, for any reason whatsoever and without limitation, including but not limited to a breach of
            the Terms.
          </p>
          <p>
            If you wish to terminate your account, you may simply discontinue using the Service.
          </p>
          <p>
            All provisions of the Terms which by their nature should survive termination shall survive termination, including,
            without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
          </p>
          <h4>Indemnification</h4>
          <p>
            You agree to defend, indemnify and hold harmless Pixglo Inc. and its licensee and licensors, and their employees,
            contractors, agents, officers and directors, from and against any and all claims, damages, obligations, losses,
            liabilities, costs or debt, and expenses (including but not limited to attorney's fees), resulting from or arising out
            of a) your use and access of the Service, by you or any person using your account and password; b) a breach of these
            Terms, or c) Content uploaded on the Service.
          </p>
          <h4>Limitation Of Liability</h4>
          <p>
            In no event shall Pixglo Inc., nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for
            any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of profits,
            data, use, goodwill, or other intangible losses, resulting from (i) your access to or use of or inability to access or
            use the Service; (ii) any conduct or content of any third party on the Service; (iii) any content obtained from the
            Service; and (iv) unauthorized access, use or alteration of your transmissions or content, whether based on warranty,
            contract, tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility
            of such damage, and even if a remedy set forth herein is found to have failed of its essential purpose.
          </p>
          <h4>Disclaimer</h4>
          <p>
            Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis. The
            Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied
            warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance.
          </p>
          <p>
            Pixglo Inc. its subsidiaries, affiliates, and its licensors do not warrant that a) the Service will function
            uninterrupted, secure or available at any particular time or location; b) any errors or defects will be corrected; c)
            the Service is free of viruses or other harmful components; or d) the results of using the Service will meet your
            requirements.
          </p>
          <h4>Exclusions</h4>
          <p>
            Some jurisdictions do not allow the exclusion of certain warranties or the exclusion or limitation of liability for
            consequential or incidental damages, so the limitations above may not apply to you.
          </p>
          <h4>Governing Law</h4>
          <p>
            These Terms shall be governed and construed in accordance with the laws of California, United States, without regard to
            its conflict of law provisions.
          </p>
          <p>
            Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any
            provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will
            remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and
            replace any prior agreements we might have had between us regarding the Service.
          </p>
          <h4>Changes</h4>
          <p>
            We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we
            will provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be
            determined at our sole discretion.
          </p>
          <p>
            By continuing to access or use our Service after any revisions become effective, you agree to be bound by the revised
            terms. If you do not agree to the new terms, you are no longer authorized to use the Service.
          </p>
          <h4>Contact Us</h4>
          <p>
            If you have any questions about these Terms, please contact us.
          </p>
          <div class="pt-2">
            <label class="form-check">
              <input class="form-check-input" type="checkbox" [ngModel]="isAgreed" (ngModelChange)="agreeToTOS($event)">
              <div class="form-check-label">
                I agree to the terms and conditions.
              </div>
            </label>
        </div>
      </div>
      <div class="card-footer">
        <div class="float-right">
          <button class="btn btn-primary" [disabled]="!isAgreed" (click)="continueToSignUp()">
            <b>Continue</b></button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- Sign up -->
<div *ngIf="continue">
  <div *ngIf="! (processing || error)" class="authentication-wrapper authentication-2 px-4">
    <div class="authentication-inner py-5">
      <form class="card" [formGroup]="form" (ngSubmit)="handleCredentialSubmit()">
        <div class="p-4 p-sm-5">
          <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
            <div class="ui-w-60">
              <div class="w-100 position-relative" style="padding-bottom: 54%">
                <img src="assets/img/logos/pixglo_100.png" alt="" class="position-absolute" style="left: -18px">
              </div>
            </div>
          </div>
          <h5 class="text-center mb-4">{{isPasswordReset ? 'Reset Password' : 'Activate Account'}}</h5>
          <hr class="mt-0 mb-4">
          <h5 class="text-muted font-weight-normal mb-3">Hello {{token.firstName}},</h5>
          <p>
            {{isPasswordReset ? 'Please enter a new password below.' :  'Please enter a password below to activate your account.'}}
          </p>
          <div class="form-group">
            <input name="app-password" type="password" class="form-control" placeholder="Enter a password"
                   [ngbPopover]="passwordPopContent" [popoverTitle]="'Password Requirements'"
                   placement="right" triggers="manual" #passwordPopover="ngbPopover" [autoClose]="false"
                   (focus)="onPasswordFocus()" (blur)="onPasswordBlur()"
                   formControlName="password">
            <ng-template #passwordPopContent>
              <label class="col auth-val-message"
                     [ngClass]="form.controls.password.errors && (form.controls.password.errors.required || form.controls.password.errors.minlength) ? 'fail' : 'pass'">
                <i class="fas fa-times-circle text-danger"></i> <!-- Shown when fail by CSS -->
                <i class="fas fa-check-circle text-success"></i> <!-- Shown when success by CSS -->
                At least 8 characters.
              </label>
              <label class="col auth-val-message"
                     [ngClass]="form.controls.password.errors && (form.controls.password.errors.required || form.controls.password.errors.hasNumber) ? 'fail' : 'pass'">
                <i class="fas fa-times-circle text-danger"></i> <!-- Shown when fail by CSS -->
                <i class="fas fa-check-circle text-success"></i> <!-- Shown when success by CSS -->
                At least 1 number.
              </label>
              <label class="col auth-val-message"
                     [ngClass]="form.controls.password.errors && (form.controls.password.errors.required || form.controls.password.errors.hasUpperCase) ? 'fail' : 'pass'">
                <i class="fas fa-times-circle text-danger"></i> <!-- Shown when fail by CSS -->
                <i class="fas fa-check-circle text-success"></i> <!-- Shown when success by CSS -->
                At least 1 capital letter.
              </label>
              <label class="col auth-val-message"
                     [ngClass]="form.controls.password.errors && (form.controls.password.errors.required || form.controls.password.errors.hasLowerCase) ? 'fail' : 'pass'">
                <i class="fas fa-times-circle text-danger"></i> <!-- Shown when fail by CSS -->
                <i class="fas fa-check-circle text-success"></i> <!-- Shown when success by CSS -->
                At least 1 lower case letter.
              </label>
              <label class="col auth-val-message"
                     [ngClass]="form.controls.password.errors && (form.controls.password.errors.required || form.controls.password.errors.hasSpecialCharacters) ? 'fail' : 'pass'">
                <i class="fas fa-times-circle text-danger"></i> <!-- Shown when fail by CSS -->
                <i class="fas fa-check-circle text-success"></i> <!-- Shown when success by CSS -->
                At least one special character.
              </label>
            </ng-template>
          </div>
          <div class="form-group">
            <input name="app-confirmPassword" type="password" class="form-control" placeholder="Confirm your password"
                   [ngbPopover]="confirmPasswordPopContent" [popoverTitle]="'Validations'"
                   placement="right" triggers="manual" #confirmPasswordPopover="ngbPopover" [autoClose]="false"
                   (focus)="onConfirmPasswordFocus()" (blur)="onConfirmPasswordBlur()"
                   formControlName="confirmPassword">
            <ng-template #confirmPasswordPopContent>
              <label class="col auth-val-message"
                     [ngClass]="form.controls.confirmPassword.errors && form.controls.confirmPassword.errors.NoPasswordMatch ? 'fail' : 'pass'">
                <i class="fas fa-times-circle text-danger"></i> <!-- Shown when fail by CSS -->
                <i class="fas fa-check-circle text-success"></i> <!-- Shown when success by CSS -->
                Must match the password.
              </label>
            </ng-template>
          </div>
          <button type="submit" class="btn btn-primary btn-block" [disabled]="form.pristine || form.invalid">
            {{isPasswordReset ? 'Change Password' : 'Activate'}}
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Error Messages -->
  <div *ngIf="error" class="error-wrapper authentication-wrapper authentication-2 px-4">
    <div class="authentication-inner py-5">
      <div class="card">
        <div class="p-4 p-sm-5 text-center">
          <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
            <div class="ui-w-60">
              <div class="w-100 position-relative" style="padding-bottom: 54%">
                <img src="assets/img/logos/pixglo_100.png" alt="" class="position-absolute" style="left: -18px">
              </div>
            </div>
          </div>
          <hr class="mt-0 mb-4">
          <div class="font-weight-normal mb-3" [innerHTML]="error"></div>
            <p class="text-sm-center text-muted">
              If you think this is an error, please contact us through <a href="mailto:{{supportEmail}}">{{supportEmail}}</a>.
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
