<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div #previewModal>
  <div class="modal-body row">
    <div class="col-sm-9 p-0">
      <div class="p-0 video-overlay-container" (click)="onVideoPlayerClick($event)"></div>
      <vg-player *ngIf="isPreviewSupported" (onPlayerReady)="onPlayerReady($event)">
        <video [vgMedia]="media" [src]="contentSource" #media id="singleVideo" preload="auto"></video>
        <vg-controls class="player-controls" *ngIf="!controls" [vgAutohide]="false">
          <vg-play-pause></vg-play-pause>
          <vg-volume></vg-volume>
          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
          <vg-fullscreen></vg-fullscreen>
        </vg-controls>
      </vg-player>
      <div *ngIf="!isPreviewSupported">
        <div class="card unsupported-info text-center">
          <div class="card-header">Sorry, previews are not supported for {{mediaFile?.mediaType}} files.</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 p-0">
      <div class="card meta-container">
        <ngx-spinner size="medium" color="#fff" type="ball-clip-rotate-multiple" [fullScreen]="false"
          bdColor=rgba(0,0,0,0.5)>
        </ngx-spinner>
        <div class="card-header pb-2">Video Metadata</div>
        <div class="card-body pb-3 pt-0">
          <div class="row meta-info">
            <div class="col-sm-5 text-muted">File Name</div>
            <div class="col-sm-1 p-0 text-muted">:</div>
            <div class="col-sm-6 p-0 text-muted">{{mediaFile?.fileName || "N/A"}}</div>
            <div class="col-sm-5 text-muted">Frame Count</div>
            <div class="col-sm-1 p-0 text-muted">:</div>
            <div class="col-sm-6 p-0 text-muted">{{mediaFile?.videoMetadata?.nb_frames || "N/A"}}</div>
            <div class="col-sm-5 text-muted">Bitrate</div>
            <div class="col-sm-1 p-0 text-muted">:</div>
            <div class="col-sm-6 p-0 text-muted">{{mediaFile?.videoMetadata?.bit_rate | bitrate}}</div>
            <div class="col-sm-5 text-muted">Width</div>
            <div class="col-sm-1 p-0 text-muted">:</div>
            <div class="col-sm-6 p-0 text-muted">{{mediaFile?.videoMetadata?.width || "N/A"}}</div>
            <div class="col-sm-5 text-muted">Height</div>
            <div class="col-sm-1 p-0 text-muted">:</div>
            <div class="col-sm-6 p-0 text-muted">{{mediaFile?.videoMetadata?.height || "N/A"}}</div>
            <div class="col-sm-5 text-muted">Codec Type</div>
            <div class="col-sm-1 p-0 text-muted">:</div>
            <div class="col-sm-6 p-0 text-muted">{{mediaFile?.videoMetadata?.codec_type || "N/A"}}</div>
            <div class="col-sm-5 text-muted">Time Base</div>
            <div class="col-sm-1 p-0 text-muted">:</div>
            <div class="col-sm-6 p-0 text-muted">{{mediaFile?.videoMetadata?.codec_time_base || "N/A"}}</div>
            <div class="col-sm-5 text-muted">Aspect Ratio</div>
            <div class="col-sm-1 p-0 text-muted">:</div>
            <div class="col-sm-6 p-0 text-muted">{{mediaFile?.videoMetadata?.display_aspect_ratio || "N/A"}}</div>
            <div class="col-sm-5 text-muted">Avg. Frame Rate</div>
            <div class="col-sm-1 p-0 text-muted">:</div>
            <div class="col-sm-6 p-0 text-muted">{{mediaFile?.videoMetadata?.avg_frame_rate || "N/A"}}</div>
            <div class="col-sm-5 text-muted">Codec</div>
            <div class="col-sm-1 p-0 text-muted">:</div>
            <div class="col-sm-6 p-0 text-muted">{{mediaFile?.videoMetadata?.codec_long_name || "N/A"}}</div>
            <div class="col-sm-12 pt-4 card-header-action pb-2">Action Tags</div>
            <div class="col-sm-12 text-muted action-tags" *ngIf="!templateList.length">No action tags available</div>
            <div class="col-sm-12 pl-2">
              <div class="col-sm-12 pl-0"><a
                  href="{{template?.actionUrl || 'https://www.google.com/search?q=' + template?.name}}" target="_blank"
                  *ngFor="let template of templateList">
                  <mdb-badge pill="true" info="true">{{template?.name}}
                  </mdb-badge>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
