/*!*********************************************************************************************************************
 * Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                                *
 *                                                                                                                    *
 * CONFIDENTIAL                                                                                                       *
 *                                                                                                                    *
 * All information contained herein is, and remains the property of Pixglo Inc and its partners,                      *
 * if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its           *
 * partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or  *
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless     *
 * prior written permission is obtained from Pixglo Inc.                                                              *
 *                                                                                                                    *
 **********************************************************************************************************************/

@import '../../../../../node_modules/bootstrap/scss/_functions.scss';
@import '../../../../vendor/styles/_appwork/functions';
@import '../../../../vendor/styles/_appwork/variables';
@import '../../../../../node_modules/videogular2/fonts/videogular.css';

::ng-deep .modal-lg .modal-dialog {
  max-width: 80rem !important;
}

.meta-container {
  color: white;
  background: black;
  border-radius: 0 !important;
  height: 100%;

  .meta-info {
    font-size: 13px;
  }
}

.unsupported-info {
  border-width: 0px;
  background: #131212;
  height: 320px;
  color: white;

  .card-header {
    padding-top: 150px;
    font-size: 18px !important;
  }
}

.card-header-action {
  padding-left: 10px !important;
  font-size: 14px !important;
}

.action-tags {
  padding-left: 10px;
}

.video-overlay-container {
  z-index: 9998;
  width: 100%;
  height: calc(100%);
  position: absolute;
}

.player-controls {
  z-index: 9999;
}

::ng-deep {
  div.icon.vg-icon-play_arrow, div.volumeBar, div.scrubBar {
    outline: none;
  }
}

