<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div>
  <div class="d-flex pb-3">
    <div class="flex-fill pt-2">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchQuery"
               (keyup)='triggerSearch($event)'>
      </div>
    </div>
    <div ngbDropdown class="d-inline-block pt-2">
      <button class="btn btn-primary" id="tenantViewDropdown" ngbDropdownToggle>View</button>
      <div ngbDropdownMenu aria-labelledby="tenantViewDropdown">
        <button class="dropdown-item" (click)="changeTenantStatus('ALL')">All (default)</button>
        <button class="dropdown-item" (click)="changeTenantStatus('ACTIVE')">Active</button>
        <button class="dropdown-item" (click)="changeTenantStatus('INACTIVE')">Inactive</button>
      </div>
    </div>
    <div class="pr-0 pt-2 pl-2">
      <button type="button" class="btn btn-md btn-primary" routerLink="/tenants/create">
        <span class="ion ion-md-business"></span>&nbsp;&nbsp;Create Tenant
      </button>
    </div>
  </div>

  <div class="card">
    <!--<h6 class="card-header">-->
    <!--Within card-->
    <!--</h6>-->
    <div class="card-ngx-datatable table-responsive">
      <ngx-datatable #table style="min-width: 500px"
                     [rows]="content"
                     [loadingIndicator]="loading"
                     [columnMode]="'force'"
                     [headerHeight]="43"
                     [footerHeight]="'auto'"
                     [rowHeight]="'auto'"
                     [reorderable]="true"
                     [externalPaging]="true"
                     [count]="page.total"
                     [offset]="page.page - 1"
                     [limit]="page.size"
                     (page)='search($event.offset + 1)'>
        <ngx-datatable-column name="Name" [maxWidth]="300"></ngx-datatable-column>
        <ngx-datatable-column name="Email" [maxWidth]="300"></ngx-datatable-column>
        <ngx-datatable-column name="Contact Person" prop="contactPerson" [maxWidth]="300"></ngx-datatable-column>
        <ngx-datatable-column name="Contact Number" prop="contactNumber" [maxWidth]="300"></ngx-datatable-column>
        <ngx-datatable-column name="Status" [maxWidth]="300">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <ng-container *ngIf="row.active; else inactive">
              <span class="badge badge-success">ACTIVE</span>
            </ng-container>
            <ng-template #inactive>
              <span class="badge badge-default">INACTIVE</span>
            </ng-template>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [maxWidth]="150" [minWidth]="150" [frozenRight]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="text-center">
              <button type="button" class="btn icon-btn btn-sm btn-dark"
                      app-permission="TENANT_CREATE_OR_UPDATE"
                      (click)="edit(row)">
                <span class="fas fa-edit"></span>
              </button>
              <button *ngIf="row.active" type="button" class="btn icon-btn btn-sm btn-dark"
                      app-permission="TENANT_CREATE_OR_UPDATE"
                      (click)="deactivate(row)">
                <span class="fas fa-eye-slash"></span>
              </button>
              <button *ngIf="! row.active" type="button" class="btn icon-btn btn-sm btn-dark"
                      app-permission="TENANT_CREATE_OR_UPDATE"
                      (click)="activate(row)">
                <span class="fas fa-eye"></span>
              </button>
              <button type="button" class="btn icon-btn btn-sm btn-danger"
                      app-permission="TENANT_DELETE"
                      (click)="del(row)">
                <span class="fas fa-trash-alt"></span>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template
            ngx-datatable-footer-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset"
            let-isVisible="isVisible">
            <div class="mt-2">
              <hr />
              <!-- Spacer -->
            </div>
            <div class="page-count">
              <div *ngIf="rowCount > pageSize else noPaging" class="text-muted">
                <!-- Paging Active -->
                Displaying {{(offset * pageSize) + 1}} - {{ curPage * pageSize}} of {{ rowCount}} tenant<span *ngIf="rowCount != 1">s</span>
              </div>
              <ng-template #noPaging>
                <div class="text-muted">
                  Displaying {{ rowCount}} tenant<span *ngIf="rowCount != 1">s</span>
                </div>
              </ng-template>
            </div>
            <datatable-pager
              [pagerLeftArrowIcon]="'datatable-icon-left'"
              [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'"
              [page]="curPage"
              [size]="pageSize"
              [count]="rowCount"
              [hidden]="!((rowCount / pageSize) > 1)"
              (change)="table.onFooterPage($event)">
            </datatable-pager>
          </ng-template>

        </ngx-datatable-footer>

      </ngx-datatable>
    </div>
  </div>
</div>
