<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div>
    <div class="d-flex pb-3">
        <div class="flex-fill pt-2">
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchQuery" (keyup)='triggerSearch($event)'>
            </div>
        </div>
        <div class="pr-0 pt-2 pl-2">
            <button type="button" class="btn btn-md btn-outline-dark" (click)="cancel()" title="Click to go back" >
                <span class="fa fa-step-backward"></span>
            </button>
            <button type="button" class="btn btn-md btn-success" (click)="uploadMedia()" title="Click to upload image in project" >
                <span class="fas fa-upload"></span>
            </button>
            <button type="button" class="btn btn-md btn-primary" (click)="bulkdownload()" title="Click to download annotated data">
                <span class="fas fa-download"></span>
            </button>
        </div>
    </div>
    <div class="card">
        <div class="d-flex flex-row bd-highlight mb-3 flex-wrap">
            <div *ngFor="let mediaFile of content" class="media-file-container">
                <div class="thumbnail">
                    <div class="tbl text-center">
                        <div class="tbl-cell">
                            <span>
                                <img [src]="pageService.uploadMediaPath +mediaFile.img.small" class="img-custom-thumbnail">  
                            </span>
                            <!-- <span *ngIf="mediaFile.status !== 'PRE_PROCESSED'" class="bg-icon-default fas fa-video"></span> -->
                            <div class="col-sm-12 overlay">
                                <button type="button" class="btn icon-btn btn-sm btn-primary" title="Edit Annotation" (click)="openImageAnnotation(mediaFile)">
                                    <span class="fas fa-edit"></span>
                                </button>
                                <!-- <button type="button" class="btn icon-btn btn-sm btn-danger" (click)="uploadMedia(row)" title="View Media Library" app-permission="PROJECTS_MEDIA_LIBRARY_VIEW"> -->
                                <!-- <button type="button" class="btn icon-btn btn-sm btn-info" (click)="previewMediaContent(mediaFile)" title="Review Image Content">
                                    <span class="fas fa-eye"></span>
                                </button> -->
                                <!-- <button app-permission="PROJECTS_MEDIA_DELETE" type="button" class="btn icon-btn btn-sm btn-danger"  title="Delete Media" (click)="del(mediaFile)">-->
                                <button type="button" class="btn icon-btn btn-sm btn-danger"  title="Delete Image" (click)="del(mediaFile)">
                                    <span class="fas fa-trash"></span>
                                </button>
                                
                                <button *ngIf="imageStatusIsCompleted(mediaFile.status)" type="button" class="btn btn-sm btn-success" title="Download in JSON" (click)="downloadJson(mediaFile, false)">
                                    <span class="fas fa-download"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="info-state">
                        <span class="badge m-1 badge-{{imageStatusClass(mediaFile.status)}}">{{mediaFile.status}}</span>
                    </div>
                </div>
                <div class="col-sm-12 info-file-name text-muted text-center">{{mediaFile.name}}</div>
                <div class="col-sm-12 d-flex justify-content-between">
                    <div class="info-file-size text-muted badge badge-default">{{mediaFile.fileSizeBytes | fileSize}}</div>
                    <div class="info-file-type text-muted badge badge-default">{{mediaFile.mediaType}}</div>
                </div>
            </div>
            <div class="container-fluid container-fluid-custom" *ngIf="content.length == 0" >
                <div class="text-center no-data-container">
                    <div>
                        No Data To Display
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="content.length > 0" class="col-sm-12 pagination-container text-right">
            <div class="mt-2">
                <hr/>
                <!-- Spacer -->
            </div>
            
            <div class="d-flex flex-row">
                <div class="page-count col-md-6 text-left">
                    <div *ngIf="queryParams.total > queryParams.size else noPaging" class="text-muted">
                        <!-- Paging Active -->
                        <ng-container *ngIf="queryParams.start === queryParams.total">
                            Displaying {{queryParams.start}} - {{ queryParams.total}} of {{ queryParams.total}} Image<span *ngIf="queryParams.size != 1">s</span>
                        </ng-container >
                        <ng-container *ngIf="queryParams.start != queryParams.total">
                            Displaying {{queryParams.start}} - {{ queryParams.end}} of {{ queryParams.total}} Image<span *ngIf="queryParams.size != 1">s</span>
                        </ng-container >
                    </div>
                    <ng-template #noPaging>
                        <div class="text-muted">
                            <ng-container *ngIf="queryParams.size >= queryParams.total">Displaying {{ queryParams.total}} Image<span *ngIf="queryParams.size != 1">s</span></ng-container> 
                            <ng-container *ngIf="queryParams.total > queryParams.size">Displaying {{ queryParams.size}} Image<span *ngIf="queryParams.size != 1">s</span></ng-container> 
                        </div>
                    </ng-template>
                </div>
                <div class="justify-content-end col-md-6">
                    <ngb-pagination [collectionSize]="queryParams.total" [(page)]="queryParams.page" [pageSize]="queryParams.size" [maxSize]="5"
                        size="sm" (pageChange)="onPageChange()" class="float-right"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-loader" *ngIf="loading">
        <!-- <div class="text-center no-data-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div> -->
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
