<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="row justify-content-center">
  <div class="card mb-6 col-lg-6">
    <form [formGroup]="templateForm" (ngSubmit)="save()">
      <div class="card-body">
        <div class="form-group">
          <label class="form-label">Name:</label>
          <input type="text" class="form-control" placeholder="Template Name" formControlName="name">
          <div *ngIf="templateForm.invalid && templateForm.controls.name.errors" class="invalid-feedback">
            <div *ngIf="templateForm.controls.name.errors.required">Template name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Type</label>
          <ng-select [items]="templateTypes" [multiple]="true" [closeOnSelect]="true" bindLabel="label"
            bindValue="value" placeholder="Select Type" formControlName="types" [hideSelected]="true"
            [dropdownPosition]="'bottom'" [disabled]="false" (change)="onTypeChange($event)">
          </ng-select>
          <div *ngIf="templateForm.invalid && templateForm.controls.types.errors" class="invalid-feedback">
            <div *ngIf="templateForm.controls.types.errors.required">Type is required</div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Action: {{templateForm.controls.types.value}}</label>
          <input [readonly]="templateForm.controls.types.value.indexOf('OVERLAY') === -1" type="text" class="form-control" placeholder="Action URL" formControlName="actionUrl">
        </div>
        <div class="form-group pt-2 pb-2">
          <label class="form-label">Tags:</label>
          <tag-input formControlName="tags"></tag-input>
        </div>
        <div class="form-row" *ngIf="!isEditMode">
          <label class="form-label">Template</label>
          <div #drpzone class="dropzone text-center dropzone-custom" [dropzone]="config"
            (addedFile)="onFileAdded($event)" (removedFile)="removeFile($event)" (success)="uploadSuccess($event)"
            (uploadProgress)="uploadProgress($event)" (error)="onUploadError($event)">
            <div class="dz-message needsclick">
              Drop files here or click to upload
            </div>
            <div class="fallback">
              <input name="file" type="file" multiple>
            </div>
            <div *ngIf="isFileAdded" class="pb-0 pl-5 pr-5 pt-5 col-sm-12 progress-bar-custom-container">
              <ngb-progressbar type="primary" [value]="progress" [striped]="true" [animated]="true"></ngb-progressbar>
            </div>
          </div>
          <!-- Preview template for the tenant logo.-->
          <div id="asset-preview-template" hidden>
            <div class="text-center outer-image-container">
              <div class="inner-image-container">
                <img data-dz-thumbnail class=" img-fluid" />
                <a data-dz-remove class="image-remove-icon"><span><i
                      class="ion d-block ion-ios-close-circle"></i></span></a>
              </div>
            </div>
          </div>
          <!-- Preview template for the tenant logo.-->
        </div>

        <div class="form-group" *ngIf="isEditMode">
          <div class="col-12" class="no-padding-right no-padding-left">
            <img [src]="'/v1/templates/'+templateId+'/content'" class="img-fluid">
          </div>
        </div>

      </div>

      <div class="card-footer">
        <div class="d-flex flex-row action-buttons">
          <button *ngIf="isEditMode" type="button" class="btn btn-danger mr-auto" app-permission="TEMPLATE_DELETE"
            (click)="del()">
            Delete
          </button>
          <button type="button" class="btn btn-default ml-auto" (click)="cancel()">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary" app-permission="TEMPLATE_CREATE_OR_UPDATE"
            [disabled]="(templateForm.pristine || templateForm.invalid) && isEnable">
            <ng-container *ngIf="isEditMode; else saveLabel">
              Update
            </ng-container>
            <ng-template #saveLabel>
              Save
            </ng-template>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
