<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
~                                                                                                                   ~
~ CONFIDENTIAL                                                                                                      ~
~                                                                                                                   ~
~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
~ prior written permission is obtained from Pixglo Inc.                                                             ~
~                                                                                                                   ~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div>
  <div class="d-flex flex-row bd-highlight mb-3 flex-wrap justify-content-between border-bottom">
    <div>
      <div class="tab-item d-flex align-items-center" [ngClass]="{ 'active' : activeTab === 'media' }" (click)="onTabChange('media')">
        <div class="fas fa-check-circle" [ngClass]="{'tab-checked' : this.renderingJob.mediaId, 'text-muted' : !this.renderingJob.mediaId}"></div>
        <div class="ml-3">
          <div class="tab-header-text">Media</div>
          <div class="text-muted small">{{this.renderingJob.mediaId ? 'Configured' : 'Pending'}}</div>
        </div>
      </div>
    </div>
    <div>
      <div class="tab-item d-flex align-items-center" [ngClass]="{ 'active' : activeTab === 'scenes' }"
        (click)="onTabChange('scenes')">
        <div class="fas fa-check-circle"
          [ngClass]="{'tab-checked' : this.renderingJob.isScenesAnnotated, 'text-muted' : !this.renderingJob.isScenesAnnotated}">
        </div>
        <div class="ml-3">
          <div class="tab-header-text">Scenes</div>
          <div class="text-muted small">{{this.renderingJob.isScenesAnnotated ? 'Configured' : 'Pending'}}</div>
        </div>
      </div>
    </div>
    <div>
      <div class="tab-item d-flex align-items-center" [ngClass]="{ 'active' : activeTab === 'regions' }"
        (click)="onTabChange('regions')">
        <div class="fas fa-check-circle"
          [ngClass]="{'tab-checked' : this.renderingJob.regions?.length, 'text-muted' : !this.renderingJob.regions?.length}">
        </div>
        <div class="ml-3">
          <div class="tab-header-text">Regions</div>
          <div class="text-muted small">{{this.renderingJob.regions?.length ? 'Configured' : 'Pending'}}</div>
        </div>
      </div>
    </div>
    <div>
      <div class="tab-item d-flex align-items-center" [ngClass]="{ 'active' : activeTab === 'templates' }"
        (click)="onTabChange('templates')">
        <div class="fas fa-check-circle"
          [ngClass]="{'tab-checked' : this.renderingJob.templateConfigurations?.length, 'text-muted' : !this.renderingJob.templateConfigurations?.length}">
        </div>
        <div class="ml-3">
          <div class="tab-header-text">Templates</div>
          <div class="text-muted small">{{this.renderingJob.templateConfigurations?.length ? 'Configured' : 'Pending'}}
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="tab-item d-flex align-items-center" [ngClass]="{ 'active' : activeTab === 'distribution' }" (click)="onTabChange('distribution')">
        <div class="fas fa-check-circle" [ngClass]="{'tab-checked' : this.renderingJob.distributionConfigurations?.length, 'text-muted' : !this.renderingJob.distributionConfigurations?.length}"></div>
        <div class="ml-3">
          <div class="tab-header-text">Distribution</div>
          <div class="text-muted small">{{this.renderingJob.distributionConfigurations?.length ? 'Configured' : 'Pending'}}</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Custom Tab Components -->
  <app-source-media *ngIf="activeTab === 'media'" [renderingJob]="renderingJob" (updateTabStatus)="onTabUpdated($event)"></app-source-media>
  <app-media-scenes *ngIf="activeTab === 'scenes'" [renderingJob]="renderingJob" (updateTabStatus)="onTabUpdated($event)" (valueChange)='sceneAnnotateComplete($event)'></app-media-scenes>
  <app-regions *ngIf="activeTab === 'regions'" [renderingJob]="renderingJob" (updateTabStatus)="onTabUpdated($event)"></app-regions>
  <app-templates *ngIf="activeTab === 'templates'" [renderingJob]="renderingJob" (updateTabStatus)="onTabUpdated($event)"></app-templates>
  <app-distributions *ngIf="activeTab === 'distribution'" [renderingJob]="renderingJob" (updateTabStatus)="onTabUpdated($event)"></app-distributions>
</div>
