/*!*********************************************************************************************************************
 * Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                                *
 *                                                                                                                    *
 * CONFIDENTIAL                                                                                                       *
 *                                                                                                                    *
 * All information contained herein is, and remains the property of Pixglo Inc and its partners,                      *
 * if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its           *
 * partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or  *
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless     *
 * prior written permission is obtained from Pixglo Inc.                                                              *
 *                                                                                                                    *
 **********************************************************************************************************************/

 .wraptocenter {
	text-align: center;
	vertical-align: middle;
	/*width: 160px;
    height: 120px;*/
    width: 96px;
	height: 72px;
	/*border: #cccccc 1px solid;*/
	cursor: pointer;
	display: flex;
	justify-content: center;
	* {
		vertical-align: middle;
	}
}
.slide_active {
	border: #f19200 1px solid !important;
}
.img-thumbnail {
	padding: .25rem;
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-radius: .25rem;
	max-width: 100%;
	height: auto;
}

.slider-annotation {
    display: flex;
    /*overflow-y: auto;*/
    width: 100%;
    .slider-row {
        display: -webkit-box;
        margin-bottom: 5px;
        margin-left: -15px;
        margin-right: -15px;
    }
}

.custom-col-2 {
    flex: 180px;
    max-width: 180px;
    padding-right: 5px;
    padding-left: 5px;
}

.scrollbar-custom::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
.scrollbar-custom::-webkit-scrollbar
{
    width: 5px;
    height: 6px;
    background-color: #F5F5F5;
}
.scrollbar-custom::-webkit-scrollbar-thumb
{
    background-color: #f19200;
    border: none; /*1px solid #f19200;*/
}

.btn-prev{
    position: absolute;
    left: -15px;
    top: 20px;
    width: 2vw;
    height: 2vw;
    border-radius: 35%;
    border: #ffffff;
    /* z-index: 1; */
    cursor: pointer;
    background-color: #ffffff00;
    color: #f19200;
    font-size: 25px;
    outline: none;
 }
 
 .btn-next{
    position: absolute;
    right: -7px;
    top: 20px;
    width: 2vw;
    height: 2vw;
    border-radius: 35%;
    border: #ffffff;
    /* z-index: 1; */
    cursor: pointer;
    background-color: #ffffff00;
    color: #f19200;
    font-size: 25px;
    outline: none;
 }
 
 button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }

.pos-rel {
    position: relative;
    min-height: 510px;
}

.slick-next:before {
    content: "→";
}

.slick-prev:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: #f19200;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.custom-loader {
    position: absolute;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .custom-loader:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333 !important;
  }


