<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="pos-rel" id="pos-rel">
    <!-- <div class="row">
        <div class="col-12 col-md-12 text-right">
            <button type="button" class="btn btn-md btn-outline-dark" (click)="cancel()" title="Click to go back" [disabled]="!is_package_ready">
                <span class="fa fa-step-backward"></span>
            </button>
        </div>
    </div> -->
    <!-- <div class="slider-annotation">
        <div class="slider-row">
            <button class="btn-prev" (click)="slidePrev()" [disabled]="disablePrev"><i class="fas fa-chevron-circle-left"></i></button>
            <button class="btn-next" (click)="slideNext()" [disabled]="disableNext"><i class="fas fa-chevron-circle-right"></i></button>
            <div class="col px-2" *ngFor="let img_obj of image_data; let img_index = index" [ngClass]="{'ml-3': img_index === 0}">
                <div class="image_slider_box wraptocenter" [ngClass]="{'slide_active': img_obj.selected_image_index}">
                    <img class="img-thumbnail" src="{{img_obj.path}}" height="{{img_obj.height}}" width="{{img_obj.width}}" name="{{img_obj.filename}}" id="slide_{{img_index}}" (click)="jump_to_image(img_obj)">
                </div>
            </div>
        </div>
    </div> -->
    <div class="slider-row">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" >
            <div ngxSlickItem *ngFor="let img_obj of image_data" class="slide wraptocenter">
                <img class="img-thumbnail" src="{{img_obj.path}}" height="{{img_obj.height}}" width="{{img_obj.width}}" name="{{img_obj.filename}}" (click)="jump_to_image(img_obj)">
            </div>
        </ngx-slick-carousel>
        <button class="btn-prev" (click)="slidePrev()" ><i class="fas fa-chevron-circle-left"></i></button>
        <button class="btn-next" (click)="slideNext()" ><i class="fas fa-chevron-circle-right"></i></button>
    </div>
    
    <rydot-image-annotation [shapes]="usedShapes" [imguploadpath]="pageService.uploadMediaPath" [images]="selected_image" [objTags]="tags" (annotatedResponse)="receiveAnnotationResponse($event)" *ngIf="selected_image.length > 0" (ispackageready)="receivePackageReady($event)" (isBackButtonHit)="receiveBackButtonEvent($event)" class="mx-0"></rydot-image-annotation>
    <div class="custom-loader" *ngIf="loading">
        <!-- <div class="text-center no-data-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div> -->
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
