<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div>
  <div class="card pt-2">
    <div class="card-header pt-1">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="m-0">Distribution</h4>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row pb-4">
        <div class="col-sm-6">
          <label class="custom-control custom-checkbox mb-0">
            <input type="checkbox" class="custom-control-input" (change)="onFtpCheckChange($event)" checked="{{isFtpEnabled ? 'checked' : ''}}">
            <span class="custom-control-label text-muted" [ngClass]="{ 'text-muted' : !isFtpEnabled }">FTP Upload</span>
          </label>
        </div>
        <div class="col-sm-6 text-right">
          <button class="btn btn-primary btn-sm" [disabled]="!isFtpEnabled" (click)="verifyFtpConnection()">Verify Connection</button>
          <p *ngIf="isFtpConnectionVerified" class="text-small" [ngClass]="isFtpConnectionSuccess ? 'text-success' : 'text-danger'">{{isFtpConnectionSuccess ? 'Connection successful' : 'Failed to connect to server'}}</p>
        </div>
      </div>
      <div>
        <div class="form-group">
          <label class="form-label">URL</label>
          <input type="text" [(ngModel)]="ftpConfiguration.url" [disabled]="!isFtpEnabled" class="form-control" placeholder="FTP URL">
        </div>
        <div class="form-group">
          <label class="form-label">Username</label>
          <input type="text" [(ngModel)]="ftpConfiguration.userName" [disabled]="!isFtpEnabled" class="form-control" placeholder="Enter Username">
        </div>
        <div class="form-group">
          <label class="form-label">Password</label>
          <input type="password" [(ngModel)]="ftpConfiguration.password" [disabled]="!isFtpEnabled" class="form-control" placeholder="Enter Password">
        </div>
        <div class="text-right pt-3">
          <button class="btn btn-primary" [disabled]="!isFtpEnabled" (click)="saveDistributionConfigs()">Save FTP
            Configurations</button>
        </div>
      </div>
    </div>
  </div>
</div>
