/*!*********************************************************************************************************************
 * Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                                *
 *                                                                                                                    *
 * CONFIDENTIAL                                                                                                       *
 *                                                                                                                    *
 * All information contained herein is, and remains the property of Pixglo Inc and its partners,                      *
 * if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its           *
 * partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or  *
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless     *
 * prior written permission is obtained from Pixglo Inc.                                                              *
 *                                                                                                                    *
 **********************************************************************************************************************/

.corresponding-point {
  height: 30px;
  border-radius: 5px !important;
  margin-left: 0px;
  margin-right: 0px;
}

.corresponding-point:hover {
  background-color: #DCDCDC;
  border-radius: 5px !important;
}

.point-label,.point-x, .point-y, .point-controls {
  display: inline-block;
}

.point-controls {
  color : #A9A9A9;
  //color : #808080;
}

.point-controls > span {
  cursor: pointer;
}

.point-controls > span:hover {
  color : #696969;
}

.coordinate-index {
  font-size: 9px;
}

.mt-custom-1 {
  margin-top: 6px;
}


.canvas-container{
  border: 1px solid #C0C0C0;
  border-radius: 5px 5px 5px 5px;

}

.corresponding-point > div {
  padding-left: 6px;
  padding-right: 6px;
}

.corresponding-points-container {
  font-weight: bold;
}

.scrollable-canvas-container {
  overflow-x: scroll;
}

.canvas-container-inner{
  overflow-x: hidden;
  overflow-y: hidden;
}

.corresponding-points-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height:8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.beacon{
  position:absolute;
  top:309px;
  left:26px;
  background-color:#fe0034;
  height:3px;
  width:3px;
  border-radius:50%;
  -webkit-transform:translateX(-50%) translateY(-50%);
}
.beacon:before{
  position:absolute;
  content:"";
  height:3px;
  width:3px;
  left:0;
  top:0;
  background-color:transparent;
  border-radius:50%;
  box-shadow:0px 0px 4px 4px #fe0034;
  -webkit-animation:active 2s infinite linear;
  animation:active 2s infinite linear;
}

@-webkit-keyframes active{
  0%{
    -webkit-transform:scale(.1);
    opacity:1;
  }
  70%{
    -webkit-transform:scale(2.5);
    opacity:0;
  }
  100%{
    opacity:0;
  }
}

@keyframes active{
  0%{
    transform:scale(.1);
    opacity:1;
  }
  70%{
    transform:scale(2.5);
    opacity:0;
  }
  100%{
    opacity:0;
  }
}

