<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="row justify-content-center">
  <div class="col-8 canvas-container pt-2 pb-2 pr-2 pl-2" #canvasContainer>
    <div [style.height.px]="screenHeight" class="canvas-container-inner">
      <!-- Scroll bar is in this container -->
      <div [style.width.px]="canvasWidth" [style.height.px]="canvasHeight">
        <span [class.beacon]="showBeacon" [style.top.px]="beaconY" [style.left.px]="beaconX"></span>
        <canvas #canvas (contextmenu)="$event.preventDefault();" (mousewheel)="zoomInAndOut($event)"
          (mouseup)="annotate($event)" (mousedown)="mousedown($event)" (mousemove)="mousemove($event);"></canvas>
      </div>
      <!-- Scroll bar is in this container -->
    </div>

    <div class="mt-3 pr-2">
      <div class="row">
        <div class="col-6 pt-2">
          <span>Resolution : {{templateWidth}} X {{templateHeight}}</span>
          <br>
          <span><b>Scroll to annotate larger images. </b></span>
        </div>
        <div class="col-6 text-right">
          <button class="btn btn-primary" (click)="reLoadImage()"><span
              class="fas fa-sync-alt mr-1"></span>Reset-zoom</button>
          <button class="btn btn-primary" (click)="zoomIn()"><span class="fas fa-search-plus fa-1x"></span></button>
          <button class="btn btn-primary" (click)="zoomOut()"><span class="fas fa-search-minus fa-1x"></span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 pl-3">
    <div class="row">
      <div class="col-sm-6">
        <h5>Corresponding Points</h5>
      </div>
      <div class="col-sm-6 text-right">
        <button class="btn btn-xs btn-primary" [disabled]="!correspondingPoints.length" (click)="exportAnnotations()">
          <span class="fas fa-download pr-2"></span>Export
        </button>
        <button class="btn btn-xs btn-danger" (click)="clearAllAnnotations()">
          <span class="fas fa-trash pr-2"></span>Clear All
        </button>
      </div>
    </div>

    <div class="corresponding-points-container pt-2">
      <div *ngIf="correspondingPoints.length == 0" [style.height.px]="pointsWrapperContainer + 200">
        <span><small><b>No Corresponding Point Marked.</b></small></span>
      </div>

      <div class="corresponding-points-wrapper" [style.height.px]="pointsWrapperContainer + 200"
        *ngIf="correspondingPoints.length > 0">
        <div class="row corresponding-point" *ngFor="let correspondingPoint of correspondingPoints; let i = index"
          (mouseover)="selectCoordinate(i)" (mouseout)="unselectCoordinate(i)">
          <div class="col-3 pl-3 point-label mt-custom-1">
            <div *ngIf="i < 9 ; else indexElseContent">
              <span>P-0{{i+1}}</span>
            </div>
            <ng-template #indexElseContent>
              <div>
                <span>P-{{i+1}}</span>
              </div>
            </ng-template>
          </div>

          <div class="col-3 point-x mt-custom-1">
            <div *ngIf="i < 9 ; else xElseContent">
              <span>X<span class="coordinate-index">0{{i+1}}</span> : </span><span>{{correspondingPoint.x}}</span>
            </div>
            <ng-template #xElseContent>
              <div>
                <span>X<span class="coordinate-index">{{i+1}}</span> : </span><span>{{correspondingPoint.x}}</span>
              </div>
            </ng-template>
          </div>

          <div class="col-3 point-y mt-custom-1">
            <div *ngIf="i < 9 ; else yElseContent">
              <span>Y<span class="coordinate-index">0{{i+1}}</span> : </span><span>{{correspondingPoint.y}}</span>
            </div>
            <ng-template #yElseContent>
              <div>
                <span>Y<span class="coordinate-index">{{i+1}}</span> : </span><span>{{correspondingPoint.y}}</span>
              </div>
            </ng-template>
          </div>
          <div class="col-3 point-controls pl-1 mt-custom-1 text-right">
            <span class="fa fa-trash" (click)="removeMarker(i)"></span>
          </div>
        </div>
      </div>
      <div class="pt-4 text-right pr-5">
        <button class="btn btn-primary" (click)="save()">Save & Return</button>
        <button class="btn btn-default" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
