<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="card mb-4">
    <h4 class="card-header">
        {{isEditMode ? 'Image Details' : 'Upload Image'}}
    </h4>
    <form #submitForm="ngForm" (ngSubmit)="submitData()" novalidate>
        <div class="card-body">
            <!-- Drop Zone Add Logo -->
            <div class="dropzone-zone mb-2 row" id="drop-zone" *ngIf="formData.images.length === 0">
                <div class="col-6">
                    <div class="dropzone-custom" >
                        <label >
                            <div class="d-flex justify-contain-between flex-wrap">
                                <div class="uploadimg box-custom">
                                    <span class="fas fa-upload custom-large"></span>
                                    <div class="text-secondary mt-1">Click Here to Add Images/Zip Files</div>
                                    <input type="file" (change)="onPhotoChange($event)" [disabled]="fileDisabled" [hidden]="true" #inputFile accept="image/jpeg, image/jpg, image/png, zip,application/octet-stream,application/zip"
                                    name="input-file-preview" multiple *ngIf="formData.isimageupload === 'image'"/>
                                </div>
                            </div>
                        </label>  
                    </div>
                </div>
                <div class="col-6">
                    <div class="dropzone-custom">
                        <label (click)="uploadPhotoFromAws()">
                            <div class="uploadimg box-custom">
                                <span class="fas fa-cloud-download-alt custom-large"></span>
                                <div class="text-secondary mt-1">Click Here to Upload Zip from S3 bucket</div>
                            </div>
                        </label>
                    </div>
                </div>
                              
            </div>
            <div class="dropzone-zone mb-2" id="drop-zone" *ngIf="formData.images.length > 0">
                <div class="d-flex justify-contain-between flex-wrap">
                    <div class="uploadimg">
                        <h6 class="text-secondary text-danger">Click Save to Complete Image Upload Process</h6>
                    </div>
                </div>
            </div>
            <div class="wraptocenter row" >
                <div class="m-1" *ngFor="let image of formData.images; let index = index">
                    <img [src]="pageService.uploadMediaPath + image.img.small" class="img-thumbnail upimg">
                </div>
            </div>
            <div class="progress mb-12 mb-3 btn-square" *ngIf="isUploading">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="percentDone" aria-valuemin="0"
                aria-valuemax="100" [style.width.%]="percentDone"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-4 text-center">
              <button type="submit" [disabled]="savingData || formData.images.length === 0" class="btn btn-primary">Save</button>
              <button type="button" (click)="cancel()" class="btn btn-outline-dark">Cancel</button>
            </div>
          </div>
    </form>
</div>
