<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div>
  <div class="card pt-2">
    <div class="card-header pt-1">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="m-0">Select Regions</h4>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div *ngIf="!regions.length" class="row">
        <div class="col-sm-12 text-center">
          <span *ngIf="isLoadingContent" class="text-large">Loading Content...</span>
          <div *ngIf="!isLoadingContent" class="p-5 m-3 empty-regions-banner">
            <span>Regions are not setup for this tenant yet.<br>Please go to Tenant Profile to setup regions.</span>
          </div>
        </div>
      </div>
      <label *ngFor="let region of regions" class="custom-control custom-checkbox">
        <input type="checkbox"
        class="custom-control-input"
        (change)="onRegionCheckChange($event, region.id)"
        checked="{{renderingJob.regions && -1 !== renderingJob.regions.indexOf(region.id) ? 'checked' : ''}}">
        <span class="custom-control-label">{{region.name}}</span>
      </label>
    </div>
    <div class="col-sm-12 card-footer">
      <div class="text-right">
        <button class="btn btn-primary" [disabled]="!regions.length" (click)="saveRegions()">Save</button>
      </div>
    </div>
  </div>
</div>
