<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
~                                                                                                                   ~
~ CONFIDENTIAL                                                                                                      ~
~                                                                                                                   ~
~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
~ prior written permission is obtained from Pixglo Inc.                                                             ~
~                                                                                                                   ~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div>
  <div class="editor" *ngIf="sceneId">
    <!-- <pxo-video-editor [videoid]="sceneId" (statistics)="statistics.update($event)"></pxo-video-editor> -->
    <section>
      <div class="border">
        <!-- TEMPLATE -->
        <!-- <pxo-template class="box"></pxo-template> -->

        <!-- HISTORY -->
        <!-- <pxo-history class="box"></pxo-history> -->

        <!-- CONTROLLER -->
        <!-- <pxo-controller class="box"></pxo-controller> -->

        <!-- STATS -->
        <!-- <pxo-statistics class="box small" #statistics></pxo-statistics> -->
      </div>
    </section>
  </div>
  <div class="col-12 pt-2 pr-0 text-right">
    <button type="button" class="btn btn-primary" (click)="viewScenes()">
      <span class="fas fa-step-backward"></span> Back to Scenes
    </button>
  </div>
</div>
