/*!*********************************************************************************************************************
 * Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                                *
 *                                                                                                                    *
 * CONFIDENTIAL                                                                                                       *
 *                                                                                                                    *
 * All information contained herein is, and remains the property of Pixglo Inc and its partners,                      *
 * if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its           *
 * partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or  *
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless     *
 * prior written permission is obtained from Pixglo Inc.                                                              *
 *                                                                                                                    *
 **********************************************************************************************************************/

@import "../../../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../../vendor/styles/_appwork/functions";
@import "../../../../vendor/styles/_appwork/variables";
@import "../../../../variable-imports";

div.editor{
  display: flex;
  width: 100%;
  margin: 0;

  pxo-video-editor{
    max-width: calc( 100vw - 250px );
    width: calc( ( 100vh - 50px ) * 1.33 ) ;
    height: calc((100vh - 200px) );
    max-height: calc( 100vh - 200px );
  }

  section{
    display: flex;
    padding: 0px;
    background: #a5a5a5;
    width: 200px;
    div{
      display: flex;
      width: 100%;
      flex-direction: column;
      background: #ddd;
      position: relative;
      border-radius: 0px;
      overflow: hidden;
    }
  }
}

section{
  width: 800px;
  display: flex;
  .box{
    &.small{
      flex:0 0 200px;
    }
    flex: 0 auto;
  }
}
