/*!*********************************************************************************************************************
 * Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                                *
 *                                                                                                                    *
 * CONFIDENTIAL                                                                                                       *
 *                                                                                                                    *
 * All information contained herein is, and remains the property of Pixglo Inc and its partners,                      *
 * if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its           *
 * partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or  *
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless     *
 * prior written permission is obtained from Pixglo Inc.                                                              *
 *                                                                                                                    *
 **********************************************************************************************************************/

@import "../../../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../../vendor/styles/_appwork/functions";
@import "../../../../vendor/styles/_appwork/variables";

.custom-span-text {
  font-weight: 700;
}

.scene-list-item {
  height: 30px;
  width : 100%;
  display: block;
  background-color: #DCDCDC;
  border-right: 5px solid #DCDCDC;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.scene-list-item > .row {
 padding-top: 6px;
  font-weight: bold;
}

.custom-annotation-status-badge {
  font-size: 10px;
  width : 75px;
}

.current-scene-playing {
  border-right: 5px solid #808080;
  background-color: #b6b6b6;
}

.media-select-banner {
  background-color: #e8e8e8;
  border-radius: 10px;
}
