<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="card pt-2">
  <div class="card-header pt-1">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="m-0">Scenes</h4>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="isMediaConfigured" class="row pb-3">
      <div class="col-sm-7">
        <span class="h8 custom-span-text">Scene Index: #{{currentItem?.sceneIndex}}</span>
        <vg-player (onPlayerReady)="onPlayerReady($event)">
          <video #media style="width: 100%;" class="w-100 h-100" [vgMedia]="media" [src]="currentItem?.src"
            id="singleVideo" preload="auto" controls>
          </video>
        </vg-player>
      </div>
      <div class="col-sm-5 pl-4">
        <span class="h8 custom-span-text"> Scene List</span>
        <div class="scene-list-container">
          <div class="scene-list-item mb-2" *ngFor="let item of scenes; let $index = index"
            (click)="onClickPlaylistItem($index)" [ngClass]="{'current-scene-playing': $index == currentIndex }">
            <div class="row ml-1">
              <div class="col-2"><span placement="top" ngbTooltip="Scene Index">{{item.sceneIndex}}</span></div>
              <div class="col-4"><span placement="top" ngbTooltip="Scene Time Slot">{{item.startTime | duration: 's'}} -
                  {{item.endTime | duration: 's'}}</span></div>
              <div class="col-3">
                <span *ngIf="item.status === 'NOT_ANNOTATED'" class="badge badge-primary custom-annotation-status-badge"
                  placement="top" ngbTooltip="Scene Not Downloaded for Annotation"><b>Not Annotated</b></span>
                <span *ngIf="item.status === 'ANNOTATING'" class="badge badge-warning custom-annotation-status-badge"
                  placement="top" ngbTooltip="Annotated Scene Is Not Uploaded"><b>Annotating</b></span>
                <span *ngIf="item.status === 'ANNOTATED'" class="badge badge-success custom-annotation-status-badge"
                  placement="top" ngbTooltip="Annotated Scene Is Uploaded"><b>Annotated</b></span>
              </div>
              <div class="col-3 text-right pr-3">
                <button class="btn-xs btn-primary" placement="top" (click)="annotateScene(item.id)"
                  ngbTooltip="Video Editor"><span class="fas fa-edit"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!isMediaConfigured" class="row pb-3">
      <div class="col-sm-12 text-center">
        <span *ngIf="isLoadingContent" class="text-large">Loading Content...</span>
        <div *ngIf="!isLoadingContent" class="p-5 m-3 text-large media-select-banner">
          <span>Please select a source media file from Media tab.</span>
        </div>
      </div>
    </div>
  </div>
</div>
