<button type="button" class="btn btn-md btn-primary right-sidebar-toggler" data-toggle="tooltip" data-placement="top"
    title="Filter" data-original-title="" (click)="toggleFilterNav()">
    <span class="fas fa-filter"></span>
</button>
<button *ngIf="isFilterApplied" class="btn btn-md btn-outline-primary position-relative" data-original-title="" data-placement="top" data-toggle="tooltip"
    title="Reset Filter" type="button" (click)="resetFilter(true)">
    <i class="reset-icon"></i>
    <i class="fas fa-filter"></i>
</button>
<aside class="right-sidebarfilter p-0 scrollbarcustom" [ngClass]="{'hidden': !isFilterOpen, 'show': isFilterOpen}">
    <div class="modal-header bg-primary rounded-0">
        <h6 class="modal-title text-white">Filter</h6>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" (click)="toggleFilterNav()">
            <span aria-hidden="true" class="side-navbar-toggler right-sidebar-toggler pointer">×</span>
        </button>
    </div>
    <form #frmFilter="ngForm" role="form" class="form-horizontal form-groups-bordered" novalidate (ngSubmit)="submitFilter()">
        <div class="card-body">
            <div *ngFor="let item of objHeader; let ind = index">
                <!--START ALL TEXT/NUMBER FIELDS-->
                <div class="form-group row align-items-center" *ngIf="(item.elementType == 'text' || item.elementType == 'number') && item.isFilterable">
                    <label for="{{item.val}}" class="col-sm-3 py-0 col-form-label">{{item.label}}</label>
                    <div class="col-sm-9">
                        <input [type]="item.elementType" [(ngModel)]="objFilter[item.val]" #{{item.name}}="ngModel" name="{{item.val}}" class="form-control"
                            id="{{item.val}}" placeholder="{{item.label}}" autocomplete="off">
                    </div>
                </div>
                <!--END ALL TEXT/NUMBER FIELDS-->

                <!--START EMAIL FIELDS-->
                <div class="form-group row" *ngIf="(item.elementType == 'email') && item.isFilterable">
                    <label for="{{item.val}}" class="col-sm-3 pr-0 col-form-label">{{item.label}}</label>
                    <div class="col-sm-9">
                        <input [type]="item.elementType" [(ngModel)]="objFilter[item.val]" #{{item.name}}="ngModel" name="{{item.val}}" class="form-control"
                            id="{{item.val}}" placeholder="{{item.label}}" autocomplete="off">
                    </div>
                </div>
                <!--END EMAIL FIELDS-->

                <!--START SINGLE SELECT FIELDS-->
                <div class="form-group row" *ngIf="(item.elementType == 'select') && item.isFilterable">
                    <label for="{{item.val}}" class="col-sm-3 pr-0 col-form-label">{{item.label}}</label>
                    <div class="col-sm-9">
                        <ngx-select [items]="objEleRefValues[objEleRef[item.val]]" (typed)="getElementReferanceData($event, objEleRef[item.val])"
                            [(ngModel)]="objFilter[item.val]" [allowClear]="true" (remove)="objFilter[item.val] = undefined" optionValueField="_id" optionTextField="name" placeholder="{{item.label}}"
                            #{{item.name}}="ngModel" name="{{item.val}}" id="{{item.val}}"></ngx-select>
                    </div>
                </div>
                <!--END SINGLE SELECT FIELDS-->

                <!--START STATUS FIELD-->
                <div class="form-group row" *ngIf="item.elementType == 'checkStatus' && item.isFilterable">
                    <label for="{{item.name}}" class="col-sm-3 pr-0 col-form-label">{{item.label}}</label>
                    <div class="col-sm-9">
                        <ngx-select [items]="objStatusValues" [(ngModel)]="objFilter[item.val]" [allowClear]="true" (remove)="objFilter[item.val] = undefined" optionValueField="_id" optionTextField="name" [placeholder]="item.label"
                            #{{item.name}}="ngModel" [name]="item.val" [id]="item.val" autocomplete="off">
                        </ngx-select>
                    </div>
                </div>
                <!--END STATUS FIELD-->

                <!--START PUBLISH AT FIELD-->
                <div class="form-group row align-items-center" *ngIf="item.elementType == 'datePublish' && item.isFilterable">
                    <label for="{{item.name}}" class="col-sm-3 py-0 col-form-label">{{item.label}}</label>
                    <div class="col-sm-9">                       
                        <div class="date filterdate float-left" id="datepicker-bottom-left">
                        <input [type]="item.publishStartDate" [(ngModel)]="objFilter.publishStartDate" #{{item.name}}="ngModel"  name="publishStartDate" id="publishStartDate"
                            autocomplete="off"  class="form-control m-input" bsDatepicker placement="left"
                            [bsConfig]="{ dateInputFormat: dateFormat }" #dpSpublishDate="bsDatepicker"
                            [maxDate]="objFilter['publishEndDate']" placeholder="Start Date" (keydown)="restrictKeyboard($event)">
                            <button type="button" class="btn btn-default rounded-0" (click)="dpSpublishDate.toggle()"
                            [attr.aria-expanded]="dpSpublishDate.isOpen">
                            <i class="fa fa-calendar"></i>
                          </button>
                        </div>

                        <div class="text-center my-1 todate">TO</div>
                        <div class="date filterdate float-left" id="datepicker-bottom-left">
                        <input [type]="item.publishEndDate" [(ngModel)]="objFilter.publishEndDate" #{{item.name}}="ngModel" name="publishEndDate" id="publishEndDate" autocomplete="off" class="form-control m-input" bsDatepicker placement="left"
                        [bsConfig]="{ dateInputFormat: dateFormat }" #dpEpublishDate="bsDatepicker" [minDate]="objFilter['publishStartDate']" placeholder="Start Date" (keydown)="restrictKeyboard($event)">
                        <button type="button" class="btn btn-default rounded-0" (click)="dpEpublishDate.toggle()"
                        [attr.aria-expanded]="dpEpublishDate.isOpen">
                        <i class="fa fa-calendar"></i>
                      </button>
                            </div>
                    </div>
                </div>
                <!--END PUBLISH AT  FIELD-->

                <!--START CREATE AT FIELD-->
                <div class="form-group row align-items-center " *ngIf="item.elementType == 'dateRange' && item.isFilterable">
                    <label for="{{item.name}}" class="col-sm-3 py-0 col-form-label">{{item.label}}</label>
                    <div class="col-sm-9">                       
                        <div class="date filterdate float-left" id="datepicker-bottom-left">
                        <input type="text" [(ngModel)]="objFilter.startDate" #{{item.name}}="ngModel" name="startDate" id="startDate"
                            autocomplete="off"  class="form-control m-input w-67" bsDatepicker placement="left"
                            [bsConfig]="{ dateInputFormat: dateFormat }" #dpFDate="bsDatepicker"
                            [maxDate]="objFilter['endDate']" placeholder="Start Date" (keydown)="restrictKeyboard($event)">
                            <button type="button" class="btn btn-default cal-icon " (click)="dpFDate.toggle()"
                            [attr.aria-expanded]="dpFDate.isOpen" >
                            <i class="fa fa-calendar"></i>
                          </button>
                        </div>
                        <div class="text-center my-1 todate">TO</div>
                        <div class="date filterdate float-left" id="datepicker-bottom-left">
                        <input type="text" [(ngModel)]="objFilter.endDate"  #{{item.name}}="ngModel" name="endDate" id="endDate" autocomplete="off"
                        class="form-control m-input w-67" [minDate]="objFilter['startDate']" bsDatepicker placement="left"
                        [bsConfig]="{ dateInputFormat: dateFormat }" #dpTDate="bsDatepicker" placeholder="End Date" (keydown)="restrictKeyboard($event)">
                        <button type="button" class="btn btn-default cal-icon" (click)="dpTDate.toggle()"
                            [attr.aria-expanded]="dpTDate.isOpen">
                            <i class="fa fa-calendar"></i>
                          </button>
                            </div>
                    </div>
                </div>
                <!--END CREATE AT FIELD-->



            </div>
        </div>
        <div class="col-md-12 mb-4 text-md-center text-xs-center">
            <button type="submit" class="btn btn-outline-primary mr-2" title="Apply">Apply</button>
            <button type="button" class="btn btn-outline-dark" (click)="resetFilter(false)" title="Reset"
                [disabled]="!isFilterApplied">Reset</button>
        </div>
    </form>
</aside>