/*!*********************************************************************************************************************
 * Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                                *
 *                                                                                                                    *
 * CONFIDENTIAL                                                                                                       *
 *                                                                                                                    *
 * All information contained herein is, and remains the property of Pixglo Inc and its partners,                      *
 * if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its           *
 * partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or  *
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless     *
 * prior written permission is obtained from Pixglo Inc.                                                              *
 *                                                                                                                    *
 **********************************************************************************************************************/

@import "../../../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../../vendor/styles/_appwork/functions";
@import "../../../../vendor/styles/_appwork/variables";
@import "../../../../vendor/libs/ngb-datepicker/ngb-datepicker.scss";

.filter-prefix {
  position: absolute;
  top: 7px;
  left: 12px;
}

.filter-label {
  background: none;
}

.filter-apply-btn {
  font-weight: bold;
}

.period-filter-value {
  color: #333;
}

.period-filter-clear {
  position: absolute;
  right: 32px;
  top: 7px;
  font-size: 18px;
  line-height: 1;
  color: #999;
}

.custom {
  position: relative;
  top: 0;
}

.ng-select.custom ::ng-deep .ng-select-container  {
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0px;
}

.ng-select.custom-type-select ::ng-deep .ng-value-container {
  padding-left: 45px;
}

.ng-select.custom-status-select ::ng-deep .ng-value-container {
  padding-left: 55px;
}

.ng-select.custom ::ng-deep .ng-value-container ::ng-deep .ng-value {
  background: none;
  border-color: #e2d8d8;
}

.period-dropdown {
  width: 100%;

  .btn {
    width: 100%;
    border: 1px solid #ccc;
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0px;
    padding-left: 0px;
    padding-right: 10px;

    .fa-caret-down {
      padding-top: 2px;
      font-size: 15px;
    }
  }

  .btn, .btn:hover, .btn:active {
    background: none;
  }

  .btn:after {
    display: none;
  }

  .btn-default:focus, .btn-default.focus {
    box-shadow: none !important;
  }

  .period-dropdown-menu {
    min-width: 100%;
  }
}


