<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
~                                                                                                                   ~
~ CONFIDENTIAL                                                                                                      ~
~                                                                                                                   ~
~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
~ prior written permission is obtained from Pixglo Inc.                                                             ~
~                                                                                                                   ~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div>
  <div class="d-flex pb-1">
    <div class="flex-fill">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="executionSearchParams.term" (keyup)="triggerSearch($event)">
      </div>
    </div>
    <div class="pr-0 pl-2">
      <button type="button" class="btn btn-md btn-primary" (click)="toggleAdvanceFilters(!advanceFiltersEnabled)">
        <span class="fas fa-filter"></span>&nbsp;&nbsp;{{advanceFiltersEnabled ? 'Hide' : 'Show'}} Filters&nbsp;&nbsp;
        <span [ngClass]="advanceFiltersEnabled ? 'fas fa-caret-down' : 'fas fa-caret-right'"></span>
      </button>
    </div>
  </div>
  <div *ngIf="advanceFiltersEnabled" class="row col-sm-12 pl-0 pr-0 pb-3 mr-0 ml-0">
    <div class="col-sm-4 pl-0">
      <div ngbDropdown class="d-inline-block period-dropdown" autoClose="outside">
        <span *ngIf="currentPeriodSelection" class="period-filter-clear" title="Clear" (click)="resetPeriodFilter()">×</span>
        <button class="btn btn-default" ngbDropdownToggle>
          <span class="text-muted float-left">Period:
            <span class="period-filter-value">{{currentPeriodSelection}}</span>
          </span>
          <span class="fas fa-caret-down float-right text-muted"></span>
        </button>
        <div ngbDropdownMenu class="period-dropdown-menu pt-0 pb-0 mb-0">
          <ngb-tabset class="nav-tabs-top">
            <ngb-tab title="Relative">
              <ng-template ngbTabContent>
                <div class="card-body pb-1">
                  <div *ngFor="let option of relativeFilterOptions">
                    <a class="dropdown-item" [ngClass]="{ 'active' : currentPeriodSelection === option }" (click)="onRelativeOptionChange(option)">{{option.label}}</a>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Custom">
              <ng-template ngbTabContent>
                <div class="card-body">
                  <ngb-datepicker #dp ngModel (ngModelChange)="onDateChange($event)" [displayMonths]="2" [dayTemplate]="t">
                  </ngb-datepicker>
                  <ng-template #t let-date="date" let-focused="focused">
                    <div class="ngb-range-day" [ngClass]="{ 'bg-primary text-white': isFrom(date) || isTo(date), 'bg-light ngb-in-range': isHovered(date) || isInside(date) }"
                      (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                      {{date.day}}
                    </div>
                  </ng-template>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
          <button class="btn btn-default filter-apply-btn" ngbDropdownToggle>
            Apply
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <span class="text-muted filter-prefix">Type:</span>
      <ng-select
        [(ngModel)]="executionSearchParams.types"
        (change)="search(page.page)"
        class="custom custom-type-select"
        [items]="executionTypes" [multiple]="true"
        [closeOnSelect]="true"
        bindLabel="label"
        bindValue="value"
        [hideSelected]="true"
        dropdownPosition="bottom">
        <ng-template let-item="item">
          {{item}}
        </ng-template>
      </ng-select>
    </div>
    <div class="col-sm-4 pr-0">
      <span class="text-muted filter-prefix">Status:</span>
      <ng-select
        [(ngModel)]="executionSearchParams.statuses"
        (change)="search(page.page)"
        class="custom custom-status-select" [items]="executionStatuses"
        [multiple]="true"
        [closeOnSelect]="true"
        bindLabel="label"
        bindValue="value"
        [hideSelected]="true"
        dropdownPosition="bottom">
        <ng-template let-item="item">
          {{item}}
        </ng-template>
      </ng-select>
    </div>
  </div>
  <div class="card pt-3">
    <div class="card-ngx-datatable table-responsive">
      <ngx-datatable #table style="min-width: 500px" [rows]="content" [loadingIndicator]="isLoadingContent"
        [columnMode]="'force'" [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true"
        [externalPaging]="true" [count]="page.total" [offset]="page.page - 1" [limit]="page.size" (page)='loadPage($event)'>
        <ngx-datatable-column name="Type"></ngx-datatable-column>
        <ngx-datatable-column name="Docker Image"></ngx-datatable-column>
        <ngx-datatable-column name="Image Tag" prop="dockerImageTag"></ngx-datatable-column>
        <ngx-datatable-column name="Tenant" prop="tenantName"></ngx-datatable-column>
        <ngx-datatable-column name="Source Reference" prop="sourceRefId"></ngx-datatable-column>
        <ngx-datatable-column name="Status"></ngx-datatable-column>
        <ngx-datatable-column name="Started On" prop="kubernetesMetadata">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value?.startTime | date: 'short'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Completed On" prop="kubernetesMetadata">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value?.completionTime | date: 'short'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
            let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
            <div class="mt-2">
              <hr />
            </div>
            <div class="page-count">
              <div *ngIf="rowCount > pageSize else noPaging" class="text-muted">
                Displaying {{offset + 1}} - {{curPage * pageSize}} of {{rowCount}} Execution Job<span *ngIf="rowCount > 1">s</span>.
              </div>
              <ng-template #noPaging>
                <div class="text-muted">
                  Displaying {{rowCount}} Execution Job<span *ngIf="rowCount > 1">s</span>.
                </div>
              </ng-template>
            </div>
            <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
              [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
            </datatable-pager>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
</div>
