<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="row justify-content-center">
  <div class="card mb-4 col-lg-6">
    <form [formGroup]="userForm">
      <div *ngIf="isAuthUserSearched" class="card-body">
        <div class="form-group">
          <label class="form-label">First Name</label>
          <input type="text" class="form-control" placeholder="First Name" formControlName="firstName">
        </div>
        <div class="form-group">
          <label class="form-label">Last Name</label>
          <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName">
        </div>
        <div class="form-group">
          <label class="form-label">Email</label>
          <input type="text" class="form-control" placeholder="Email" formControlName="email">
        </div>
        <div class="form-group">
          <label class="form-label">Roles (Permissions)</label>
          <input type="text" class="form-control" placeholder="Roles" formControlName="roleNames">
        </div>
        <div class="form-group" *ngIf="!systemAdminRoleSelected">
          <label class="form-label">Tenant</label>
          <input type="text" class="form-control" placeholder="N/A" formControlName="tenantName">
        </div>
      </div>
      <div *ngIf="!isAuthUserSearched" class="pt-4 text-center">
        <h5>Invalid user search. Please ensure you are logged in with the correct user.</h5>
      </div>
      <div class="card-footer pr-0">
        <div class="text-right">
          <button type="button" class="btn btn-primary" (click)="backNavigate()">
            Go Back
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
