<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="card mb-4">
  <h4 class="card-header">
    {{isEditMode ? 'Media Details' : 'Upload Media'}}
  </h4>
  <div class="card-body">
    <div *ngIf="isEditMode" class="pb-3">
      <div class="card pb-3">
        <div class="card-header">Video Metadata</div>
        <div class="card-body pt-2 pb-2">
          <div class="row pl-3 pr-3 pt-2">
            <div class="col-sm-6">
              <div class="row meta-info">
                <div class="col-sm-5 text-muted">File Name</div>
                <div class="col-sm-1 p-0 text-muted">:</div>
                <div class="col-sm-6 p-0 text-muted">{{mediaFile?.fileName || "N/A"}}</div>
                <div class="col-sm-5 text-muted">Frame Count</div>
                <div class="col-sm-1 p-0 text-muted">:</div>
                <div class="col-sm-6 p-0 text-muted">{{mediaFile?.videoMetadata?.nb_frames || "N/A"}}</div>
                <div class="col-sm-5 text-muted">Bitrate</div>
                <div class="col-sm-1 p-0 text-muted">:</div>
                <div class="col-sm-6 p-0 text-muted">{{mediaFile?.videoMetadata?.bit_rate | bitrate}}</div>
                <div class="col-sm-5 text-muted">Width</div>
                <div class="col-sm-1 p-0 text-muted">:</div>
                <div class="col-sm-6 p-0 text-muted">{{mediaFile?.videoMetadata?.width || "N/A"}}</div>
                <div class="col-sm-5 text-muted">Height</div>
                <div class="col-sm-1 p-0 text-muted">:</div>
                <div class="col-sm-6 p-0 text-muted">{{mediaFile?.videoMetadata?.height || "N/A"}}</div>
              </div>
            </div>
            <div class="col-sm-6 pl-5">
              <div class="row meta-info">
                <div class="col-sm-5 text-muted">Codec Type</div>
                <div class="col-sm-1 p-0 text-muted">:</div>
                <div class="col-sm-6 p-0 text-muted">{{mediaFile?.videoMetadata?.codec_type || "N/A"}}</div>
                <div class="col-sm-5 text-muted">Time Base</div>
                <div class="col-sm-1 p-0 text-muted">:</div>
                <div class="col-sm-6 p-0 text-muted">{{mediaFile?.videoMetadata?.codec_time_base || "N/A"}}</div>
                <div class="col-sm-5 text-muted">Aspect Ratio</div>
                <div class="col-sm-1 p-0 text-muted">:</div>
                <div class="col-sm-6 p-0 text-muted">{{mediaFile?.videoMetadata?.display_aspect_ratio || "N/A"}}</div>
                <div class="col-sm-5 text-muted">Avg. Frame Rate</div>
                <div class="col-sm-1 p-0 text-muted">:</div>
                <div class="col-sm-6 p-0 text-muted">{{mediaFile?.videoMetadata?.avg_frame_rate || "N/A"}}</div>
                <div class="col-sm-5 text-muted">Codec</div>
                <div class="col-sm-1 p-0 text-muted">:</div>
                <div class="col-sm-6 p-0 text-muted">{{mediaFile?.videoMetadata?.codec_long_name || "N/A"}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="form-group pb-2">
      <label class="form-label">Select Media Category: *</label>
      <ng-select [items]="mediaCategories" bindLabel="name" bindValue="name" groupBy="categoryType" [multiple]="false"
        [(ngModel)]="mediaFile.categoryTypes">
        <ng-template ng-optgroup-tmp let-item="item">
          {{item.categoryType || 'Other'}}
        </ng-template>
      </ng-select>
    </div> -->
    <div class="row">
      <div class="col-sm-12" id="drag-drop-area"></div>
    </div>
    <div class="mt-3 text-right">
      <button class="btn btn-default" (click)="cancel()">Close</button>
      <!-- <button *ngIf="isEditMode" class="btn btn-primary" (click)="updateMediaFile()">Update</button> -->
    </div>
  </div>
</div>
