/*!*********************************************************************************************************************
 * Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                                *
 *                                                                                                                    *
 * CONFIDENTIAL                                                                                                       *
 *                                                                                                                    *
 * All information contained herein is, and remains the property of Pixglo Inc and its partners,                      *
 * if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its           *
 * partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or  *
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless     *
 * prior written permission is obtained from Pixglo Inc.                                                              *
 *                                                                                                                    *
 **********************************************************************************************************************/

@import '../../../../variable-imports';
@import '../../../../vendor/libs/ngx-dropzone-wrapper/ngx-dropzone-wrapper.scss';
@import '../../../../vendor/libs/spinkit/spinkit.scss';

.file-preview {
  padding-top: 40px;
  padding-bottom: 24px;

  .info {
    right: 0px !important;
    left: 0px !important;
  }
}

.dz-remove {
  padding-top: 14px !important;
}

.validation-spinner {
  margin-top :5px !important;
  margin-bottom: 0px !important;
}
