<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="row justify-content-center">
  <div *ngIf="isSystemRole" class="alert alert-warning" role="alert">
    This is a system managed role. Editing has been disabled.
  </div>
</div>
<div class="row justify-content-center">


  <div class="card mb-4 col-lg-6">
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="card-body">
        <div class="form-group">
          <label class="form-label">Role Name</label>
          <input type="text" class="form-control" placeholder="Name" formControlName="name" >
          <div *ngIf="form.invalid && form.controls.name.errors" class="invalid-feedback">
            <div *ngIf="form.controls.name.errors.required">Name is required</div>
          </div>
        </div>

        <div class="form-group">
          <label class="form-label">Permissions</label>
          <app-mover-box
            name="permissions"
            [title]="'Permissions'"
            [options]="permissions"
            [idField]="'id'"
            [labelField]="'displayName'"
            [groupField]="'module'"
            formControlName="permissions">
          </app-mover-box>
          <div *ngIf="form.invalid && form.controls.permissions.errors" class="invalid-feedback">
            <div *ngIf="form.controls.permissions.errors.required">At least one permission should be selected</div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex flex-row action-buttons">
          <button *ngIf="isEditMode && !isSystemRole" type="button" class="btn btn-danger mr-auto"
                  app-permission="ROLES_DELETE"
                  (click)="del()">
            Delete
          </button>
          <button type="button" class="btn btn-default ml-auto" (click)="cancel()">
            <ng-container *ngIf="isSystemRole; else saveLabel">
              Close
            </ng-container>
            <ng-template #saveLabel>
              Cancel
            </ng-template>
          </button>
          <button *ngIf="!isSystemRole" type="submit" class="btn btn-primary"
                  app-permission="ROLES_CREATE_OR_UPDATE"
                  [disabled]="form.pristine || form.invalid">
            <ng-container *ngIf="isEditMode; else saveLabel">
              Update
            </ng-container>
            <ng-template #saveLabel>
              Save
            </ng-template>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--&lt;!&ndash; Debug &ndash;&gt;-->
<!--<div class="row justify-content-center mt-6">-->
  <!--<div class="card mb-4 col-lg-6 mt-6">-->
    <!--<h6 class="card-header">-->
      <!--Debug-->
    <!--</h6>-->
    <!--<div class="card-body">-->
      <!--<pre> {{ form.controls['permissions'].errors | json }} </pre>-->
      <!--<pre> {{ form.controls['name'].errors | json }} </pre>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
