<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div #templateSelectModal>
  <div class="modal-body">
    <div class="card p-3">
      <h4>Select Template</h4>
      <div class="col-sm-12">
        <div class="flex-fill pt-2">
          <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchQuery" (keyup)='triggerSearch($event)'>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row bd-highlight mb-3 flex-wrap" [ngClass]="{'justify-content-between' : content.length > 3 }">
        <div class="custom-asset" *ngFor="let template of content">
          <div class="position-relative">
            <img [src]="'/v1/templates/'+template['id']+'/thumbnail'" class="img-fluid img-custom-thumbnail">
            <div class="banners">
              <span *ngIf="template.extracted" class="badge badge-dark">EXTRACTED</span>
              <ng-container *ngFor="let type of template.types">
                <span *ngIf="type === 'OVERLAY'" class="badge badge-info">{{type}}</span>
                <span *ngIf="type === 'TEMPLATE'" class="badge badge-danger">{{type}}</span>
              </ng-container>
            </div>
            <div class="overlay" [ngClass]="{ 'selected-template' : selectedTemplate?.id === template.id }"
            (click)="onTemplateSelect(template)">
              <div class="banners">
                <span *ngIf="template.extracted" class="badge badge-dark">EXTRACTED</span>
                <ng-container *ngFor="let type of template.types">
                  <span *ngIf="type === 'OVERLAY'" class="badge badge-info">{{type}}</span>
                  <span *ngIf="type === 'TEMPLATE'" class="badge badge-danger">{{type}}</span>
                </ng-container>
              </div>
              <div class="col-sm-12" [ngClass]="{ 'media-checked' : selectedTemplate?.id === template.id }">
                <div class="circle-loader" [ngClass]="{ 'load-complete' : selectedTemplate?.id === template.id }">
                  <div *ngIf="selectedTemplate?.id === template.id" class="checkmark draw"></div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="meta-name">
              {{ template['name'] }}
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="content.length > 0" class="col-sm-12 pagination-container text-right">
        <div class="d-flex flex-row justify-content-end">
          <ngb-pagination [collectionSize]="page.total" [(page)]="page.page" [pageSize]="page.size" [maxSize]="5" size="sm"
            (pageChange)="onPageChange($event)"></ngb-pagination>
        </div>
      </div>
      <div class="col-sm-12 card-footer pb-0 pr-0">
        <div class="text-right">
          <button class="btn btn-default" (click)="cancelSelection()">Cancel</button>
          <button class="btn btn-primary" (click)="applySelection()">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>
