/*!*********************************************************************************************************************
 * Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                                *
 *                                                                                                                    *
 * CONFIDENTIAL                                                                                                       *
 *                                                                                                                    *
 * All information contained herein is, and remains the property of Pixglo Inc and its partners,                      *
 * if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its           *
 * partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or  *
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless     *
 * prior written permission is obtained from Pixglo Inc.                                                              *
 *                                                                                                                    *
 **********************************************************************************************************************/

@import '../../../../../node_modules/bootstrap/scss/_functions.scss';
@import '../../../../vendor/styles/_appwork/functions';
@import '../../../../vendor/styles/_appwork/variables';
@import '../../../../../node_modules/videogular2/fonts/videogular.css';

::ng-deep .modal-lg .modal-dialog {
  max-width: 85rem !important;
}

/*!*********************************************************************************************************************
 * Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                                *
 *                                                                                                                    *
 * CONFIDENTIAL                                                                                                       *
 *                                                                                                                    *
 * All information contained herein is, and remains the property of Pixglo Inc and its partners,                      *
 * if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its           *
 * partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or  *
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless     *
 * prior written permission is obtained from Pixglo Inc.                                                              *
 *                                                                                                                    *
 **********************************************************************************************************************/

.container-fluid-custom {
  padding-left: 0px;
  padding-right: 0px;
  min-height: 500px;
  align-items: stretch;
}

.container {
  background: #f9f9f9;
  padding-left: 0px;
  padding-right: 0px;
}

.flex-column {
  max-width: 280px;
}

.scale {
  transform: scaleY(1.05);
  padding-top: 5px;
}

.custom-asset{
  padding: 5px;
  margin: 3px;
}

.btn-custom-width {
  font-size: 15px;
}
ul  .pagination {
  margin-bottom: 0px !important;
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.banners {
  position: absolute;
  top:5px;
  right:5px;
}

.custom-asset:hover .overlay, .selected-template {
  opacity: 0.9;
}

.asset-info {
  margin-top: 30px;
  margin-left: 10px;
  color: #ffffff;
}

// .custom-asset:hover .custom-badge {
//   background-color: #ffffff;
//   color: #1c2128;
// }

.asset-controls {
  margin-top: 60px;
  opacity: 1;
}

.badge-meta {
  color: #212529;
  background-color: #e7e8e9;
}

.badge-meta[href]:hover, .badge-light[href]:focus {
  color: #212529;
  text-decoration: none;
  background-color: darken(#e7e8e9, 10%);
}

.meta-name {
  margin-top: 5px;
  text-align: center;
  font-weight: bolder;
}

.pagination-container {
  padding-top: 10px;
  padding-right: 0px;
  padding-left: 0px;
}

.pagination-right {
  float: right;
}

.no-data-container {
  margin-top: 250px;
}

.img-custom-thumbnail {
  width:250px;
  height: 150px;
  cursor: pointer;
}

// Animated media check circle
$brand-success: #49b549;
$loader-size: 30px;
$check-height: $loader-size/2;
$check-width: $check-height/2;
$check-left: ($loader-size/6 + $loader-size/12) - 2;
$check-thickness: 3px;
$check-color: $brand-success;

.circle-loader {
  top: 115px;
  left: 200px;
  margin-bottom: $loader-size/2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: $check-color;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: $loader-size;
  height: $loader-size;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: $check-color;
  transition: border 500ms ease-out;
}

.checkmark {
  &.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }

  &:after {
    opacity: 1;
    height: $check-height;
    width: $check-width;
    transform-origin: left top;
    border-right: $check-thickness solid $check-color;
    border-top: $check-thickness solid $check-color;
    content: '';
    left: $check-left;
    top: $check-height;
    position: absolute;
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: $check-width;
    opacity: 1;
  }
  40% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
  100% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
}


