<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
~                                                                                                                   ~
~ CONFIDENTIAL                                                                                                      ~
~                                                                                                                   ~
~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
~ prior written permission is obtained from Pixglo Inc.                                                             ~
~                                                                                                                   ~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div>
  <div class="d-flex pb-1">
    <div class="flex-fill">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchQuery"
          (keyup)="triggerSearch($event)">
      </div>
    </div>
    <div class="pr-0 pl-2">
      <button type="button" class="btn btn-md btn-primary" (click)="createRenderingJob()">
        <span class="fas fa-window-restore"></span>&nbsp;&nbsp;Create Job
      </button>
    </div>
  </div>
  <div class="card">
    <div class="card-ngx-datatable table-responsive">
      <ngx-datatable #table class="material expandable" [rows]="content" [loadingIndicator]="isLoadingContent"
        [columnMode]="'force'" [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true"
        [externalPaging]="true" [count]="page.total" [offset]="page.page - 1" [limit]="page.size"
        (page)='loadPage($event)' class="bootstrap">

        <!-- Row Detail Template -->
        <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
            <div class="dt-detail-row pt-1 pb-3">
              <div>
                <table>
                  <tr>
                    <th>Region</th>
                    <th>Rendering Status</th>
                    <th>Preview</th>
                  </tr>
                  <tr *ngFor="let region of row?.regions">
                    <td>{{region.name}}</td>
                    <td>{{region.renderingStatus || 'N/A'}}</td>
                    <td>
                      <button [disabled]="'SUCCESS' !== region.renderingStatus" type="button"
                        class="btn icon-btn btn-sm btn-primary" (click)="previewRenderedContent(row, region.id)"
                        title="Preview Content">
                        <span class="fas fa-play"></span>
                      </button>
                      <button type="button" class="btn icon-btn btn-sm btn-dark" title="Download Content"
                        (click)="downloadRenderedVideo(row, region.id)">
                        <span class="fas fa-download"></span>
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-row-detail>

        <!-- Column Templates -->
        <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
            </a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Name"></ngx-datatable-column>
        <ngx-datatable-column name="Media File Name">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            {{ value || 'N/A' }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Regions">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span class="pr-1" *ngFor="let region of row?.regions">
              <span (click)="toggleExpandRow(row)" class="region-badge badge"
                [ngClass]="(region.renderingStatus==='SUCCESS') ? 'badge-success' : 'badge-secondary'">
                {{ region.name }}
              </span>
            </span>
            <span *ngIf="!row.regions.length" class="region-badge badge badge-warning">
              Default
            </span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Actions">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="text-right">
              <button type="button" (click)="processRenderingJob(row)" class="btn icon-btn btn-sm btn-dark"
                title="Process Rendering Job">
                <span class="fas fa-edit"></span>
              </button>
              <button type="button" (click)="deleteRenderingJob(row)" class="btn icon-btn btn-sm btn-danger"
                title="Delete Rendering Job">
                <span class="fas fa-trash-alt"></span>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
            let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
            <div class="mt-2">
              <hr />
            </div>
            <div class="page-count">
              <div *ngIf="rowCount > pageSize else noPaging" class="text-muted">
                Displaying {{offset + 1}} - {{curPage * pageSize}} of {{rowCount}} Rendering Job<span
                  *ngIf="offset + 1 > 1 || rowCount > 1">s</span>.
              </div>
              <ng-template #noPaging>
                <div class="text-muted">
                  Displaying {{rowCount}} Rendering Job<span *ngIf="! rowCount == 1">s</span>.
                </div>
              </ng-template>
            </div>
            <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
              [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
              (change)="table.onFooterPage($event)">
            </datatable-pager>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
</div>
