/*!*********************************************************************************************************************
 * Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                                *
 *                                                                                                                    *
 * CONFIDENTIAL                                                                                                       *
 *                                                                                                                    *
 * All information contained herein is, and remains the property of Pixglo Inc and its partners,                      *
 * if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its           *
 * partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or  *
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless     *
 * prior written permission is obtained from Pixglo Inc.                                                              *
 *                                                                                                                    *
 **********************************************************************************************************************/

@import "../../../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../../vendor/styles/_appwork/functions";
@import "../../../../vendor/styles/_appwork/variables";

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

td, th {
  text-align: left;
  padding: 8px;
}

.dt-detail-row {
  padding-left: 54px;
}

.region-badge {
  cursor: pointer;
}

::ng-deep {
  .ngx-datatable.bootstrap {
    .datatable-body {
      .datatable-body-row {
        vertical-align: top;
        border-top: 1px solid #f1f1f2;
        &.active {
          background-color: #1483ff;
          color: #FFF;
        }
        .datatable-body-cell {
          text-align: left;
          vertical-align: top;
        }
      }
    }
  }
}
