/*!*********************************************************************************************************************
 * Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                                *
 *                                                                                                                    *
 * CONFIDENTIAL                                                                                                       *
 *                                                                                                                    *
 * All information contained herein is, and remains the property of Pixglo Inc and its partners,                      *
 * if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its           *
 * partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or  *
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless     *
 * prior written permission is obtained from Pixglo Inc.                                                              *
 *                                                                                                                    *
 **********************************************************************************************************************/

@import "../../../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../../vendor/styles/_appwork/functions";
@import "../../../../vendor/styles/_appwork/variables";

.media-file-container {
  padding-bottom: 10px;

  .thumbnail {
    width: 200px;
    height: 150px;
    background: #f1efef;
    margin: 10px 10px 0px 10px;
    position: relative;

    .tbl {
      display: table;
      width: 100%;
      height: 100%;
      position: absolute;

      .tbl-cell {
        display: table-cell;
        vertical-align: middle;

        .bg-icon-default {
          color: #b5b7b7;
          border-width: 2px;
          border-style: solid;
          padding: 8px;
          border-radius: 20px;
          font-size: 40px;
        }
      }
    }

    .info-state {
      position: absolute;
      left: 0;
      z-index: 10;
      color: white;
    }
  }

  .info-file-name {
    font-size: 13px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .info-file-size, .info-file-type {
    background: #f3f2f1;
  }
}

.overlay {
  display: none;
  position: absolute;
  top: 40%;
}

.thumbnail:hover {
  background: rgba(0,0,0,0.7) !important;
}

.thumbnail:hover .bg-icon-default {
  color: rgba(0,0,0,0.1) !important;
}

.thumbnail:hover .info-state .badge-primary {
  color: rgba(0,0,0,0.1) !important;
  background: rgba(0,0,0,0.1) !important;
}

.thumbnail:hover .overlay {
  display: block;
}

