<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div>
  <div class="d-flex pb-3">
    <div class="flex-fill pt-2">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchQuery"
          (keyup)='triggerSearch($event)'>
      </div>
    </div>
    <div class="pr-0 pt-2 pl-2">
      <button *ngIf="!isTileView" class="btn btn-md btn-primary" type="button" title="Tile View"
        (click)="switchView('tile')">
        <span class="fas fa-th"></span>
      </button>
      <button *ngIf="isTileView" class="btn btn-md btn-primary" type="button" title="List View" (click)="switchView()">
        <span class="fas fa-th-list"></span>
      </button>
      <button type="button" class="btn btn-md btn-primary" routerLink="/media/create">
        <span class="fas fa-video"></span>&nbsp;&nbsp;Upload Media
      </button>
    </div>
  </div>
  <div *ngIf="!isTileView" class="card">
    <div class="card-ngx-datatable table-responsive">
      <ngx-datatable #table style="min-width: 500px" [rows]="content" [loadingIndicator]="loading"
        [columnMode]="'force'" [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true"
        [externalPaging]="true" [count]="page.total" [offset]="page.page - 1" [limit]="page.size"
        (page)='loadPage($event)'>
        <ngx-datatable-column name="File Name"></ngx-datatable-column>
        <ngx-datatable-column name="Media Type"></ngx-datatable-column>
        <!-- <ngx-datatable-column name="Category" prop="categoryTypes">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value.join(', ')}}
          </ng-template>
        </ngx-datatable-column> -->
        <ngx-datatable-column name="File Size" prop="fileSizeBytes">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | fileSize}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Duration" prop="videoMetadata">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value?.duration | duration: 's'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Uploaded On" prop="createdAt">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | date: 'short'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status"></ngx-datatable-column>
        <ngx-datatable-column [maxWidth]="150" [minWidth]="150" [frozenRight]="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="text-center">
              <button type="button" class="btn icon-btn btn-sm btn-primary" (click)="previewMediaContent(row)"
                title="Preview Content">
                <span class="fas fa-play"></span>
              </button>
              <button type="button" class="btn icon-btn btn-sm btn-info" (click)="editMediaContent(row)"
                title="View Content">
                <span class="fas fa-eye"></span>
              </button>
              <button type="button" class="btn icon-btn btn-sm btn-danger" (click)="delete(row)"
                app-permission="MEDIA_DELETE">
                <span class="fas fa-trash-alt"></span>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
            let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
            <div class="mt-2">
              <hr />
            </div>
            <div class="page-count">
              <div *ngIf="rowCount > pageSize else noPaging" class="text-muted">
                Displaying {{offset + 1}} - {{curPage * pageSize}} of {{rowCount}} Media File<span
                  *ngIf="! rowCount == 1">s</span>.
              </div>
              <ng-template #noPaging>
                <div class="text-muted">
                  Displaying {{rowCount}} Media File<span *ngIf="! rowCount == 1">s</span>.
                </div>
              </ng-template>
            </div>
            <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
              [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
              (change)="table.onFooterPage($event)">
            </datatable-pager>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
  <div *ngIf="isTileView" class="card">
    <div class="d-flex flex-row bd-highlight mb-3 flex-wrap">
      <div *ngFor="let mediaFile of content" class="media-file-container">
        <div class="thumbnail">
          <div class="tbl text-center">
            <div class="tbl-cell">
              <span *ngIf="mediaFile.status === 'PRE_PROCESSED'">
                <img [src]="'/v1/media/'+mediaFile['id']+'/thumbnail-content'" class="img-fluid img-custom-thumbnail">
              </span>
              <span *ngIf="mediaFile.status !== 'PRE_PROCESSED'" class="bg-icon-default fas fa-video"></span>
              <div class="col-sm-12 overlay">
                <button type="button" class="btn icon-btn btn-md btn-primary" (click)="previewMediaContent(mediaFile)"
                  title="Preview Content">
                  <span class="fas fa-play"></span>
                </button>
                <button type="button" class="btn icon-btn btn-md btn-info" title="Edit Media File"
                  (click)="editMediaContent(mediaFile)">
                  <span class="fas fa-edit"></span>
                </button>
                <button app-permission="MEDIA_DELETE" type="button" class="btn icon-btn btn-md btn-danger"
                  title="Delete Media File" (click)="delete(mediaFile)">
                  <span class="fas fa-trash"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="info-state">
            <span class="badge badge-primary m-1">{{mediaFile.status}}</span>
          </div>
        </div>
        <div class="col-sm-12 info-file-name text-muted text-center">{{mediaFile.fileName}}</div>
        <div class="col-sm-12 d-flex justify-content-between">
          <div class="info-file-size text-muted badge badge-default">{{mediaFile.fileSizeBytes | fileSize}}</div>
          <div class="info-file-type text-muted badge badge-default">{{mediaFile.mediaType}}</div>
        </div>
      </div>
    </div>
    <div *ngIf="content.length > 0" class="col-sm-12 pagination-container text-right">
      <div class="d-flex flex-row justify-content-end">
        <ngb-pagination [collectionSize]="page.total" [(page)]="page.page" [pageSize]="page.size" [maxSize]="5"
          size="sm" (pageChange)="onPageChange($event)"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
