<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="authentication-wrapper authentication-3">
  <div class="authentication-inner">
    <div class="d-none d-lg-flex col-lg-8 align-items-center ui-bg-cover ui-bg-overlay-container p-5" style="background-image: url('assets/img/bg/studio_login_bg.png');">
      <div class="ui-bg-overlay bg-dark opacity-50"></div>
      <div class="w-100 text-white px-5 text-center">
        <h1 class="display-2 font-weight-bolder mb-4">instaBrand</h1>
        <div class="text-large font-weight-light">
          <b>Virtualize. Customize. Monetize.</b>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column col-lg-4">
      <div class="flex-grow-1 d-flex align-items-center bg-white p-5">
      <div class="d-flex col-sm-7 col-md-5 col-lg-12 px-0 px-xl-4 mx-auto">
        <div class="w-100">
          <div class="d-flex justify-content-center align-items-center">
            <div style="width: 140px !important">
              <div class="w-100 position-relative" style="padding-bottom: 40%">
                <img src="assets/img/logos/logo.png" alt="" class="w-100 position-absolute">
              </div>
            </div>
          </div>
          <h4 class="text-center text-lighter font-weight-normal mt-3 mb-0">Sign In to Your Account</h4>
          <form class="my-5" (ngSubmit)="signIn()" #loginForm="ngForm">
            <div class="form-group">
              <label class="form-label d-flex justify-content-between align-items-end">
                <div>Email</div>
              </label>
              <input [(ngModel)]="email" name="email" type="text" class="form-control" required>
              <small class="invalid-feedback">Email address is required</small>
            </div>
            <div class="form-group">
              <label class="form-label d-flex justify-content-between align-items-end">
                <div>Password</div>
              </label>
              <input [(ngModel)]="password" name="password" type="password" class="form-control" required>
              <small class="invalid-feedback">Password is required</small>
            </div>
            <div *ngIf="message" class="signin-message"
                 [class.warning]="messageType == messageTypeEnum.WARNING"
                 [class.error]="messageType == messageTypeEnum.ERROR"
              >
              {{message}}
            </div>
            <div class="col-lg-12 p-0 m-0 text-right">
              <button [ladda]="isSigningIn" data-style="slide-left" type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
      <div class="text-center version-bar text-muted">
        <!-- Version Footer -->
        <span class="badge badge-dark" title="{{config.buildTime}}">{{config.version}}</span>
        <ng-container  [ngSwitch]="config.environment">
          <span *ngSwitchCase="'development'" class="badge badge-secondary text-uppercase" title="{{config.gitCommit}}-{{config.gitCommitTime}}">{{config.environment}}</span>
          <span *ngSwitchCase="'qa'" class="badge badge-success text-uppercase" title="{{config.gitCommit}}-{{config.gitCommitTime}}">{{config.environment}}</span>
          <span *ngSwitchCase="'stage'" class="badge badge-warning text-uppercase" title="{{config.gitCommit}}-{{config.gitCommitTime}}">{{config.environment}}</span>
          <span *ngSwitchCase="'production'"><!-- We do not show a badge on production --></span>
          <span *ngSwitchDefault class="badge badge-info text-uppercase"><!-- Unknown Environment -->{{config.environment}}</span>
        </ng-container>
      </div>
    </div>
  </div>

</div>
