/*!*********************************************************************************************************************
 * Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                                *
 *                                                                                                                    *
 * CONFIDENTIAL                                                                                                       *
 *                                                                                                                    *
 * All information contained herein is, and remains the property of Pixglo Inc and its partners,                      *
 * if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its           *
 * partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or  *
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless     *
 * prior written permission is obtained from Pixglo Inc.                                                              *
 *                                                                                                                    *
 **********************************************************************************************************************/

@import '../../../../variable-imports';
@import '../../../../vendor/styles/pages/authentication.scss';
@import '../../../../vendor/libs/angular2-ladda/angular2-ladda.scss';

.signin-message {
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;

  &.error {
    background-color: $red;
    color: white;
  }

  &.warning {
    background-color:theme-color("warning");
    color: $body-color;
  }
}

.version-bar {
  margin-top: 5px;
  margin-bottom: 15px;
}
