/*!*********************************************************************************************************************
 * Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                                *
 *                                                                                                                    *
 * CONFIDENTIAL                                                                                                       *
 *                                                                                                                    *
 * All information contained herein is, and remains the property of Pixglo Inc and its partners,                      *
 * if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its           *
 * partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or  *
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless     *
 * prior written permission is obtained from Pixglo Inc.                                                              *
 *                                                                                                                    *
 **********************************************************************************************************************/

@import '../../../../../node_modules/bootstrap/scss/_functions.scss';
@import '../../../../vendor/styles/_appwork/functions';
@import '../../../../vendor/styles/_appwork/variables';
@import '../../../../../node_modules/videogular2/fonts/videogular.css';

::ng-deep .modal-lg .modal-dialog {
  max-width: 75rem !important;
}

.media-file-container {
  padding-bottom: 10px;

  .thumbnail {
    width: 200px;
    height: 150px;
    background: #f1efef;
    margin: 10px 10px 0px 10px;
    position: relative;

    .tbl {
      display: table;
      width: 100%;
      height: 100%;
      position: absolute;

      .tbl-cell {
        display: table-cell;
        vertical-align: middle;

        .bg-icon-default {
          color: #b5b7b7;
          border-width: 2px;
          border-style: solid;
          padding: 8px;
          border-radius: 20px;
          font-size: 40px;
        }
      }
    }

    .info-state {
      position: absolute;
      left: 0;
      z-index: 10;
      color: white;
    }
  }

  .info-file-name {
    font-size: 13px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .info-file-size, .info-file-type {
    background: #f3f2f1;
  }
}

.overlay {
  display: none;
  position: absolute;
  top: 40%;
}

.thumbnail:hover, .selected-media {
  background: rgba(0,0,0,0.2) !important;
  cursor: pointer;
}

.thumbnail:hover .bg-icon-default {
  color: rgba(0,0,0,0.1) !important;
}

.thumbnail:hover .info-state .badge-primary {
  color: rgba(0,0,0,0.1) !important;
  background: rgba(0,0,0,0.1) !important;
}

.thumbnail:hover .overlay, .media-checked {
  display: block;
}

// Animated media check circle
$brand-success: #49b549;
$loader-size: 30px;
$check-height: $loader-size/2;
$check-width: $check-height/2;
$check-left: ($loader-size/6 + $loader-size/12) - 2;
$check-thickness: 3px;
$check-color: $brand-success;

.circle-loader {
  top: 56px;
  left: 80px;
  margin-bottom: $loader-size/2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: $check-color;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: $loader-size;
  height: $loader-size;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: $check-color;
  transition: border 500ms ease-out;
}

.checkmark {
  &.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }

  &:after {
    opacity: 1;
    height: $check-height;
    width: $check-width;
    transform-origin: left top;
    border-right: $check-thickness solid $check-color;
    border-top: $check-thickness solid $check-color;
    content: '';
    left: $check-left;
    top: $check-height;
    position: absolute;
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: $check-width;
    opacity: 1;
  }
  40% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
  100% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
}


