<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div #sourceMediaSelectModal>
  <div class="modal-body">
    <div class="card p-3">
      <h4>Select Media</h4>
      <div class="col-sm-12">
        <div class="flex-fill pt-2">
          <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchQuery" (keyup)='triggerSearch($event)'>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row bd-highlight mb-3 flex-wrap" [ngClass]="{'justify-content-between' : content.length > 3 }">
        <div *ngFor="let mediaFile of content" class="media-file-container">
          <div class="thumbnail" [ngClass]="{ 'selected-media' : selectedSourceMedia?.id === mediaFile.id }" (click)="onMediaSelect(mediaFile)">
            <div class="tbl text-center">
              <div class="tbl-cell">
                <span>
                  <img [src]="'/v1/media/'+mediaFile['id']+'/thumbnail-content'" class="img-fluid img-custom-thumbnail">
                </span>
                <div class="col-sm-12 overlay" [ngClass]="{ 'media-checked' : selectedSourceMedia?.id === mediaFile.id }">
                  <div class="circle-loader" [ngClass]="{ 'load-complete' : selectedSourceMedia?.id === mediaFile.id }">
                    <div *ngIf="selectedSourceMedia?.id === mediaFile.id" class="checkmark draw"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="info-state">
              <!-- {{mediaFile.status}} -->
              <span class="badge badge-primary m-1">PRE-PROCESSED</span>
            </div>
          </div>
          <div class="col-sm-12 info-file-name text-muted text-center">{{mediaFile.fileName}}</div>
          <div class="col-sm-12 d-flex justify-content-between">
            <div class="info-file-size text-muted badge badge-default">{{mediaFile.fileSizeBytes | fileSize}}</div>
            <div class="info-file-type text-muted badge badge-default">{{mediaFile.mediaType}}</div>
          </div>
        </div>
      </div>
      <div *ngIf="content.length > 0" class="col-sm-12 pagination-container text-right">
        <div class="d-flex flex-row justify-content-end">
          <ngb-pagination [collectionSize]="page.total" [(page)]="page.page" [pageSize]="page.size" [maxSize]="5" size="sm"
            (pageChange)="onPageChange($event)"></ngb-pagination>
        </div>
      </div>
      <div class="col-sm-12 card-footer pb-0 pr-0">
        <div class="text-right">
          <button class="btn btn-default" (click)="cancelSelection()">Cancel</button>
          <button class="btn btn-primary" (click)="applySelection()">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>
