/*!*********************************************************************************************************************
 * Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                                *
 *                                                                                                                    *
 * CONFIDENTIAL                                                                                                       *
 *                                                                                                                    *
 * All information contained herein is, and remains the property of Pixglo Inc and its partners,                      *
 * if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its           *
 * partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or  *
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless     *
 * prior written permission is obtained from Pixglo Inc.                                                              *
 *                                                                                                                    *
 **********************************************************************************************************************/
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../vendor/styles/_appwork/functions";
@import "../../vendor/styles/_appwork/variables";

.pixglo-logo-100 {
  display: block;
  width: 100px;
  height: 36px;
  background-position: center;
}

.pixglo-logo-44 {
  display: block;
  width: 44px;
  height: 36px;
  background-image: url("../../assets/img/logos/pg_44.png");
  background-position: center;
}


.pixglo-branding {

}


// Cards - Action Buttons
.action-buttons {
  button {
    margin: 0px 5px;
  }
}

.app-screen-header {
  margin-top: 8px;
  margin-bottom: 0px;
  color: $body-color;
}

// Search Bars

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
  padding-left: 2.375rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  background: transparent;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

// Used by the permission directive to force hide an element.
.force-hidden {
  display: none !important;
}

.force-hidden.d-block {
  display: none !important;
}

.filter-show {
	overflow: hidden;
 }


 .right-sidebarfilter {
    z-index: 999;
    width: 500px;   
    color: #384042;
    border-left: 1px solid #e5e9ec;
    background: #fff;
}

.right-sidebarfilter  {
    position: fixed;
    right: 0;  
    height: 100%;	
	top:60px;
	background: #ffffff;
	z-index: 5;
	-webkit-transition-duration: .25s, .25s;
    transition-duration: .25s, .25s;
    -webkit-transition-property: margin-left, margin-right;
	transition-property: margin-left, margin-right;
	box-shadow: 0 10px 10px 10px rgba(115,108,203,.1);
}

.filterscrolbar{
	overflow-y: scroll;
    height: 100%;
	padding-bottom: 130px;	
}

.scrollbarcustom::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scrollbarcustom::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
	height: 10px;
}

.scrollbarcustom::-webkit-scrollbar-thumb
{
	background-color: #7a7250;
}

.right-sidebarfilter.show{
	margin-right: 0px;
}
.right-sidebarfilter.hidden{
	margin-right: -680px;
}

.todate{
    width: 10%;
    float: left;
    line-height: 40px;
    text-align: center;
    display: table;
}
.filterdate {
    display: inline-flex;
	width: 45%;
	position: relative;
}

.reset-icon {
    position: absolute;
    offset-rotate: 0;
    transform: rotate(149deg);
    color: #fcca03;
    font-size: 17px;
    font-weight: bolder;
    border: 1px solid black;
    width: 15px;
    top: 14px;
    left: 18px;
}

.side-navbar-toggler {
    padding: 0.375rem 0.25rem;
    line-height: 1.5;
}

.bs-datepicker-head {
    background-color: #f39200 !important;
}

.bs-datepicker-body table td.week span {
    color: #f39200 !important;
}



