/*!*********************************************************************************************************************
 * Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                                *
 *                                                                                                                    *
 * CONFIDENTIAL                                                                                                       *
 *                                                                                                                    *
 * All information contained herein is, and remains the property of Pixglo Inc and its partners,                      *
 * if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its           *
 * partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or  *
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless     *
 * prior written permission is obtained from Pixglo Inc.                                                              *
 *                                                                                                                    *
 **********************************************************************************************************************/
@import "../../../node_modules/@ng-select/ng-select/themes/default.theme.css";

ng-select.is-invalid {

  .ng-select-container {
    border-color: #d9534f !important;
  }
}

ng-select.is-invalid ~ .invalid-feedback {
  display: block;
}

// From Default Theme
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  font-size: 0.9em;
  margin-bottom: 5px;
  background-color: rgba(255, 230, 213, 0.76);
  border-radius: 2px;
  border: 1px solid #ffbe86;
  margin-right: 5px
}
