/*!*********************************************************************************************************************
 * Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                                *
 *                                                                                                                    *
 * CONFIDENTIAL                                                                                                       *
 *                                                                                                                    *
 * All information contained herein is, and remains the property of Pixglo Inc and its partners,                      *
 * if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its           *
 * partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or  *
 * copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless     *
 * prior written permission is obtained from Pixglo Inc.                                                              *
 *                                                                                                                    *
 **********************************************************************************************************************/



// Sweet Alert 2 Customizations
.app-notification {

  .swal2-header {
    align-items: inherit !important;
    flex-direction: row !important;
  }

  .swal2-icon {
    margin: 0 !important;
    position: absolute !important;
    top: calc(50% - 45px);
    left: 25px;
  }

  .swal2-title {
    font-size: 1em !important;
    margin-top: 20px !important;
    margin-left: 120px !important;
  }
  .swal2-content {
    font-size: 0.9em !important;
    margin-left: 120px !important;
  }
  #swal2-content {
    text-align: left !important;
  }

  .swal2-success-circular-line-left[style] {
    background-color: transparent !important;
  }

  .swal2-success-circular-line-left[style] {
    background-color: transparent !important;
  }

  .swal2-success-circular-line-right[style] {
    background-color: transparent !important;
  }

  .swal2-success-fix[style] {
    background-color: transparent !important;
  }

  &.toast-mode {
    min-height: 125px;

    .swal2-title {
      margin-top: 0px !important;
    }
  }

  .swal2-actions {
    button {
      margin: 0px 5px;
    }
  }
}
