<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<nav class="footer" [ngClass]="currentBg()">
  <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
    <div class="pt-3  text-muted">
      <span class="font-weight-bolder">{{config.applicationOrganization}}</span>
      © {{year}}
    </div>
    <div class="pt-3">
      <!-- Version Footer -->
      <span class="badge badge-dark" title="{{config.buildTime}}">{{config.version}}</span>
      <ng-container  [ngSwitch]="config.environment">
        <span *ngSwitchCase="'development'" class="badge badge-secondary text-uppercase" title="{{config.gitCommit}}-{{config.gitCommitTime}}">{{config.environment}}</span>
        <span *ngSwitchCase="'qa'" class="badge badge-success text-uppercase" title="{{config.gitCommit}}-{{config.gitCommitTime}}">{{config.environment}}</span>
        <span *ngSwitchCase="'stage'" class="badge badge-warning text-uppercase" title="{{config.gitCommit}}-{{config.gitCommitTime}}">{{config.environment}}</span>
        <span *ngSwitchCase="'production'"><!-- We do not show a badge on production --></span>
        <span *ngSwitchDefault class="badge badge-info text-uppercase"><!-- Unknown Environment -->{{config.environment}}</span>
      </ng-container>
    </div>
  </div>
</nav>
