<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div #renderingJobNameCapture>
  <div class="modal-body">
    <div class="card p-3">
      <form [formGroup]="renderingJobForm" (ngSubmit)="createRenderingJob($event)" (keydown.enter)="createRenderingJob($event)">
        <div class="card-header p-2">
          <h4>Create Rendering Job</h4>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" placeholder="Enter Rendering Job Name" formControlName="name" >
            <div *ngIf="renderingJobForm.invalid && renderingJobForm.controls.name.errors" class="invalid-feedback" >
              <div *ngIf="renderingJobForm.controls.name.errors.required">Job name is required</div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 card-footer pb-0 pr-0">
          <div class="text-right">
            <button class="btn btn-danger" (click)="cancelRenderingJobCreation()">Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="renderingJobForm.pristine || renderingJobForm.invalid">Create</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
