<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (C) 2018 Pixglo Inc - All Rights Reserved                                                               ~
  ~                                                                                                                   ~
  ~ CONFIDENTIAL                                                                                                      ~
  ~                                                                                                                   ~
  ~ All information contained herein is, and remains the property of Pixglo Inc and its partners,                     ~
  ~ if any.  The intellectual and technical concepts contained herein are proprietary to Pixglo Inc  and its          ~
  ~ partners and may be covered by U.S. and Foreign Patents, patents in process, and are protected by trade secret or ~
  ~ copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless    ~
  ~ prior written permission is obtained from Pixglo Inc.                                                             ~
  ~                                                                                                                   ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="layout-wrapper layout-1" [ngClass]="{'layout-loading': !initialized}">
  <div class="layout-inner">
    <div class="layout-container">
      <app-layout-sidenav></app-layout-sidenav>

      <div class="layout-content">
        <div class="container-fluid router-transitions d-flex align-items-stretch flex-grow-1 p-0">
          <router-outlet></router-outlet>
        </div>

        <app-layout-footer></app-layout-footer>
      </div>
    </div>
  </div>
</div>
<div class="layout-overlay" (click)="closeSidenav()"></div>
